==
<div id="footer">
    <div class="container text-center">
        <hr />
        <p class="muted credit">&copy; 2019 - {{ "now"|date("Y") }} Firemon 112 e.V. | <a href="{{ 'impressum'|page }}">Impressum</a> | <a href="{{ 'datenschutz'|page }}">Datenschutz</a> | <a href="{{ 'transparenz-spenden'|page }}">Transparenz</a></p>
        <a href='https://play.google.com/store/apps/details?id=de.firemon112.app&gl=DE' target="_blank"><img alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png' height="50"/></a> <a href="https://apps.apple.com/de/app/firemon-112-app/id6447294694" target="_blank"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/de-DE?size=150x50&amp;releaseDate=1321920000" alt="Download on the App Store" height="40" style="border-radius: 6px;"></a>
    </div>
</div>