<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    {% if user and this.page.submenuPartial %}
    <div class="container semifluid">
    {% else %}
    <div class="container">
    {% endif %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if user %}{{ 'account-index'|page }}{% else %}{{ 'index'|page }}{% endif %}">
                <img src="{{ 'assets/images/firemon-112-logo-v2.png'|theme }}" alt="Firemon 112" />
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse navbar-right">
            <ul class="nav navbar-nav">
                {% if user %}
                    {% if station %}
                        {% if feuerwehr_admin %}<li class="{% if this.page.id == 'feuerwehr' %}active{% endif %}"><a href="{{ 'feuerwehr'|page }}">Feuerwehr</a></li>{% endif %}
                        {% if alarmierung_admin or alarmierung_readonly %}<li class="{% if this.page.id == 'alarme' %}active{% endif %}"><a href="{{ 'alarme'|page }}">Alarme</a></li>{% endif %}
                        {% if dienstplan_admin %}<li class="{% if this.page.id == 'presences' %}active{% endif %}"><a href="{{ 'presences'|page }}">Dienstplan</a></li>{% endif %}
                        {% if termine_admin %}<li class="{% if this.page.id == 'event-list' %}active{% endif %}"><a href="{{ 'event-list'|page }}">Termine &amp; News</a></li>{% endif %}
                        <li class="{% if this.page.id == 'account-index' %}active{% endif %}"><a href="{{ 'account-index'|page }}">Account</a></li>
                    {% endif %}
                {% endif %}
                {% if not user %}
                    <li><a href="{{ 'account'|page }}">Anmelden</a></li>
                    <li><a href="{{ 'verein'|page }}">Verein</a></li>
                    <li><a href="{{ 'onboarding'|page }}">Testzugang</a></li>
                    <li><a href="{{ 'lehrgaenge'|page({ source: null, year: null }) }}">Lehrgänge</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% flash %}
<div class="alert alert-{{ type }}">
    {{ message }}
</div>
{% endflash %}