{% if not user %}
<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <h3>Anmelden</h3>
        {% partial __SELF__ ~ '::signin' %}
    </div>

</div>

{% else %}

{% partial __SELF__ ~ '::activation_check' %}

{% partial __SELF__ ~ '::update' %}

{% endif %}