{% if canRegister %}
<h3>Account anfragen</h3>

{{ form_ajax('onRegister') }}

<div class="form-group">
    <label for="registerName">Name</label>
    <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="Bitte vollständigen Namen angeben!" />
</div>

<div class="form-group">
    <label for="registerEmail">Email</label>
    <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="Bitte E-Mail angeben!" />
</div>

{% if loginAttribute == "username" %}
<div class="form-group">
    <label for="registerUsername">Benutzername</label>
    <input
            name="username"
            type="text"
            class="form-control"
            id="registerUsername"
            placeholder="Bitte Benutzername angeben" />
</div>
{% endif %}

<div class="form-group">
    <label for="registerPassword">Passwort</label>
    <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="Bitte Passwort wählen!" />
</div>

<button type="submit" class="btn btn-default">Accountanfrage stellen</button>
<p>
    <b>Hinweis:</b> Die Accountanfrage wird manuell überprüft - dies kann einige Zeit in Anspruch nehmen - Rückmeldung erfolgt per E-Mail.
</p>
{{ form_close() }}
{% else %}
<!-- Registration is disabled. -->
{% endif %}