{{ form_ajax('onSignin',{ id: 'loginForm' }) }}
{% if recaptcha_enabled %}
{{ secureReCaptchaScript('loginForm', true) }}
{% endif %}
<div class="form-group">
    <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
    <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Bitte {{ loginAttributeLabel }} eingeben!" />
</div>

<div class="form-group">
    <label for="userSigninPassword">Passwort</label>
    <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Bitte Passwort eingeben!" />
</div>

{% if rememberLoginMode == 'ask' %}
<div class="form-group">
    <div class="checkbox">
        <label><input name="remember" type="checkbox" value="1">Angemeldet bleiben</label>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="text-left col-xs-6">
        {% if recaptcha_enabled %}
            {{ secureReCaptchaButton('Anmelden', 'btn btn-default') }}
        {% else %}
            <button type="submit" class="btn btn-default">Anmelden</button>
        {% endif %}
    </div>
    <div class="text-right col-xs-6">
        <a href="{{ 'sms-login'|page }}" class="btn btn-default">SMS-Login</a>
    </div>
</div>
<div class="row m-t-md">
    <div class="text-center col-xs-12">
        <a href="{{ 'lost-password'|page }}">Passwort vergessen?</a>
    </div>
</div>
<hr>
<div class="row m-t-md">
    <div class="text-center col-xs-12">
        Noch keinen Firemon 112 Account?<br />
        <a href="{{ 'register'|page }}">Registrieren</a>
    </div>
</div>
{{ form_close() }}