
<div class="row">

    <div class="col-xs-12 col-md-6">
        {{ form_ajax('onUpdate') }}
        <h3>Benutzerdaten</h3>

        <div class="form-group">
            <label for="accountEmail">Email</label>
            <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
        </div>

        <div class="form-group">
            <label for="accountName">Vorname</label>
            <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
        </div>

        <div class="form-group">
            <label for="accountName">Nachname</label>
            <input name="surname" type="text" class="form-control" id="accountSurName" value="{{ user.surname }}">
        </div>

        {% if user.trigger_alert_email %}
        <div class="form-group">
            <label for="accountName">Alarm E-Mail</label>
            <input name="alert_email" type="text" class="form-control" id="accountAlertEmail" value="{{ user.alert_email }}">
        </div>
        {% endif %}


        <div class="form-group">
            <label for="accountName">Handynummer</label>
            <input name="alert_sms" type="text" class="form-control" id="accountAlertSms" value="{{ user.alert_sms }}">
        </div>

        {% if user.alert_call %}
        <div class="form-group">
            <label for="accountName">Alarm Rufnummer für Voice-Call</label>
            <input name="alert_call" type="text" class="form-control" id="accountAlertCall" value="{{ user.alert_call }}">
        </div>
        {% endif %}

        {% if user.alert_call_second %}
        <div class="form-group">
            <label for="accountName">Zweite Alarm Rufnummer für Voice-Call</label>
            <input name="alert_call_second" type="text" class="form-control" id="accountAlertCallSecond" value="{{ user.alert_call_second }}">
        </div>
        {% endif %}

        <div class="text-center m-t-sm m-b-sm">
            <button type="submit" class="btn btn-default">Daten speichern</button>
        </div>

        {{ form_close() }}
    </div>

    <div class="col-xs-12 col-md-6">
        {{ form_ajax('onUpdate') }}
        <h3>Passwort ändern</h3>

        <div class="form-group">
            <label for="accountPassword">Neues Passwort</label>
            <input name="password" type="password" class="form-control" id="accountPassword">
        </div>

        <div class="form-group">
            <label for="accountPasswordConfirm">Passwortwiederholung</label>
            <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-default">Passwort ändern</button>
        </div>

        {{ form_close() }}

        <h3>Dein Bild</h3>

        {% if user.avatar %}
        {{ user.avatar.file_name }} ({{ user.avatar.size }})
        <button data-request="onDeleteImage" data-request-confirm="Bild {{ frontenduser.avatar.file_name }} wirklich löschen?" class="btn btn-default">Bild löschen</button>
        <img src="{{ user.avatar.path }}" alt="" class="img-responsive"/>
        {% else %}
        {{ form_ajax('onUpdateAvatar', {'enctype':'multipart/form-data', 'data-request-files':''}) }}
        {{ form_file('avatar', null ,{'class':'form-control'}) }}
        <div class="text-center">
            <button type="submit" class="btn btn-default">Avatar speichern</button>
        </div>
        {{ form_close() }}
        {% endif %}
    </div>


</div>
