<div class="row">

    <div class="col-md-6 p-x-sm  col-lg-offset-3" id="partialUserResetForm">
        {% if __SELF__.code == null %}
            {% partial __SELF__ ~ '::restore' %}
        {% else %}
            {% partial __SELF__ ~ '::reset' %}
        {% endif %}
    </div>

</div>