<p>
    Es wurde eine E-Mail mit einem Aktivierungs-Code an die angegebene E-Mail versendet. Mit Hilfe dieses Codes kann ein neues Passwort gesetzt werden.
</p>
<form
        data-request="{{ __SELF__ }}::onResetPassword"
        data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">Aktivierungscode</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Aktivierungs-Code eingeben" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">Neues Passwort</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Neues Passwort wählen">
    </div>

    <button type="submit" class="btn btn-default">Neues Passwort speichern</button>
</form>