<p>
    Nach Eingabe der E-Mail Adresse wird eine E-Mail mit Aktivierungs-Code versendet - damit kann ein neues Passwort festgelegt werden.
</p>
<form
        data-request="{{ __SELF__ }}::onRestorePassword"
        data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">E-Mail:</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="E-Mail Adresse angeben">
    </div>

    <button type="submit" class="btn btn-default">Passwort zurücksetzen</button>
</form>