{% if contact %}
    {{ form_ajax('onSaveContact', { 'data-request-update': 'contact_list_form: \'#contact-list-form-' ~ contact.id ~ '\'', 'data-request-flash':'data-request-flash', 'id' : 'contactform-' ~ contact.id }) }}
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        {{ form_label('label', 'Name / Bezeichnung', {'class':'is-required'}) }}
                        {{ form_text('label', contact.label ,{'class':'form-control'}) }}
                        {{ form_label('street_no', 'Straße, Nummer') }}
                        {{ form_text('street_no', contact.street_no ,{'class':'form-control'}) }}
                        {{ form_label('zip_city', 'Plz, Ort') }}
                        {{ form_text('zip_city', contact.zip_city ,{'class':'form-control'}) }}
                    </td>
                    <td>
                        {{ form_label('email', 'E-Mail') }}
                        {{ form_text('email', contact.email ,{'class':'form-control'}) }}
                        {{ form_label('phone', 'Telefon') }}
                        {{ form_text('phone', contact.phone ,{'class':'form-control'}) }}
                        {{ form_label('mobile', 'Mobil') }}
                        {{ form_text('mobile', contact.mobile ,{'class':'form-control'}) }}
                    </td>
                    <td>
                        {{ form_label('type', 'Kontaktgruppe', {'class':'is-required'}) }}
                        {{ form_select('type', contact.getTypeOptions(), contact.type, {'class':'form-control'}) }}
                        <input type="hidden" name="id" value="{{ contact.id }}"/><br /><br /><br /><br />
                        <button class="btn m-b-sm m-r-sm btn-firemon-grey" style="float:left" id="bt-save-contact-{{ contact.id }}"><i class="icon-check"></i> Speichern</button>
                        <button data-request="onDeleteContact" style="float:right" class="btn m-b-sm m-r-sm btn-firemon-grey" data-request-confirm="Kontakt {{ contact.label }} wirklich löschen?" data-request-update="contact_list: '#contact-list'" data-request-data="contact_id: {{ contact.id }}" data-request-flash><i class="icon-trash"></i> Löschen</button><br />
                    </td>
                </tr>
            </tbody>
        </table>
    {{ form_close() }}
    <script>
        document.getElementById("{{ 'contactform-' ~ contact.id }}").onkeyup = function(e) {
            document.getElementById("{{ 'bt-save-contact-' ~ contact.id }}").classList.add("bt-pending-change");
        }
        document.getElementById("{{ 'contactform-' ~ contact.id }}").onchange = function(e) {
            document.getElementById("{{ 'bt-save-contact-' ~ contact.id }}").classList.add("bt-pending-change");
        }
    </script>
{% else %}
    <p>Kein Kontakt enthalten</p>
{% endif %}
