{% if entity.contacts and entity.contacts.count > 0 %}
    {% for contact in entity.contacts|sort( (a,b) => b.id <=> a.id ) %}
        <div id="contact-list-form-{{ contact.id }}">
            {% partial "contact_list_form" contact=contact %}
        </div>
    {% endfor %}
{% else %}
    <p>Keine Kontakte vorhanden</p>
{% endif %}
