<div class="row">
    <div class="col-sm-9">
        <h3>Kontakte</h3>
    </div>
    <div class="col-sm-3 text-right">
        <button data-request="onCreateContact" class="btn m-b-sm m-r-sm btn-firemon-grey" style="margin-top: 10px;" data-request-update="contact_list: '#contact-list'"><i class="icon-user"></i> Neuer Kontakt</button>
    </div>
</div>
{% if entity %}
<div class="row">
    <div class="col-sm-12" id="contact-list">
        {% partial "contact_list" entity=entity %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <p style="color:red;"><b>Um Kontakte anlegen zu können muss das Objekt zunächst gespeichert werden.</b></p>
    </div>
</div>
{% endif %}