{% if importitems|length > 0 %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Bezeichnung</th>
            <th scope="col">Details</th>
            <th scope="col">Ort</th>
            <th scope="col">Start</th>
            <th scope="col">Ende</th>
            <th scope="col">Personenkreis</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Zu / Absage</th>
            <th scope="col">Erinnerung per E-Mail</th>
            <th scope="col">Pflichttermin</th>
            <th scope="col">Öffentlicher Termin</th>
        </tr>
        </thead>
        <tbody>
        {% for item in importitems %}
        <tr>
            <th scope="row">{{ item.event.label }}</th>
            <td>{{ item.event.description }}</td>
            <td>{{ item.event.location }}</td>
            <td>{{ item.event.date_from }}</td>
            <td>{{ item.event.date_to }}</td>
            <td>{{ item.user_group_names ? item.user_group_names|join(',') : '- Alle -' }}</td>
            <td>{{ item.event.categoryReadable }}</td>
            <td>{{ item.event.subscription_required ? 'Ja' : 'Nein' }}</td>
            <td>{{ item.event.email_reminder ? 'Ja' : 'Nein' }}</td>
            <td>{{ item.event.duty ? 'Ja' : 'Nein' }}</td>
            <td>{{ item.event.public ? 'Ja' : 'Nein' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="form-inline" data-request="onImport">

        <div class="col-sm-12">
            <h4>Vorhandene Termine löschen (!)</h4>
            {{ form_checkbox('delete_existing_events', null) }} &nbsp; {{ form_label('delete_existing_events', 'Vorhandene Termine löschen') }}
        </div>

        <div class="col-sm-12 text-center">
            <input type="hidden" name="eventdata" value="{{ importitems|json_encode() }}">
            <input type="hidden" name="userid" value="{{ user.id }}">
            <p>
                <button type="submit" class="btn btn btn-firemon">Import jetzt durchführen ({{ importitems|length  }})</button>
            </p>
        </div>
    </form>
</div>
{% else %}
<div class="text-center">
    <p>Der Import erfordert ein definiertes Excel-Format. Eine Muster-Datei ist <a href="{{ "/assets/downloads/termin-import-beispiel.xls"|theme }}" target="_blank">hier verfügbar</a>.</p>
    <p>Die Felder <b>Bezeichnung</b>, <b>Ort</b>, <b>Start</b>, <b>Ende</b> und <b>Kategorie</b> sind pflichtfelder.</p>
    <p>Die möglichen Werte for Personenkreis und Kategorie können aus den Dropdown-Feldern <a href="{{ 'event-edit'|page }}">des Formulars</a> entnommen werden.</p>
    <p>Alternativ kann auch das <b>Dienstbuch als CSV aus Fox 112</b> importiert werden.</p>
    <form class="form-inline" data-request="onPrepareImport" data-request-update="event_importlist: '#importlist'" data-request-files>
        <p>
            <label>Import Datei auswählen</label><br />
            <input class="form-control" name="import-file" type="file" accept="application/*, text/plain, text/csv"><br />
        </p>
        <p>
            <button type="submit" class="btn btn btn-firemon">Upload starten</button>
        </p>
    </form>
    <p>
        Nach dem Upload können die importierten Daten zunächst noch gesichtet werden, bevor der tatsächliche Import-Vorgang startet.
    </p>
</div>
{% endif %}
