<div class="row">
    <div class="col-sm-12 m-t-md">
        <h3>Dokumente</h3>
    </div>
</div>
{% if entity %}
<div class="row">
    <div class="col-sm-12 text-center">
        <form class="uploadFileForm" data-request-update="file_upload: '#file-list'" data-request="onUploadFile" data-request-success="resetUpload()" data-request-files enctype="multipart/form-data">
            <div class="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop für Upload</header>
                <span>oder</span>
                <button>Datei(en) auswählen</button>
                <input type="file" name="files[]" multiple hidden style="display: none;">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="file-list">
        {% partial "file_upload" entity=entity %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <p style="color:red;"><b>Um Dokumente hochladen zu können muss das Objekt zunächst gespeichert werden.</b></p>
    </div>
</div>
{% endif %}