{% if file %}
    <form data-request="onUpdateFileTitle" data-request-update="file_upload_titleform: '#file-list-form-{{ file.id }}'" data-request-data="file_id: {{ file.id }}" data-request-flash id="file-form-{{ file.id }}">
        <input type="text" name="title" value="{{ file.title }}" class="form-control"/>
        <button class="btn m-b-sm m-r-sm btn-firemon-grey" id="bt-save-fu-{{ file.id }}"><i class="icon-check"></i></button>
    </form>
    <script>
        document.getElementById("{{ 'file-form-' ~ file.id }}").onkeyup = function(e) {
            document.getElementById("{{ 'bt-save-fu-' ~ file.id }}").classList.add("bt-pending-change");
        }
    </script>
{% endif %}