{% if entity %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Dokument</th>
        <th scope="col">Datei</th>
    </tr>
    </thead>
    <tbody>
    {% if entity.files|length > 0 %}
    {% for file in entity.files|sort((a, b) => a.sort_order <=> b.sort_order)  %}
    <tr>
        <td>
            {% if 'image' in file.content_type %}
            <a href="{{file.path }}" target="_blank"><img src="{{ file.thumb(auto, 75) }}" alt="{{ file.file_name }}" /></a>
            {% else %}
            <a href="{{file.path }}" target="_blank">{{ file.title ? file.title : file.file_name }}</a>
            {% endif %}
        </td>
        <td>{{ file.content_type }}, {{ file.size }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="2">Keine Dokumente vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}