<table class="table" id="sortableTable">
    <thead>
    <tr>
        <th scope="col">Dokument</th>
        <th scope="col">Bezeichnung</th>
        <th scope="col">Datei</th>
        <th scope="col">Datum</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if entity.files %}
        {% for file in entity.files|sort((a, b) => a.sort_order <=> b.sort_order)  %}
            <tr data-id="{{ file.id }}">
                <td class="sortHandle">
                    {% if 'image' in file.content_type %}
                        <a href="{{file.path }}" target="_blank"><img src="{{ file.thumb(auto, 75) }}" alt="{{ file.file_name }}" /></a>
                    {% else %}
                        <a href="{{file.path }}" target="_blank">{{ file.file_name }}</a>
                    {% endif %}
                </td>
                <td>
                    <div id="file-list-form-{{ file.id }}" class="file-list-form">
                        {% partial "file_upload_titleform" file=file %}
                    </div>
                </td>
                <td>{{ file.content_type }}<br />{{ file.size }}</td>
                <td>{{ file.created_at|date('Y-m-d H:i:s', 'Europe/Berlin') }}</td>
                <td><button data-request="onDeleteFile" data-request-confirm="Dokument {{ file.file_name }} wirklich löschen?" data-request-update="file_upload: '#file-list'" data-request-data="file_id: {{ file.id }}" data-request-success="initSortableTableRow();" class="btn btn-sm" title="Löschen" style="line-height: 1;"><i class="icon-trash"></i></button></td>
            </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">Keine Dokumente vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>