{% if importitems|length > 0 %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Firemon ID</th>
            <th scope="col">Bezeichnung / Nummer</th>
            <th scope="col">Typ</th>
            <th scope="col">Leitungsart</th>
            <th scope="col">Nenndurchmesser</th>
            <th scope="col">Long</th>
            <th scope="col">Lat</th>
        </tr>
        </thead>
        <tbody>
        {% for item in importitems %}
        <tr>
            <th scope="row">{{ item.id > 0 ? item.id : 'neu!' }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.hydranttype.name }}</td>
            <td>{{ item.waterpipeReadable }}</td>
            <td>{{ item.flowrate }}</td>
            <td>{{ item.long }}</td>
            <td>{{ item.lat }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="form-inline" data-request="onImport">

        <div class="col-sm-12">
            <h4>Vorhandene Hydranten löschen (!)</h4>
            {{ form_checkbox('delete_existing_hydrants', null) }} &nbsp; {{ form_label('delete_existing_hydrants', 'Vorhandene Hydranten löschen') }}
        </div>

        <div class="col-sm-12 text-center">
            <input type="hidden" name="eventdata" value="{{ importitems|json_encode() }}">
            <input type="hidden" name="userid" value="{{ user.id }}">
            <p>
                <button type="submit" class="btn btn btn-firemon">Import jetzt durchführen ({{ importitems|length  }})</button>
            </p>
        </div>
    </form>
</div>
{% else %}
    {% if mode == 'file' %}
    <div class="text-center">
        <p>Der Import unterstützt Excel (XLSX) und GPS Exchange Format (GPX).</p>
        <p>Die Import-Dateien erfordern das gleiche Format wie die downloadbaren Export-Dateien - daher können die Downloads gut als Vorlage verwendet werden.</p>
        <p>Es bietet sich an einen Testhydranten anzulegen um ein konkretes Beispiel in den Download Dateien zu haben.</p>
        <form class="form-inline" data-request="onPrepareImport" data-request-update="hydrant_importlist: '#importlist'" data-request-files>
            <p>
                <label>Import Datei auswählen</label><br />
                <input class="form-control" name="import-file" type="file" accept="application/*"><br />
            </p>
            <p>
                <button type="submit" class="btn btn btn-firemon">Upload starten</button>
            </p>
        </form>
        <p>
            Nach dem Upload können die importierten Daten zunächst noch gesichtet werden, bevor der tatsächliche Import-Vorgang startet.
        </p>
    </div>
    {% else %}
        <div id="map" class="responsive_map" style="min-height: 400px;"></div>
        <p>
            Hier werden Hydranten von <a href="https://www.osmhydrant.org/de/" target="_blank">OsmHydrant</a> eingeblendet. Zum Import gefundener Hydranten einfach die zu importierenden Hydranten per Polygon "einkreisen" - die so gekennzeichneten Hydranten können dann importiert werden. Bestehende Hydranten sind grau eingezeichnet, neu gefundene gelb. Die Hydrantensuche und der Datenabgleich kann je nach Datenmenge etwas dauern!
        </p>
        <p class="small-head">
            Hinweis: Es werden nur die Hydranten angezeigt, die im Kartenausschnitt gefunden werden konnten. Hierbei wird aus Gründen der Benutzbarkeit eine maximale Fläche von 5km x 5km abgefragt - basierend auf dem Mittelpunkt der Karte.
            Um Doppelimporte zu vermeiden, werden außerdem nur Hydranten angezeigt, die mindestens 2 Meter von einem ggf. bereits in Firemon 112 existierenden Hydranten entfernt sind.
        </p>
    {% endif %}
{% endif %}
