{% if successMessage %}
<span style="color:green;"><i class="icon icon-check-sign"></i> {{ successMessage }}</span>
{% else %}
    {% if inviteUser %}
        <span style="color:green;">{{ inviteUser.name }} {{ inviteUser.surname }} {% if inviteUser.station %}(Heimatwehr {{ inviteUser.station.name }}){% endif %} gefunden!</span><br />
        <button data-request="onInviteUser" data-request-update="invite_found_user: '#searchInviteUserResult', user_invites_sent: '#user_invites_sent'" data-request-data="inviteUserId: {{ inviteUser.id }}"
            class="btn btn-success m-b-sm m-r-sm" >{{ inviteUser.name }} {{ inviteUser.surname }} jetzt einladen</button>
    {% else %}
        {% if errorMessage %}
            <span style="color:red;">{{ errorMessage }}</span>
        {% else %}
            <span style="color:red;">Es ist ein unbekannter Fehler aufgetreten!</span>
        {% endif %}
    {% endif %}
{% endif %}