{% set sameuser = false %}
{% set membergroups = [] %}
{% if frontenduser != null %}
    {% set membergroups = frontenduser.groups|map(item => item.id) %}
{% endif %}
{% if frontenduser != null and user != null and frontenduser.id == user.id %}
    {% set sameuser = true %}
{% endif %}
<div class="col-sm-12">
    <h3>Funktionen</h3>
    <ul class="responsive-list">
        {% set thisgroups = groups|filter(v=>v.isFunktion)|sort((a, b) => b.prio <=> a.prio) %}
        {% if thisgroups|length > 0 %}
            {% for group in thisgroups %}
                <li>
                    <input id="checkbox-groups-{{group.id}}" name="usergroups[]" value="{{group.id}}" type="checkbox" {% if group.id in membergroups or group.id in post('usergroups') %}checked=checked" aria-checked="true"{% else %}aria-checked="false"{% endif %} />
                    <span class="mission_role_pill" style="color: {{ group.marker_color }}; border-color: {{ group.marker_color }};" title="{{group.name}}">{{ group.short_name }}</span> <label for="checkbox-groups-{{group.id}}">&nbsp;{{group.name}}
                    {% if group.is_mission_operator %}&nbsp;<i class="icon-eye-open"></i>{% endif %}</label>
                    {% if group.is_mission_admin %}&nbsp;<i class="icon-bell"></i>{% endif %}</label>
                </li>
            {% endfor %}
        {% else %}
            <li>Keine Funktionen vorhanden</li>
        {% endif %}
    </ul>
    <p>
        Alle mit <i class="icon-eye-open"></i> gekennzeichneten Funktionen dürfen Einsatz-Details in der App einsehen.<br />
        Alle mit <i class="icon-bell"></i> gekennzeichneten Funktionen dürfen im Einsatz Führungsfunktionen wahrnehmen (z.B. Nachalarmieren)
    </p>

    <hr>

    <h3>Gruppen</h3>
    <ul class="responsive-list">
        {% set thisgroups = groups|filter(v=>v.isGruppe)|sort((a, b) => a.name <=> b.name) %}
        {% if thisgroups|length > 0 %}
            {% for group in thisgroups %}
                <li>
                    <input id="checkbox-groups-{{group.id}}" name="usergroups[]" value="{{group.id}}" type="checkbox" {% if group.id in membergroups or group.id in post('usergroups') %}checked=checked" aria-checked="true"{% else %}aria-checked="false"{% endif %} />
                    <label for="checkbox-groups-{{group.id}}">&nbsp;{{group.name}}</label><br />
                </li>
            {% endfor %}
        {% else %}
            <li>Keine Gruppen vorhanden</li>
        {% endif %}
    </ul>

    <hr>

    <h3>Admin Gruppen</h3>
    {% if sameuser %}
        <p><b>Achtung:</b> Admin Rollen für sich selbst können nur durch andere User mit Änderungsberechtigung für Feuerwehr-Daten geändert werden.</p>
    {% endif %}
    <ul class="responsive-list">
        {% set thisgroups = groups|filter(v=>v.isAdmin)|sort((a, b) => a.name <=> b.name) %}
        {% if thisgroups|length > 0 %}
            {% for group in thisgroups %}
                <li>
                {% if sameuser %}
                    {% if group.id in membergroups %}
                    <input type="hidden" name="usergroups[]" value="{{group.id}}" />
                    <label for="checkbox-groups-{{group.id}}">- {{group.name}}</label><br />
                    {% endif %}
                {% else %}
                    <input id="checkbox-groups-{{group.id}}" name="usergroups[]" value="{{group.id}}" type="checkbox" {% if group.id in membergroups or group.id in post('usergroups') %}checked=checked" aria-checked="true"{% else %}aria-checked="false"{% endif %} />
                    <label for="checkbox-groups-{{group.id}}">&nbsp;{{group.name}}</label><br />
                {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li>Keine Admin Gruppen vorhanden</li>
        {% endif %}
    </ul>
</div>