<hr>
<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <input id="checkbox-stations-{{station.id}}" name="checkbox-stations[]" value="{{station.id}}" type="checkbox" {% if station.id in post('checkbox-stations') %}checked=checked" aria-checked="true"{% else %}aria-checked="false"{% endif %} />
        <label for="checkbox-stations-{{station.id}}">&nbsp;{{station.name}} alarmieren</label><br />
    </div>
    <div class="col-sm-12 col-lg-6">
        {% for alertgroup in station.alertgroups|sort( (a,b) => b.prio <=> a.prio)|filter(v => v.enabled) %}
        <a class="btn m-b-sm m-r-sm btn-firemon f112-icon f112-bell" data-addgroup="{{ alertgroup.filter }}">{{ alertgroup.label }}</a>
        {% endfor %}
    </div>
</div>