<table class="table">
    <thead>
    <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Name, Vorname</th>
        <th scope="col">Funktionen und Gruppen</th>
        <th scope="col">Auslösewege</th>
        <th scope="col">Aktion</th>
    </tr>
    </thead>
    <tbody>
    {% if linked_users.count() > 0 %}
    {% for feuser in linked_users|sort( (a,b) => a.surname <=> b.surname) %}
    <tr>
        <th scope="row" class="w-50">
            {% partial "user_avatar" avatar=feuser.avatar is_activated=feuser.is_activated %}
        </th>
        <td>
            {{ feuser.surname }}, {{ feuser.name }} ({{ feuser.station.name }})<br />
            <a href="{{ 'kamerad-roles'|page({ frontenduser_id: feuser.id }) }}" class="color-gray"><i class="icon icon-shield"></i> Gruppen und Funktionen</a>
        </td>
        <td style="font-size: 0.9em;">
            {% partial "user_roles_listitem" feuser=feuser station=station %}
        </td>
        <td>
            {% if feuser.trigger_alert_email %} <i class="f112-icon f112-mail" title="E-Mail"/> {% endif %}
            {% if feuser.trigger_alert_sms %} <i class="f112-icon f112-message-text" title="SMS"/> {% endif %}
            {% if feuser.trigger_alert_call %} <i class="f112-icon f112-phone" title="Voice-Call"/> {% endif %}
            {% if feuser.allow_app_usage %} <i class="f112-icon f112-devices" title="App-Nutzung erlaubt"/> {% endif %}
        </td>
        <td>
            <button data-request="onUnlinkUserFromStation" data-request-confirm="Kamerad {{ feuser.name }} {{ feuser.surname }} wirklich löschen?" data-request-update="station_linked_users: '#station_linked_users'" data-request-data="linked_user_id: {{ feuser.id }}" class="btn btn-sm" title="Löschen" style="line-height: 1;"><i class="icon-trash"></i></button>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="5">Keine Kameraden vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>