<div class="avatar-holder">
    {% if avatar %}
    <img src="{{ avatar.path|resize(50, 50, { mode: 'crop' }) }}" alt=""/>
    {% else %}
    <img src="{{ 'assets/icons/avatar.png'|theme|resize(50, 50, { mode: 'crop' }) }}">
    {% endif %}
    {% if is_activated %}
    <i class="icon-circle color-green"></i>
    {% else %}
    <i class="icon-circle color-red"></i>
    {% endif %}
</div>