{% if successMessage %}
    <span style="color:green;"><i class="icon icon-check-sign"></i> {{ successMessage }}</span>
{% endif %}
{% if errorMessage %}
    <span style="color:red;"><i class="icon icon-exclamation-sign"></i> {{ errorMessage }}</span>
{% endif %}
{% set invites_new = invites|filter(v => v.isNew) %}
{% if invites_new|length > 0 %}
    <h3>Du hast {{ invites_new|length }} neue Einladungen</h3>
    <ul>
        {% for invite in invites_new %}
        <li>
            Von {{ invite.sender.name }} {{ invite.sender.surname }}{% if invite.sender.station %} ({{ invite.sender.station.name }}){% endif %}<br />
            Einladung zur Mitgliedschaft in {% if invite.payload.station_name %}{{ invite.payload.station_name }}{% endif %}<br />
            <button data-request="onInviteResponse" data-request-update="user_invites_received: '#user_invites', user_linked_stations: '#user_linked_stations'" data-request-data="inviteid: {{ invite.id }}, accept:1"
                    class="btn m-b-sm m-r-sm btn-success" >Einladung annehmen</button>
            <button data-request="onInviteResponse" data-request-update="user_invites_received: '#user_invites', user_linked_stations: '#user_linked_stations'" data-request-data="inviteid: {{ invite.id }}, accept:0"
                    class="btn m-b-sm m-r-sm btn-danger" >Einladung ablehnen</button>
        </li>
        {% endfor %}
    </ul>
{% endif %}