{% if importitems|length > 0 %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Mobil</th>
            <th scope="col">Status</th>
            <th scope="col">Hinweis</th>
        </tr>
        </thead>
        <tbody>
        {% for item in importitems %}
        <tr {% if item.status == "ok" %}style="background-color: #dcedc8;"{% else %}style="background-color: #FFE5E5;"{% endif %}>
        <th scope="row">{{ item.name }}</th>
        <td>{{ item.surname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.hint }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="form-inline" data-request="onImport">

        {% partial "kamerad_edit_roles" frontenduser=null user=null groups=groups %}

        <div class="col-sm-12">
            <h4>Aktivierungsmails senden (kann auch später manuell nachgeholt werden)</h4>
            {{ form_checkbox('send_activation_mail', null) }} &nbsp; {{ form_label('send_activation_mail', 'Aktivierungsmails senden') }}
        </div>

        <div class="col-sm-12">
            <h4>Alarmierungen und App</h4>
            {{ form_checkbox('allow_app_usage', null) }} &nbsp; {{ form_label('allow_app_usage', 'App-Nutzung erlauben') }}<br />
            {{ form_checkbox('trigger_alert_sms', null) }} &nbsp; {{ form_label('trigger_alert_sms', 'Alarmierung per SMS erlauben') }}<br />
            {{ form_checkbox('trigger_alert_email', null) }} &nbsp; {{ form_label('trigger_alert_email', 'Alarmierung per E-Mail erlauben') }}<br />
            {{ form_checkbox('trigger_alert_call', null) }} &nbsp; {{ form_label('trigger_alert_call', 'Alarmierung per Anruf erlauben') }}<br />
        </div>

        <div class="col-sm-12 text-center">
            <input type="hidden" name="userdata" value="{{ importitems|filter(v => v.status=='ok')|json_encode() }}">
            <input type="hidden" name="userid" value="{{ user.id }}">

            <p>
                <button type="submit" class="btn btn btn-firemon">Import jetzt durchführen ({{ importitems|filter(v => v.status=='ok')|length  }})</button>
            </p>
        </div>
    </form>
</div>
{% else %}
<div class="text-center">
    <p>Der Import ist auf die Export-Datei aus Fox 112 optimiert. Eine Muster-Datei ist <a href="{{ "/assets/downloads/Listengenerator.xls"|theme }}" target="_blank">hier verfügbar</a>.</p>
    <form class="form-inline" data-request="onPrepareImport" data-request-update="user_importlist: '#importlist'" data-request-files>
        <p>
            <label>Import Datei auswählen</label><br />
            <input class="form-control" name="import-file" type="file" accept="application/*"><br />
        </p>
        <p>
            <button type="submit" class="btn btn btn-firemon">Upload starten</button>
        </p>
    </form>
    <p>
        Nach dem Upload können die importierten Daten zunächst noch gesichtet werden, bevor der tatsächliche Import-Vorgang startet.
    </p>
</div>
{% endif %}
