<h4>Deine Zweitmitgliedschaften</h4>

<ul>
    {% if linked_stations|length > 0 %}
    {% for lstation in linked_stations %}
        <li>{{ lstation.name }} <button data-request="onUnlinkStationFromUser" data-request-confirm="Mitgliedschaft bei {{ lstation.name }} wirklich beenden?" data-request-update="user_linked_stations: '#user_linked_stations'" data-request-data="linked_station_id: {{ lstation.id }}" class="btn btn-sm" title="Löschen" style="line-height: 1;"><i class="icon-trash"></i></button></li>
    {% endfor %}
    {% else %}
        <li>keine</li>
    {% endif %}
</ul>
