{% set direct_alertgroups = usr.alertgroups.lists('id') %}
{% set all_alertgroups = usr.related_alert_groups.lists('id') %}

{% if stationgroups %}
{% for alertgroup in stationgroups|filter(v => v.enabled and not v.is_dynamic_group)|sort((a,b) => b.prio <=> a.prio) %}
    {% if alertgroup.id in all_alertgroups %}
        {% if alertgroup.id in direct_alertgroups %}
            <button data-request="onUpdateAlertGroups" data-request-update="user_alertgroups: '#alertgroups-{{ usr.id }}'" data-request-data="feuserid: {{ usr.id }}, togglealertgroup: {{ alertgroup.id }}"
                class="btn m-b-sm m-r-sm btn-firemon-green"  title="Zuordnung Aktiv">{{ alertgroup.label }}</button>
        {% else %}
            <span class="fake-btn m-b-sm m-r-sm btn-firemon-green" title="Zuordnung über Gruppe">{{ alertgroup.label }} <i class="icon icon-group"></i></span>
        {% endif %}
    {% else %}
        <button data-request="onUpdateAlertGroups" data-request-update="user_alertgroups: '#alertgroups-{{ usr.id }}'" data-request-data="feuserid: {{ usr.id }}, togglealertgroup: {{ alertgroup.id }}"
            class="btn m-b-sm m-r-sm btn-firemon-grey" >{{ alertgroup.label }}</button>
    {% endif %}
{% endfor %}
{% endif %}
