{% set membergroups = feuser.groups|map(item => item.id) %}
{% for group in station.groups|filter(v=>v.isFunktion)|sort((a, b) => b.prio <=> a.prio) %}
    {% if group.id in membergroups %}
    <span class="mission_role_pill" style="color: {{ group.marker_color }}; border-color: {{ group.marker_color }};" title="{{group.name}}">{{ group.short_name }}</span>
    {% endif %}
{% endfor %}
{% if feuser.station_id != station.id %}
<span class="otherstation_pill">{{ feuser.station.name }}</span>
{% endif %}