<div  id="event-{{ event.id }}">
{% set mysub = null %}
{% if event.subscriptions %}
    {% for sub in event.subscriptions %}
        {% if sub.user_id == user.id %}
            {% set mysub = sub %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if mysub %}
    {% if mysub.available %}
        <div style="display: inline-block;">
            <p style="color: green;">Du hast zugesagt :-) Bis dann!</p>
        </div>
        {% if event.is_upcoming %}
        <div style="display: inline-block;">
            <button data-request="onSubscribeEvent" data-request-update="user_subscribe_event: '#event-{{ event.id }}'" data-request-data="subscribe_id: {{ mysub.id }}, available: 0"
                    class="btn m-b-sm m-r-sm btn-default" style="color:white; background-color: red;" >Doch absagen</button>
        </div>
        {% endif %}
    {% else %}
        {% if event.is_upcoming %}
        <div style="display: inline-block;">
            <form data-request="onSubscribeEvent" data-request-update="user_subscribe_event: '#event-{{ event.id }}'" data-request-data="subscribe_id: {{ mysub.id }}">
                <div style="display: inline-block; margin-right: 20px;">
                    <p style="color: red;">Abgesagt :-(</p>
                </div>

                <div style="display: inline-block;">
                    <input type="text" name="reason" value="{{ mysub.reason }}" class="form-control" />
                </div>
                <div style="display: inline-block;">
                    <button class="btn m-b-sm m-r-sm btn-firemon-grey" >Senden</button>
                </div>
            </form>
        </div>
        <div style="display: inline-block;">
            <button data-request="onSubscribeEvent" data-request-update="user_subscribe_event: '#event-{{ event.id }}'" data-request-data="subscribe_id: {{ mysub.id }}, available: 1"
                    class="btn m-b-sm m-r-sm btn-default" style="color:white; background-color: green;" >Doch zusagen</button>
        </div>
        {% else %}
            <p style="color: red;">Du hast wegen <b>{{ mysub.reason }}</b> abgesagt :-(</p>
        {% endif %}
    {% endif %}
{% else %}
    {% if event.is_upcoming %}
        <button data-request="onSubscribeEvent" data-request-update="user_subscribe_event: '#event-{{ event.id }}'" data-request-data="event_id: {{ event.id }}, available: 1"
                class="btn m-b-sm m-r-sm btn-default" style="color:white; background-color: green;" >Ich bin dabei!</button>
        <button data-request="onSubscribeEvent" data-request-update="user_subscribe_event: '#event-{{ event.id }}'" data-request-data="event_id: {{ event.id }}, available: 0"
                class="btn m-b-sm m-r-sm btn-default" style="color:white; background-color: red;" >Ich komme nicht</button>
    {% else %}
        <p>Es gab kein Feedback von Dir.</p>
    {% endif %}
{% endif %}
</div>