{% if tokens|length > 0 %}
    <h3>Vorhandene Push-Tokens</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Token</th>
            <th scope="col">Typ</th>
            <th scope="col">Gerät</th>
            <th scope="col">zuletzt Aktualisiert</th>
            <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        {% for token in tokens|sort( (a,b) => b.updated_at <=> a.updated_at ) %}
        <tr>
            <td><p class="long_token">{{ token.token }}</p></td>
            <td>{{ token.token_type }}</td>
            <td>{{ token.device_name }}</td>
            <td>{{ token.updated_at|date('d.m.Y H:i:s') }}</td>
            <td>
                <button data-request="onTestToken" data-request-confirm="Test Push versenden?" data-request-update="user_push_tokens: '#user_push_tokens'" data-request-data="token_id: {{ token.id }}" class="btn btn-sm" title="Testen" style="line-height: 1;"><i class="icon-bell"></i></button>
                <button data-request="onDeleteToken" data-request-confirm="Token wirklich löschen?" data-request-update="user_push_tokens: '#user_push_tokens'" data-request-data="token_id: {{ token.id }}" class="btn btn-sm" title="Löschen" style="line-height: 1;"><i class="icon-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Keine Push-Tokens vorhanden. Diese werden bei dem Login in die Firemon 112 App erzeugt...</p>
{% endif %}