{% if invitesErrorMessage %}
    <span style="color:red;"><i class="icon icon-exclamation-sign"></i> {{ invitesErrorMessage }}</span>
{% endif %}
{% if invites|length > 0 %}
    <h3>Getätigten Einladungen</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">An</th>
            <th scope="col">Grund</th>
            <th scope="col">Status</th>
            <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        {% for invite in invites|sort( (a,b) => b.created_at <=> a.created_at ) %}
        <tr>
            <th scope="row">{{ invite.created_at|date('d.m.Y H:i:s') }}</th>
            <td>{{ invite.recipient.name }} {{ invite.recipient.surname }} ({{ invite.recipient.email }})</td>
            <td>{{ invite.type_readable }}</td>
            <td {% if invite.isAccepted %}style="color:green"{% endif %}{% if invite.isDeclined %}style="color:red"{% endif %}>{{ invite.state_readable }}</td>
            <td>
                <button data-request="onDeleteInvite" data-request-confirm="Einladung wirklich löschen?" data-request-update="user_invites_sent: '#user_invites_sent'" data-request-data="invite_id: {{ invite.id }}" class="btn btn-sm" title="Löschen" style="line-height: 1;"><i class="icon-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}