<h2>Agenda</h2>
<p>Stand vom 05. Mai 2023</p>
<h3>Infrastruktur</h3>
<ul>
    <li>API zur Anbindung von Fremdsystemen (Alarme, Hydranten usw)</li>
    <li><span style="text-decoration: line-through;">Umstellung auf firemon112.de Domain</span></li>
    <li><span style="text-decoration: line-through;">Push Notification Backend</span></li>
    <li><span style="text-decoration: line-through;">JWT-Auth und SSO-Login per SMS</span></li>
    <li>Online-Handbuch / <span style="text-decoration: line-through;">YouTube Videos</span></li>
    <li><span style="text-decoration: line-through;">Refakturierung JavaScript Code, Einf&uuml;hrung Webpack</span></li>
    <li><span style="text-decoration: line-through;">Ver&ouml;ffentlichung des Source-Codes</span></li>
    <li><span style="text-decoration: line-through;">Monitorsteuerung und &Uuml;berwachung per Login-Bereich (Reboot, E-Mail wenn offline etc)</span></li>
</ul>
<h3>Alarmierung</h3>
<ul>
    <li><span style="text-decoration: line-through;">Alarmierungsapp: Spinup React Native Framework</span></li>
    <li><span style="text-decoration: line-through;">Alarmierungsapp: Login, eigene Daten</span></li>
    <li><span style="text-decoration: line-through;">Alarmierungsapp: Push Notification</span></li>
    <li><span style="text-decoration: line-through;">Alarmierungsapp: Einsatzkarte</span></li>
    <li><span style="text-decoration: line-through;">Alarmierungsapp: Navigation</span></li>
    <li>Alarmierungsapp: Einsatz Info-Stream</li>
    <li>Optimierte Darstellung des Alarmbildschirms (konfigurierbar und interaktiv)</li>
    <li><span style="text-decoration: line-through;">Alarmierung per SMS / Sprachanruf / E-Mail</span></li>
    <li>Einsatz-Information per Alexa / Google Home / SmartHome (nur Information, keine personenbezogenen Depeschendaten!)</li>
    <li><span style="text-decoration: line-through;">Unterstützung für Computer Monitore im Gerätehaus</span></li>
</ul>
<h3>Einsatzvorbereitung</h3>
<ul>
    <li>Optimierung Platznutzung Layout</li>
    <li><span style="text-decoration: line-through;">Absperradien</span></li>
    <li>Merkkarten nach Einsatzstichwort (Gefahrenmatrix, ABC, TH, usw)</li>
    <li><span style="text-decoration: line-through;">Fileupload und Geofence f&uuml;r Sonderobjekte (Digitale Feuerwehrpl&auml;ne etc)</span></li>
    <li><span style="text-decoration: line-through;">Gefahrensymbole f&uuml;r Sonderobjekte (Piktogramme auf Map)</span></li>
    <li><span style="text-decoration: line-through;">Aufnahme des BMA Plans in Visualisierung und Sprachsynthese</span></li>
    <li>Anzeige Live-Standort</li>
    <li>KFZ Rettungskarten</li>
    <li>KFZ Erkennung per Live-Foto</li>
    <li>Gefahrenstoffverzeichnug und Ersteinsatzhinweise</li>
</ul>
<h3>Einsatzmanagement</h3>
<ul>
    <li><span style="text-decoration: line-through;">Bereitstellungsr&auml;ume f&uuml;r nachr&uuml;ckende Kr&auml;fte</span></li>
    <li><span style="text-decoration: line-through;">Navigation zum Einsatzort</span></li>
    <li>Abschnitts-Management f&uuml;r nachr&uuml;ckende Kr&auml;fte</li>
    <li>Tablet R&uuml;ckmeldung zum Einsatzmonitor (Einsatzabbruch / &Ouml;lbindemittel mitnehmen etc.)</li>
    <li>Einsatzstellen Broadcast</li>
    <li><span style="text-decoration: line-through;">Übersichtlichere Hydranten Symbole</span></li>
    <li>Einsatzverwaltung f&uuml;r Gro&szlig;schadenslagen (Amtsf&uuml;hrungsstelle)</li>
    <li>Verwaltung mehrerer paralleler Eins&auml;tze auf Wehr-Ebene (Zuweisung von Eins&auml;tzen auf Gruppen / Trupps, Feedback Funktion, Split View f&uuml;r Ger&auml;tehaus Monitore)</li>
    <li><span style="text-decoration: line-through;">Verwaltung mehrerer paralleler Eins&auml;tze auf Tablet und Monitor (Bl&auml;ttern)</span></li>
</ul>
<h3>Gerätehaus Dashboard</h3>
<ul>
    <li><span style="text-decoration: line-through;">Dynamische Layouts (selbst wählbar)</span></li>
    <li><span style="text-decoration: line-through;">Zeitsteuerung</span></li>
    <li><span style="text-decoration: line-through;">Anzeige Termine</span></li>
    <li><span style="text-decoration: line-through;">News-Modul</span></li>
    <li><span style="text-decoration: line-through;">Wetterwarnungen</span></li>
    <li><span style="text-decoration: line-through;">Anzeige Zu- und Absagen aktuelle Übung</span></li>
    <li>Hast Du eine Idee? Her damit!</li>
</ul>