<h2>Einsatzzweck</h2>
<p>Firemon 112 richtet sich prim&auml;r an Orts- und Gemeindewehren. Es verarbeitet von der Leitstelle (aktuell KRLS Nord &amp; KRLS West, weitere möglich!) versendete Einsatzdepeschen basierend auf komplett eigener Technologie und Infrastruktur, datenschutzkonform und in Echtzeit. Die empfangenen Einsatzdepeschen werden mit einsatztaktisch wertvollen Informationen angereichert und auf freigeschaltete Ger&auml;te verteilt und angezeigt (Ger&auml;tehausmonitore, Tablets, Handys).</p>
<p>Im Detail beinhaltet die Visualisierung die Anzeige von:</p>
<ul>
    <li>Einsatzstichwort und Lage</li>
    <li>Einsatzort und Objektplan</li>
    <li>Mitalarmierte Kr&auml;fte</li>
    <li>Anfahrroute mit Verkehrslage</li>
    <li>Vogelperspektive des Einsatzobjektes mit Windfahne</li>
    <li>Hydranten Standorte</li>
    <li>Bereitstellungsräume</li>
    <li>Anrückende Kräfte (Einsatz-Feedback)</li>
</ul>
<p class="text-center">
    <a href="/onboarding" class="btn m-b-sm m-r-sm btn-firemon"><i class="f112-icon f112-firemon112-logo" style="font-size: 1.5em"></i>Testzugang kostenlos innerhalb 24 Stunden<i class="f112-icon f112-firemon112-logo"  style="font-size: 1.5em"></i></a>
</p>
<p>Die Visualisierung kann parallel auf weiteren Ger&auml;ten erfolgen. Auf Wunsch werden alle einsatztaktisch wertvollen Informationen inklusive Anfahrroute und Vogelperspektive sowie weitere sinnvolle Informationen (z.B. Gefahrenmatrix) direkt ausgedruckt (wenn Drucker vorhanden). Eine Besonderheit ist die Art und Weise der Routenplanung: diese erfolgt nicht auf Basis der &uuml;bermittelten Adresse, sondern auf Basis der deutlich pr&auml;ziseren UTM Koordinaten aus der Alarmdepesche. Diese werden zun&auml;chst in geographische L&auml;ngengrade und Breitengrade umgerechnet und dann als Definition f&uuml;r den Einsatzort verwendet. Besondere Verkehrssituationen, Stra&szlig;ensperrungen o.&auml;. k&ouml;nnen hierbei ber&uuml;cksichtigt werden.</p>
<p>Im Alarmfall kann Firemon 112 Einsatzkräfte <b>Schleifengesteuert</b> informieren per:</p>
<ul>
    <li>SMS</li>
    <li>Sprach-Anruf</li>
    <li>E-Mail</li>
    <li>Divera Free</li>
    <li>Firemon 112 App für Android und iOS</li>
</ul>
<p>Firemon 112 kann durch die M&ouml;glichkeit, &Uuml;bungsalarme direkt oder nach Uhrzeit auszul&ouml;sen, einfach in den &Uuml;bungsdienst integriert werden.</p>
<p>Firemon 112 ist außerdem in der Lage Termine und Events zu verwalten. Mit Hilfe der Erinnerungsfunktion kann z.B. per E-Mail an Übungsabende erinnert und per Klick Zu- oder Abgesagt werden. Die Teilnehmerliste ist im geschützten Bereich jederzeit live einsehbar.</p>
<p>Die Firemon 112 Software wird <strong>allen</strong> interessierten Wehren auf Wunsch kostenlos zur Verf&uuml;gung gestellt. Die Hardware muss nat&uuml;rlich selbst beschafft werden - eine Selbstbauanleitung mit Materialliste <a title="Selbstbauanleitung" href="/build-monitor">ist hier zu finden</a>. Zur Deckung der laufenden Kosten f&uuml;r Server, Backup, Wetterdaten usw. wird eine j&auml;hrliche Geb&uuml;hr in H&ouml;he von pauschal 50 &euro; pro Wehr erhoben. <strong>Firemon 112 <span style="text-decoration: underline;">ist f&uuml;r alle Zeit</span> non-profit</strong> und wird von Kameraden f&uuml;r Kameraden entwickelt!</p>
