<h2>Was soll das?</h2>
<p>
    Ein anderes Projekt von mir ist die Windhundliste SH (erhältlich für <a href="https://play.google.com/store/apps/details?id=de.gladder.windhundlisteschleswig_holstein" target="_blank">Android</a> / <a href="https://apps.apple.com/sc/app/windhundliste-sh/id1296936063" target="_blank">iPhone</a>). Das Projekt hat zum Ziel kurzfristig freie Lehrgangsplätze zu vergeben um so die Lehrgangsauslastung zu erhöhen indem potentiellen Lehrgangsteilnehmern eine Notification gesendet wird, wenn der gewünschte Lehrgangsplatz zur Verfügung steht.
</p>
<p>
    Zu diesem Zweck werden zur Verfügung stehende Lehrgangsquellen (z.B. aus Fox 112) regelmäßig durchsucht und die gefundenen Lehrgänge zentral gespeichert um dann in der App eingesehen werden zu können.
</p>
<p>
    Die dafür notwendige Infrastruktur musste aus technischen Gründen erneuert werden. Ich habe mich dazu entschlossen die Infrastruktur in das Firemon 112 System mit aufzunehmen um die Lehrgangsinformationen auch ohne App im Internet zur Verfügung zu stellen. Außerdem plane ich, jeder Wehr, die Firemon 112 verwendet, die Möglichkeit zu geben, selbst Lehrgänge zu veröffentlichen. Diese würden dann wiederum auch in der Windhundliste SH zur Verfügung stehen. Diese Funktion steht im Qu. 2 2023 zur Verfügung. Bis dahin werden hier alle Lehrgänge aufgeführt, die sich aktuell auf Fox 112 ziehen lassen.
</p>
<p>
    Wenn eine Lehrgangsquelle hinzugefügt werden soll (egal ob Fox 112 oder eine andere Quelle) einfach <a href="/impressum">melden</a>.
</p>
