<h2>Mitmachen</h2>
<ul>
    <li>Facebook Gruppe (Updates, Ankündigungen, Diskussion): <a href="https://www.facebook.com/groups/firemon112" target="_blank">https://www.facebook.com/groups/firemon112</a></li>
    <li>YouTube Channel (Anleitungen):  <a href="https://www.youtube.com/@firemon112" target="_blank">https://www.youtube.com/@firemon112</a></li>
    <li>Trello Board (Ideen, Wünsche, Programmfehler): <a href="https://trello.com/b/6j2zQb70/w%C3%BCnsche-ideen-und-anmerkungen" target="_blank">https://trello.com/b/6j2zQb70/w%C3%BCnsche-ideen-und-anmerkungen</a></li>
    <li>Source-Code auf Bit-Bucket: <a href="https://bitbucket.org/gladder/workspace/projects/F1" target="_blank">Source-Code</a></li>
</ul>