<h2>Firemon 112 Monitor selbst bauen</h2>
<p>Es ist sehr einfach einen Firemon 112 Monitor selbst zu bauen. Man ben&ouml;tigt hierzu lediglich einen HDMI-CEC konformen Fernseher (wenn irgend m&ouml;glich ohne irgendein SMART.TV) in Wunschgr&ouml;&szlig;e, eine Wandhalterung und einen Raspberry Pi 4B mit 4GB Arbeitsspeicherund mindestens 16GB Speicherkarte (sofern nicht gedruckt werden muss ist auch ein Raspberry Pi 3B+ ausreichend). Das Ganze muss dann noch mit Strom (2 Steckdosen) und Internet (idealerweise LAN, aber WLAN ist auch m&ouml;glich) versorgt werden. Nachdem das spezielle Betriebssystem heruntergeladen und aufgespielt wurde startet das System selbstst&auml;ndig und konfiguriert sich selbst. Der Monitor ist dann sofort einsatzbereit.</p>
<p>Die folgenden Hardware Komponenten sind recht preiswert und intensiv getestet. Sie stellen die aktuelle Kaufempfehlung dar:</p>
<ul>
<li>Raspberry PI 4 B 4 GB All-In-Bundle (Aktuell 87,30 &euro; bei <a title="Reichelt.de" href="https://www.reichelt.de/das-reichelt-raspberry-pi-4-b-4-gb-all-in-bundle-rpi-4b-4gb-allin-p263086.html" target="_blank">Reichelt.de</a>)</li>
<li>Nordmende Wegavision FHD43A 43 Zoll (Aktuell 222,00 &euro; bei <a title="Amazon.de" href="https://www.amazon.de/Nordmende-Wegavision-Fernseher-integriertem-Triple-Tuner/dp/B075TJ5CH6" target="_blank">Amazon.de</a>)</li>
<li>PEARLSMITH Wandhalterung 32-55 Zoll (Aktuell 38,99 &euro; bei <a title="Amazon.de" href="https://www.amazon.de/Wandhalterung-Schwenkbare-Halterung-Fernseher-400x400mm-Schwenkbar-Neigbar-400x400-6-Arme/dp/B07KF9TC3J/">Amazon.de</a>)</li>
</ul>
<p>Alternativ kann auch ein preiswerterer Raspberry Pi 3B+ verwendet werden, jedoch ist dieser aufgrund zu geringer Ressourcen nicht geeignet um Depeschen auszudrucken.</p>
<ul>
    <li>Raspberry PI 3 B+ Black-Bundle (Aktuell 60,50 &euro; bei <a title="Reichelt.de" href="https://www.reichelt.de/das-raspberry-pi-3-b-black-bundle-rpi3-bdl-bf-2017-p211192.html" target="_blank">Reichelt.de</a>)</li>
    <li>HDMI 2.0 Kabel 0,5 - 1m (Aktuell 3,60 &euro; bei <a title="Reichelt.de" href="https://www.reichelt.de/ultraflex-hdmi-2-0-high-speed-kabel-0-5m-hdmi-mme-0-5uf-p283495.html" target="_blank">Reichelt.de</a>)</li>
</ul>
<p><strong>Achtung:</strong> Es handelt sich bei den Links weder um Affiliate Links noch erhalte ich eine sonstige Gegenleistung f&uuml;r die empfohlenen Webshops. Die Links sollen nur einer z&uuml;gigen Beschaffung dienlich sein, nat&uuml;rlich k&ouml;nnen die Teile auch woanders bezogen werden...</p>
<ol>
<li>Hardware bestellen</li>
<li>Strom und Netzwerk vorbereiten: 2 Steckdosen, 1 Netzwerk-Port</li>
<li>Passended Firemon 112 Raspberry Pi Image laden (siehe unten)</li>
<li><a title="Win 32 Disk Imager Download" href="https://sourceforge.net/projects/win32diskimager/" target="_blank">Win 32 Disk Imager</a> besorgen und wie <a title="Anleitung Win32 Disk Imager" href="https://www.randombrick.de/raspberry-pi-backup-einer-sd-karte-erstellen/" target="_blank">hier </a>gezeigt das Image (bzw. Backup) auf die Speicherkatze spielen. Linux-Nerds k&ouml;nnen das nat&uuml;rlich auch direkt mit dd auf der Konsole machen...</li>
<li>Raspberry im Geh&auml;use zusammen bauen, Speicherkarte platzieren und das Ganze an der Monitorr&uuml;ckseite befestigen (z.B: mit Klett-Klebeband). HDMI Kabel direkt mit montieren.</li>
<li>Wandhalterung anbringen</li>
<li>Fernseher einschalten und Ersteinrichtung vornehmen (Auto Standby Zeiten deaktivieren, HDMI CEC aktivieren, Standard HDMI Quelle setzen)</li>
<li>Raspberry Pi einschalten</li>
</ol>
<p>Nachdem der Raspberry nach dem ersten Start ggf. mehrfach neu gestartet hat wird das Firemon 112 Bild erscheinen - der Monitor befindet sich nun im Pairing Mode und kann unter angabe der dargestellten Zeichenfolge (XXXX-XXXX) im Verwaltungsbackend hinzugef&uuml;gt werden. Er wird Empfangen der Konfiguration (sp&auml;testens nach 15 Minuten) automatisch den Fernseher in Standby versetzen (sofern das Feature HDMI-CEC f&uuml;r den Monitor aktiviert ist).</p>
<h2>Downloads</h2>
<p><a href="/storage/app/uploads/public/firemon-112.img" class="btn btn-default">Download Raspberry Pi 3B+ Image (16GB)</a></p>
<p><a href="/storage/app/uploads/public/f112-rpi4.img" class="btn btn-default">Download Raspberry Pi 4 Image (9,1GB)</a></p>
<h2>Drucken</h2>
<p>Wenn der Raspberry Pi Depeschen drucken soll muss der hierf&uuml;r vorgesehene Drucker entweder im Netzwerk vorhanden oder direkt ber USB angeschlossen sein. Die Druckereinrichtung erfolgt &uuml;ber das CUPS Webinterface, dass innerhalb des Netzwerkes &uuml;ber einen Webbrowser erreichbar ist unter:</p>
<pre><code>http://[IPvomPI]:631/admin</code></pre>
<p>Die IP Adresse vom Raspberry Pi wird im Wartezustand des Firemon oberhalb der Uhrzeit angezeigt. Ist der Bildschirm im Standby so kann man einfach den Fernseher manuell einschalten um den Wartebildschirm zu betrachten. Sp&auml;testens nach 15 Minuten wird der Monitor wieder in den Standby versetzt.</p>
<h2>Zugangsdaten</h2>
<p>F&uuml;r Druckereinrichtung und SSH sind Zugangsdaten erforderlich. Der Benutzername lautet <strong>pi</strong> das Passwort lautet <strong>firemon112</strong>. Mit Hilfe von Maus und Tastatur kann der Raspberry Pi auch direkt verwendet werden (z.B. f&uuml;r die WLAN Konfiguration). Daf&uuml;r einfach Maus und Tastatur anschlie&szlig;en und durch Dr&uuml;cken von STRG+ALT+BACKSPACE den Fullscreen-Mode verlassen. Nachdem alle Arbeiten vorgenommen wurden einfach den Raspberry neu starten. Wichtig: Durch den Watchdog Prozess wird der Raspberry sich ggf. beim Beenden des Fullscreen Modes von selbst neu starten. Dieses Verhalten ist gew&uuml;nscht - sollten l&auml;ngere Arbeiten erforderlich werden so ist es ratsam den Watchdog-Prozess per SSH &uuml;ber PM2 zu stoppen - oder man muss einfach schnell sein ;-) Da es sp&auml;testens hier kompliziert wird bitte einfach direkt Kontakt aufnehmen.</p>