<h2>Presse / Ver&ouml;ffentlichungen</h2>
<ul>
    <li><a title="Kommunikations-Retter im Krisenfall in Arbeit" target="_blank" href="https://www.fla.de/sydslesvig/nyheder/78317/kommunikations-retter-im-krisenfall-in-arbeit">Kommunikations-Retter im Krisenfall in Arbeit</a> (10.1.2025, Flensborg Avis)</li>
    <li><a title="Kommunikation in Krisenzeiten soll revolutioniert werden" target="_blank" href="https://www.fla.de/sydslesvig/nyheder/78099/kommunikation-in-krisenzeiten-soll-revolutioniert-werden">Kommunikation in Krisenzeiten soll revolutioniert werden</a> (4.1.2025, Flensborg Avis)</li>
    <li><a title="Firemon 112 gewinnt Digitalisierungspreis 2024 - Sonderpreis Kategorie Ehrenamt" target="_blank" href="https://www.schleswig-holstein.de/DE/fachinhalte/P/preiseWettbewerbe/Digitalisierungspreis">Firemon 112 gewinnt Digitalisierungspreis 2024 - Sonderpreis Kategorie "Ehrenamt"</a> (18.12.2024, Digitalisierung und Zentrales IT-Management der Landesregierung (ZIT))</li>
    <li><a title="Deutschlandfunk Visionär von nebenan – Eine Software für die Freiwillige Feuerwehr" target="_blank" href="https://www.deutschlandfunk.de/visionaer-von-nebenan-eine-software-fuer-die-freiwillige-feuerwehr-dlf-32d90791-100.html">Visionär von nebenan - Eine Software für die Freiwillige Feuerwehr</a> (12.01.2024, Deutschlandfunk)</li>
    <li><a title="Ausgezeichnet: Firemon112 Gewinner im Wettbewerb „Digitale Orte im Land der Ideen“ 2023" target="_blank" href="https://smartcityamtsuederbrarup.de/ausgezeichnet-firemon112-gewinner-im-wettbewerb-digitale-orte-im-land-der-ideen-2023/">Ausgezeichnet: Firemon112 Gewinner im Wettbewerb „Digitale Orte im Land der Ideen“ 2023</a> (23.11.2023, Smart City)</li>
    <li><a title="Goldmedaille geht an »Firemon 112«" href="https://www.fla.de/sydslesvig/nyheder/64649/goldmedaille-geht-an-firemon-112-" target="_blank">Goldmedaille geht an »Firemon 112«</a> (21.11.2023, Flensborg Avis)</li>
    <li><a title="Firemon 112 Finalist beim Wettbewerb Digitale Orte im Land der Ideen" href="https://land-der-ideen.de/wettbewerbe/digitale-orte/finalist-innen-2023/firmon-112" target="_blank">Firemon 112 Finalist beim Wettbewerb "Digitale Orte im Land der Ideen"</a> (24.10.2023, Land der Ideen Management GmbH)</li>
    <li><a title="Firemon 112 – der digitale Edel-Helfer der Feuerwehren" href="https://smartcityamtsuederbrarup.de/2646-2/" target="_blank">Firemon 112 – der digitale Edel-Helfer der Feuerwehren</a> (30.12.2022, Smart City Süderbrarup)</li>
    <li><a title="Firemon 112 – der digitale Edel-Helfer der Feuerwehren" href="https://www.fla.de/sydslesvig/nyheder/52309/firemon-112-feuerwehrmann-patrick-modelhauer-entwickelt-digital" target="_blank">Firemon 112 – der digitale Edel-Helfer der Feuerwehren</a> (27.12.2022, Flensborg Avis)</li>
    <li><a title="„Im Zentrum steht die Nachhaltigkeit“" href="https://www.smart-city-dialog.de/wp-content/uploads/2021/12/bbsr-bericht-12-2021-modellprojekte-smart-cities-2021-1.pdf" target="_blank">„Im Zentrum steht die Nachhaltigkeit“ </a> (12/2021, Bundesinstitut für Bau-, Stadt- und Raumforschung)</li>
    <li><a title="Firemon 112 – Smarte L&ouml;sung für jede Feuerwehr" href="https://urban-digital.de/firemon-112-smarte-loesung-feuerwehr/" target="_blank">Firemon 112 – Smarte Lösung für jede Feuerwehr</a> (13.01.2022, Urban Digital)</li>
    <li><a title="&bdquo;Firemon 112&ldquo; ein Gl&uuml;cksfall f&uuml;r die freiwilligen Feuerwehren" href="https://www.amt-suederbrarup.de/fileadmin/user_upload/Amtskurier/Suederbrarup_aktuell_02_Maerz-21.pdf" target="_blank">&bdquo;Firemon 112&ldquo; ein Gl&uuml;cksfall f&uuml;r die freiwilligen Feuerwehren</a> (Seite 26, Ausgabe M&auml;rz 2021, S&uuml;derbrarup Aktuell)</li>
    <li><a title="Amt S&uuml;derbrarup: Neue Software &bdquo;Firemon 112&ldquo; im Einsatz" href="https://www.moinmoin.de/detailansicht-news-angeln/feuerwehren-stellen-sich-digital-auf.html" target="_blank">Amt S&uuml;derbrarup: Neue Software &bdquo;Firemon 112&ldquo; im Einsatz</a> (Seite 2, Ausgabe 24. M&auml;rz 2021, MoinMoin)</li>
    <li><a title="Moderne Alarmierung" href="https://www.amt-suedangeln.de/media/custom/1659_2556_1.PDF?1613459105" target="_blank">Moderne Alarmierung</a> (Seite 50, Ausgabe Februar 2021, S&uuml;dangeln Rundschau)</li>
    <li><a title="Firemon 112: Feuerwehren im Amt werden digital ausgestattet" href="https://www.amt-suederbrarup.de/fileadmin/user_upload/Amtskurier/Suederbrarup_aktuell_01_Feb-21.pdf" target="_blank">Firemon 112: Feuerwehren im Amt werden digital ausgestattet</a> (Seite 38, Ausgabe Februar 2021, S&uuml;derbrarup Aktuell)</li>
    <li><a title="Patrick Moldenhauer entwickelt eine kostenlose Software f&uuml;r seine Feuerwehr" href="https://www.shz.de/lokales/schleswiger-nachrichten/patrick-moldenhauer-entwickelt-eine-kostenlose-software-fuer-seine-feuerwehr-id31096062.html" target="_blank">Patrick Moldenhauer entwickelt eine kostenlose Software f&uuml;r seine Feuerwehr</a> (29.01.2021, SHZ)</li>
    <li><a title="Digitale Ausstattung der Feuerwehren durch Smart City Projekt" href="https://smartcityamtsuederbrarup.de/portfolio/firemon-112/" target="_blank">Digitale Ausstattung der Feuerwehren durch Smart City Projekt</a> (28.01.2021, Smart City Amt S&uuml;derbrarup)</li>
    <li><a title="Firemon 112 - F&uuml;r die Zukunft der Feuerwehr" href="https://www.themultiblog.com/post/firemon-112" target="_blank">Firemon 112 - F&uuml;r die Zukunft der Feuerwehr</a> (25.01.2021, The Multi Blog)</li>
    <li><a title="Feuerwehr Norderbrarup pr&auml;sentiert Einsatzmonitor Firemon112" href="https://www.feuerwehr-norderbrarup.de/news/News/einsatzmonitor-firemon112" target="_blank">Feuerwehr Norderbrarup pr&auml;sentiert Einsatzmonitor Firemon112</a> (21.01.2021, Feuerwehr Norderbrarup)</li>
    <li><iframe src="//www.youtube.com/embed/dBRazxfP4nw" width="360" height="270" allowfullscreen="allowfullscreen"></iframe></li>
    <li><iframe src="//www.youtube.com/embed/o3PpJWJcKP8" width="360" height="270" allowfullscreen="allowfullscreen"></iframe></li>
    <li><iframe src="//www.youtube.com/embed/dzoe2xSkCkU" width="360" height="270" allowfullscreen="allowfullscreen"></iframe></li>
</ul>