<h2>{{ newsItem.content }}</h2>
{% if newsItem.image %}
    <img src="{{ newsItem.image.path }}" alt="" class="img-responsive" />
    <hr>
{% endif %}
<p>
    Datum: {{ newsItem.created_at|date('d.m.Y, H:i') }}<br />
    Kategorie {{ newsItem.categoryReadable }}
</p>
<hr>
{{ newsItem.content_long | md }}
<hr>
{% partial "file_upload_view" entity=newsItem %}
