<div class="card-grid">
    {% for news in newsItems %}
    <div class="card">
        <div class="card-title" {% if news.isPrioHigh %}style="background-color: red; color: white;"{% endif %}>
            {{ news.created_at|date('d.m.Y') }}, Kategorie {{ news.categoryReadable }}
        </div>
        {% if news.image %}
        <div class="card-content-img" style="background-image: url('{{ news.image.path|resize(600, 400, { mode: 'crop' }) }}');">
            <h2><a href="{{ this.page.baseFileName|page({ news_id: news.id }) }}">{{ news.content }}</a></h2>
        </div>
        {% else %}
        <div class="card-content">
            <h2><a href="{{ this.page.baseFileName|page({ news_id: news.id }) }}">{{ news.content }}</a></h2>
        </div>
        {% endif %}

        <div class="card-footer">
            0 Kommentare | 0 Likes | {{ news.files|length }} Dateien
        </div>
    </div>
    {% else %}
    <p>Keine News verfügbar.</p>
    {% endfor %}
</div>