@font-face {
	font-family: "f112-icons";
	font-display: block;
	src: url("../fonts/f112-icons.31220c9aaae7023b5984d05ac1a29cac.eot?#iefix") format("embedded-opentype"),
url("../fonts/f112-icons.aa1198526d86295cfc44c3ca6f604691.woff") format("woff"),
url("../fonts/f112-icons.3431d31135fe9a8878be9406c0b987b6.woff2") format("woff2"),
url("../fonts/f112-icons.682bb9b224ff9dc5f4e639e01ae5e929.ttf") format("truetype"),
url("../fonts/f112-icons.ddedac8afa5e5aa511d7a5fb74f63806.svg#f112-icons") format("svg");
}

.f112-icon {
	line-height: 1;
}

.f112-icon:before {
	font-family: f112-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.f112-account-group:before {
	content: "\f101";
}
.f112-alert-octagon:before {
	content: "\f102";
}
.f112-arrow-repeat:before {
	content: "\f103";
}
.f112-bell-cancel:before {
	content: "\f104";
}
.f112-bell:before {
	content: "\f105";
}
.f112-building:before {
	content: "\f106";
}
.f112-check-circle:before {
	content: "\f107";
}
.f112-clipboard-list:before {
	content: "\f108";
}
.f112-cloud-check:before {
	content: "\f109";
}
.f112-cloud-slash:before {
	content: "\f10a";
}
.f112-cloud:before {
	content: "\f10b";
}
.f112-crosshairs-gps:before {
	content: "\f10c";
}
.f112-devices:before {
	content: "\f10d";
}
.f112-firemon112-logo:before {
	content: "\f10e";
}
.f112-firesite:before {
	content: "\f10f";
}
.f112-firestation:before {
	content: "\f110";
}
.f112-hourglass:before {
	content: "\f111";
}
.f112-hydrant:before {
	content: "\f112";
}
.f112-list:before {
	content: "\f113";
}
.f112-mail:before {
	content: "\f114";
}
.f112-marker-circle:before {
	content: "\f115";
}
.f112-message-text-fast:before {
	content: "\f116";
}
.f112-message-text:before {
	content: "\f117";
}
.f112-phone:before {
	content: "\f118";
}
.f112-shield-check:before {
	content: "\f119";
}
.f112-shield-slash:before {
	content: "\f11a";
}
.f112-shield:before {
	content: "\f11b";
}
.f112-three-dots:before {
	content: "\f11c";
}
.f112-wifi-off:before {
	content: "\f11d";
}
.f112-wifi:before {
	content: "\f11e";
}
.f112-wind-gust:before {
	content: "\f11f";
}
.f112-x-circle:before {
	content: "\f120";
}

