h1, h2, h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    display: inline-block;
}

p.year-picker {
    font-size: 40px;
    line-height: 40px;
    margin: 25px 0;
}

.navbar-header .navbar-brand {
    padding: 5px;
    background-image: none;
}

.responsive_map {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .responsive_map {
        padding-bottom: 30%;
    }
}

.responsive_map iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}

.color-red {
    color: #c7254e;
}

.color-orange {
    color: darkorange;
}

.color-green {
    color: #5cb85c;
}

.color-gray {
    color: #333333;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.promo-fact {

}

.promo-circle {
    border-radius:100%;
    background:#e41919;
    color: white;
}

.promo-circle {
    font-size: 5em;
    display: inline-block;
    padding: 15px;
}

.promo-count {
    font-size: 2.5em;
    margin: 15px 0 0 0;
    padding: 0;
    line-height: 1em;
    color: black;
}
.promo-label {
    color: #888;
}

.btn-firemon {
    background-color: #e41919;
    color: white;
}
.btn-firemon-grey {
    background-color: #efefef;
    color: #666666;
}

.btn-firemon-green {
    background-color: green;
    color: white;
}

.fake-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
}

.f112-icon-inner {
    line-height: inherit;
    margin-left: 5px;
}

.small-head {
    font-size: 14px;
    font-weight: normal;
}

.btn-firemon:hover {
    background-color: #ff0000;
}

.btn-firemon-grey:hover {
    background-color: #e1e1e1;
}
.btn-firemon-tiny {
    background-color: #efefef;
    line-height: 1em;
    font-size: 12px;
    padding: 2px 4px;
    vertical-align: text-bottom;
}

.subnavi {
    margin: 0 !important;
    padding: 0 !important;
}

.subnavi a {
    color: black;
}

.subnavi li.active {
    border-bottom: 4px solid red;
}

input.firemon-datetime {
    background-color: white !important;
}

.low-saturation * {
    color: #ccc !important;
}

.overflow-mobile {
    overflow-x:auto;
}

@media (min-width: 768px) {
    .overflow-mobile {
        overflow-x:visible;
    }
}

.is-required:after {
    background-color: #c20a0a;
    width: 5px;
    height: 5px;
    margin-left: 3px;
    vertical-align: super;
    font-size: 60%;
    content: "";
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.drag-area{
    background-color: #0096f2;
    border: 2px dashed #fff;
    height: 150px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.drag-area.active{
    border: 2px solid #fff;
    background-color: green;
}
.drag-area .icon{
    font-size: 100px;
    color: #fff;
}
.drag-area header{
    font-weight: 500;
    color: #fff;
}
.drag-area span{
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}
.drag-area button{
    padding: 10px 25px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}
.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.bt-pending-change {
    background-color: orange;
}
.group_pill {
    font-size: 10px;
    padding: 2px;
    border-radius: 4px;
    background-color: #efefef;
}
.otherstation_pill,
.mission_role_pill {
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 2px 4px;
    background-color: #fff;
}

a.mission_role_pill_link {
    cursor: pointer;
}
a.mission_role_pill_link:hover,
a.mission_role_pill_link:active {
    text-decoration: none;
}

.shift-schedule-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.shift-schedule-col {

}
.shift-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "label label";
    gap: 10px;
}

.shift-group > h1 {
    grid-area: label;
    padding: 0;
    margin: 0;
    opacity: 0.75;
}

.shift-group > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupable-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.groupable-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.groupable-item:hover {
    background-color: #efefef;
}

.groupable-item > input,
.groupable-item > label {
    padding: 0;
    margin: 0;
}

.groupable-item > label {
    font-weight: normal;
    width: 100%;
    margin-left: -25px;
    padding-left: 25px;
}

.groupable-item-active {
    background-color: #e9fce9;
}

div.red {
    color: white;
    background-color: #ca0000;
}

div.orange {
    color: white;
    background-color: #ff7800;
}

div.gray {
    color: white;
    background-color: #bebebe;
}

div.pink {
    color: white;
    background-color: #a900b4;
}

div.green {
    color: white;
    background-color: #009a21;
}

div.blue {
    color: white;
    background-color: #1700a0;
}

.sortHandle {
    cursor: move;   /* this will change the cursor to a move grip when hovering */
    min-width: 200px;
}

.sortHandle::before {
    content: "≡";  /* this is just an example, you can use any unicode character or an SVG as a drag icon */
    display: inline-block;
    padding-right: 5px;
}

.pagination-m-0 > nav > ul.pagination {
    margin: 0;
}

.avatar-holder {
    position: relative;
    display: inline-block;
}

.avatar-holder img {
    border-radius: 25px;
}

.avatar-holder i {
    position: absolute;
    /* Positions the icon to the bottom-right corner of the image */
    bottom: 0;
    right: 0;
}

.navbar-nav {
    font-size: 14px;
}

@media (min-width: 1440px) {
    .semifluid {
        width: 1400px;
    }
}

.sidebar-avatar {
    padding: 50px 0 10px 0;
    text-align: center;
}

.sidebar-avatar img {
    float: none;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-name {
    margin-top: 20px;
}

.profile-station,
.selectedStationLabel {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: uppercase;
}
ul.sidebar ul {
    margin-bottom: 20px;
}

ul.sidebar li {
    border-bottom: 1px solid #aaa;
}

ul.sidebar li:last-child {
    border-bottom: none;
}

ul.sidebar li a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

ul.sidebar li a i {
    margin-right: 8px;
    font-size: 14px;
}

ul.sidebar li a:hover {
    background-color: #FFF4F3;
    color: black;
}

ul.sidebar li.active a {
    color: #333;
    background-color: #FFF4F3;
    border-left: 2px solid red;
    margin-left: -2px;
}

.sidebar-avatar .btn {
    white-space: normal;
}

.responsive-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax() values as necessary */
    gap: 10px; /* Space between items */
    list-style: none; /* Removes bullet points */
    padding-left: 0; /* Removes padding if it's not already done by Bootstrap */
}

.responsive-list li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.responsive-list li label {
    white-space: nowrap; /* Prevents label text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis to overflowing text */
    margin: 0;
}

.responsive-list li input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.long_token {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.gmap-edit-overlay {
    transform-origin: center center;
    cursor: move; /* Change cursor for draggable area */
}

.gmap-edit-overlay img {
    width: 100%;
    height: auto;
    opacity: 0.75;
}
.corner-handle, .rotate-handle {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #cccccc;
    border: 1px solid #333333;
    z-index: 1;
}
.corner-handle {
    background-color: red;
    border: 1px solid white;
}
.rotate-handle {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: crosshair;
}
.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}
.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}
.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}
.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}
#gmap_info {
    width: 300px;
}
#gmap_info > h2 {
    font-size: 14px;
    margin: 0 0 5px 0;
}
.file-list-form > form {
    display: flex;
    align-items: center;
}

.file-list-form > form > input[type="text"] {
    flex: 1;
    min-width: 200px;
}

.file-list-form > form > button {
    flex-shrink: 0; /* Prevents the button from shrinking */
    margin: 0 !important;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between the cards */
}

/* Style for each card */
.card {
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card-title {
    background-color: #ccc;
    padding: 5px 10px;
    margin: 0;;
}

.card-content {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #efefef 50%);
}

.card-content > h2 {
    text-align: center;
    display: block;
    border: none;
}

.card-content > h2 > a {
    color: #666;
}

.card-content-img {
    background-size: cover; /* Ensure the image covers the entire content area */
    background-position: center; /* Center the background image */
    flex-grow: 1;
}

.card-content-img > h2 {
    text-align: center;
    display: block;
    border: none;
    text-shadow: 0 0 10px rgba(0,0,0,0.75);
    color: white;
}

.card-content-img > h2 > a {
    color: white;
}

.card-footer {
    padding: 5px 10px;
    background-color: #eee;
    font-size: 0.8em;
}

.flex-vertical-center {
    display:flex;
    align-items: center;
}