body {
    padding: 0;
    background-color: #777777;
}
h1,h2,h4 {
    color: white;
}

#details-holder h4 {
    color: black;
}

#stichwort {
    background-color: red;
    color: white;
}

#information {
    background-color: blue;
    color: white;
}

#details-holder,
#objekt-doku {
    background-color: #fff;
}

#objekt-doku h3 {
    font-size: 1em;
}

#objekt-doku div.images img {
    margin: 10px;
}

#stichwort h1 {
    margin: 10px 0;
}

.dark-row {
    background-color: #212121;
    color: white;
}
.dark-row h4 {
    font-size: 1em;
}

#einsatzort,
#objekt-doku div.object {
    border-left: 10px solid red;
    font-size: 1.5em;
}

#route-holder, #map-holder {
    min-height: 45vh;
    padding: 0;
    margin: 15px;
}
#route, #map {
    min-height: 45vh;
}

.map-ol {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 10;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
}

.map-ol .f112-icon {
    line-height: inherit;
}

.map-ol > img {
    max-height: 30px;
}

.map-ol p {
    padding: 0;
    margin: 0;
}

.map-ol-bl {
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 10px;
}

.map-ol-br {
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 10px;
}

.map-ol-tl {
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 10px;
}

.map-ol-tr {
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 10px;
}

.weather-icon {
    width: 75%;
}

#monitor-ident,
#credits {
    color: #fff;
}

.blink {
    animation: blinker 1.5s linear infinite;
}



#map div > img,
#route div > img {
    position: absolute;
    max-width: none !important;
}
#map label,
#route label {
    width: auto; display:inline;
}


@keyframes blinker {
    50% {
        opacity: 50%;
    }
}

#idle-dialog,
#error-dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-image: url('../images/firemon-112-background-comp.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.idle-box,
.error-box {
    background-color: rgba(0,0,0,0.9);
    border-radius: 15px;
    min-width: 25%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.wachendisplay .idle-box {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.wachendisplay .idle-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.wachendisplay .idle-box a {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 25px;
}

.wachendisplay .idle-station {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 25px 30px 0;
}

.wachendisplay .idle-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 25px 50px 0;
}

.wachendisplay .idle-ident {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 25px 0 0;
}

.wachendisplay .idle-clock {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 25px;
}

div[data-module-id] {
    width: 100%;
}

.idle-container .module-col {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.idle-container .module-top,
.idle-container .module-bottom {
    flex-grow: 1;
    display: flex;
}

.idle-container .module-top > div,
.idle-container .module-bottom > div {
    margin: 5px;
    color: white;
    font-weight: bold;
}

.module-canvas-white {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    color: black;
    text-align: left;
}

.module-canvas-clear {

}

.news_item {
    background-color: white;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: black;
    display: flex;
}

.news_item svg {
    fill: gray;
    margin-right: 5px;
}

.news_item p {
    flex: 1;
}

.news_prio_high {
    background-color: red;
    color: white;
}

.news_prio_high svg {
    fill: white;
    float: left;
}

.news_item p {
    margin: 0;
    display: inline-block;
}

.news_image_item {
    position: relative;
}

.news_image_item img {
    border-radius: 15px;
}

.news_image_item .news_item {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    opacity: 0.75;
    width: 100%;
    text-align: center;
}
.news_img_fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.idle-container .module-bottom {
    align-items: flex-end;
    padding-bottom: 50px;
}

.col-w10 {
    flex: 10;
}

.col-w20 {
    flex: 20;
}

.col-w25 {
    flex: 25;
}

.col-w30 {
    flex: 30;
}

.col-w33 {
    flex: 33;
}

.col-w40 {
    flex: 40;
}

.col-w50 {
    flex: 50;
}

.col-w75 {
    flex: 75;
}

.col-w70 {
    flex: 70;
}

.col-w100 {
    flex: 100;
}

.idle-station > p {
    margin: 0;
}

.idle-clock > h1 {
    margin: 10px 0;
}

.idle-station > .ips {
    color: gray;
    font-size: 0.8em;
}

.idle-indicators-header {
    margin: 5px;
}

.idle-indicators-footer > i,
.idle-indicators > i {
    margin: 5px;
    font-size: 1.5em;
}

.icon-neutral {
    color: white;
}

.icon-okay {
    color: green;
}

.icon-error {
    color: red;
}

.error-icon {
    font-size: 10em;
}

#routePrint, #mapPrint {
    width: 95mm;
    height: 100mm;
}

#routePrint > img, #mapPrint > img {
    height: 100%;
    width: auto;
}

#gefahrenmatrix > img {
    height: 50mm;
}

#einsatznummer {
    display: none;
}

#mak ul {
    width: 100%;
    padding: 0;
    margin: 0;
}
#mak ul > li {
    float: left;
    list-style: none;
    border: 1px solid #666;
    background-color: #efefef;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}

@page {
    size: A4;
    margin: 10mm;
}

@media print {

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}

    h1 {
        font-size: 22px;
        margin: 10px 0 0 0;
    }
    h2 {
        font-size: 18px;
        margin: 10px 0 0 0;
    }
    h3 {
        font-size: 16px;
        margin: 5px 0px;
    }
    h4 {
        font-size: 14px;
    }
    #details {
        min-height: unset;
    }
    #einsatznummer {
        display: block;
        font-size: 14px;
    }
    .weather-icon {
        width: 46px;
        height: 28px;
    }
    body {
        font-size: 14px;
    }

    #multi-alert-holder {
        display: none;
    }

    #multi-alert-fab {
        display: none;
    }
}


.bma-plan {
    border: 10px solid red;
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 1.25em;
}

#multi-alert-holder {
    width: 300px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 1000;
}

#multi-alert-fab {
    border-radius:100%;
    background:#ff0000;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#multi-alert-box {
    border-radius:10px;
    background:#fff;
    border:2px solid #ff0000;
    outline:none;
    color:black;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100%;
    padding: 5px 5px 0 5px;
}

#multi-alert-box .item {
    padding: 0 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed red;
}

#multi-alert-box .active {
    background-color: green;
    color: white;
}

.multi-alert-box-item:last-child {
    border: none;
}

.multi-alert-pill {
    background-color: blue;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #fff;
}
/* HD improvements */
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.0em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

#alert-stichwort h4 {
    color: white;
    background-color: red;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 4px;
}

#alert-feedback-holder {
    bottom: 0px;
    position: fixed;
    z-index: 100;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}

#alert-feedback-holder div {
    padding: 0;
    margin: 0;
}

#alert-feedback-holder div span {
    display: block;
    color: white;
}

#alert-feedback-holder div span.lbl {
    font-weight: bold;
}

#alert-feedback-holder div span.cnt {
    font-size: 2.5em;
}
.feedback-i {
    background-color: green;
}

.feedback-d {
    background-color: blue;
}

.feedback-l {
    background-color: orange;
}

.feedback-n {
    background-color: red;
}

#alert-feedback-i-extra,
#alert-feedback-d-extra,
#alert-feedback-l-extra,
#alert-feedback-n-extra {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 14px;
}

#alert-feedback-holder > div > div > ul {
    margin: 0;
    padding: 25px;
}

/* no map margin and higher maps on desktop */
@media screen and (min-width: 1200px) {
    #map-holder, #route-holder {
        min-height: 65vh;
    }
    #route, #map {
        min-height: 65vh;
    }
}
@media screen and (min-width: 767px) {
    #map-holder, #route-holder {
        margin: 0;
    }
}
/* 4K Improvements */
@media screen and (min-width: 3800px) {
    body {
        font-size: 42px;
    }

}
@media screen and (min-width: 3800px) {
    body {
        font-size: 42px;
    }

}

@media screen and (max-width: 767px) {
    #alert-feedback-holder {
        font-size: 0.7em;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters .col,
.no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.mission_role_pill {
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
    padding: 1px;
    display: inline-block;;
    margin: 2px 0;
    line-height: 1.0em;
}

.alert_feedback_mission_row {
    background-color: green;
    border-radius: 4px;
    color: white;
    margin: 2px 0 2px;
}

.btn-firemon {
    background-color: #e41919;
    color: white;
}

/* Module Appointments */

.appt_item p {
    padding: 0;
    margin: 0;
}

.appt_item {
    display: flex;
    flex-direction: row;
}

.appt_appt {
    flex: 1;
}

.appt_item:last-child .appt_row {
    border: none;
}

.appt_row {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
}

.appt_label {
    flex: 1;
}

.appt_date {
    text-align: center;
    padding-right: 5px;
}

.appt_month {
    color: gray;
    font-size: 0.8em;
    text-transform: uppercase;
}
.appt_day {
    font-size: 1.2em;
    font-weight: bold;
}

.appt_pill {
    font-size: 0.8em;
    padding: 0 10px;
}

.appt_pill:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 3px 2px;
    background-color: red;
    vertical-align: baseline;
}

.appt_label {
    padding-left: 10px;
}

.appt_label_head {
    font-weight: bold;
}

.appt_label_sub {
    color: gray;
    font-size: 0.8em;
}

.appt_tag_uebung {
    background-color: red;
}

.appt_tag_lehrgang {
    background-color: green;
}

.appt_tag_sitzung {
    background-color: #00b3ee;
}

.appt_tag_versammlung {
    background-color: darkmagenta;
}

.appt_tag_veranstaltung {
    background-color: orange;
}

.appt_tag_sonstiges {
    background-color: #212121;
}

.appt_tag {
    color: white;
    border-radius: 6px;
    padding: 1px 3px;
    float: right;
}

.ce_row {
    display: flex;
    flex-direction: row;
}

.ce_left {
    text-align: center;
}


.ce_right {
    padding-left: 5px;
    flex: 1;
}

.ce_row .time {
    margin: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.ce_row .caption {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.ce_row .hint {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.ce_row .note {
    border-left: 5px solid #efefef;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.ce_row .count {
    font-size: 0.8em;
}

.ce_row .count span {
    font-size: 2.0em;
    display: block;
    line-height: 1.0em;
}

.ce_row .available {
    color: green;
}

.ce_row .not_available {
    color: red;
}

.ce_count {
    display: flex;
}

.ce_count p {
    flex: 1;
    text-align: center;
}

.shift-schedule-head {
    border-bottom: 1px dashed #ff0000;
    font-size: 26px;
    opacity: 0.75;
}

.shift-schedule-footer {
    border-top: 1px dashed #ff0000;
    font-size: 26px;
    opacity: 0.75;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 10px 0 0 0;
}

.shift-schedule-footercol {
    text-align: left;
}

.shift-schedule-subhead {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.75;
}

.shift-schedule-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.shift-schedule-col {

}
.shift-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "label label";
    gap: 10px;
    text-align: left;
    font-weight: normal;
}

.shift-group > h1 {
    grid-area: label;
    padding: 0;
    margin: 5px 0 0 0;
    opacity: 0.75;
    font-size: 26px;
}

.shift-group > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    flex: 1;
    z-index: 1;
}

.person {
    flex-grow: 3;
    margin-left: -25px;
}

.avatar > img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.person > p {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 0 5px 30px;
    border-radius: 10px;
    margin: 0;
}

div.red .person > p {
    color: white;
    background-color: #ca0000;
}

div.red .avatar > img {
    border: 4px solid #ca0000;
}

div.orange .person > p {
    color: white;
    background-color: #ff7800;
}

div.orange .avatar > img {
    border: 4px solid #ff7800;
}

div.gray .person > p {
    color: white;
    background-color: #bebebe;
}

div.gray .avatar > img {
    border: 4px solid #bebebe;
}

div.pink .person > p {
    color: white;
    background-color: #a900b4;
}

div.pink .avatar > img {
    border: 4px solid #a900b4;
}

div.green .person > p {
    color: white;
    background-color: #009a21;
}

div.green .avatar > img {
    border: 4px solid #009a21;
}

div.blue .person > p {
    color: white;
    background-color: #1700a0;
}

div.blue .avatar > img {
    border: 4px solid #1700a0;
}

.download-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem; /* space between the grid items */
    justify-items: center;
    align-items: center;
}

.download-tiles::before {
    content: none !important; /* Clear pseudo-element introduced by clearfix */
}

.download-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid #444444;
}

.download-tile a img {
    max-width: 100%;
    max-height: 100%;
}

.download-tile .download-title {
    /* styles for the file name */
}