/* intervals */
.intervals-holder,
.intervals-legend {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

.intervals-legend span {
    width: 24px;
    text-align: center;
    display: table-cell;
    font-size: 10px;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0;
}

.intervals-holder span:nth-child(1),
.intervals-legend span:nth-child(1) {
    width: 200px;
    text-align: right;
    border: none;
    padding-right: 10px;
    font-weight: bold;
}

.intervals-holder span:nth-child(1) {
    font-size: 14px;
    background-color: transparent;
    font-weight: normal;
}

.intervals-legend span:nth-child(even) {
    background-color: #efefef;
}

.intervals-holder span {
    border: 1px solid #cccccc;
    border-top: 0;
    width: 6px;
    height: 20px;
    background-color: #efefef;
    display: table-cell;
}

.intervals-holder span:nth-child(4n+1) {
    border-right-color: #999999;
}
/* layouts */
.dashboard {
    display: table;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    height: 300px;
    margin: 5px;
}

.dashboard[data-preview-variant] {
    width: 50px;
    height: 30px;
    float: left;
}

.dashboard[data-preview-variant] > div {
    display: table-cell;
    border: 1px dotted gray;
    cursor: pointer;
}

.dashboard > div {
    display: table-row;
}

.function-holder {
    background-color: white;
    border: 1px solid gray;
    width: 100%;
    text-align: left;
    padding: 2px 4px;
    margin: 2px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.module-holder {
    background-color: #efefef;
    padding-bottom: 20px;
}

.cfg-holder {
    border-top: 1px solid #efefef;
    display: none;
    margin-top: 3px;
    padding-top: 2px;
}

.cfg-holder > div > label,
.cfg-holder > div > select {
    font-weight: normal;
    line-height: 16px;
}

[data-cell] {
    text-align: center;
    display: table-cell;
    border: 1px dotted gray;
    padding: 10px;
}


.align-bottom {
    vertical-align: bottom
}

[data-col="10"] {
    width: 10%;
}

[data-col="20"] {
    width: 20%;
}

[data-col="25"] {
    width: 25%;
}

[data-col="30"] {
    width: 30%;
}

[data-col="33"] {
    width: 33%;
}

[data-col="40"] {
    width: 40%;
}

[data-col="50"] {
    width: 50%;
}

[data-col="75"] {
    width: 75%;
}

[data-col="70"] {
    width: 70%;
}

[data-col="100"] {
    width: 100%;
}

.draggable {
    cursor: move;
}