description = "Firemon Car-AI"
==
==
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Patrick Moldenhauer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Firemon 112 Car-AI">
        <link rel="icon" type="image/png" href="{{ 'assets/images/firemon.png'|theme }}">
        <meta http-equiv="Cache-control" content="no-cache">
        <link href="{{ [
            'assets/css/vendor.css',
            'assets/css/theme.css',
            'assets/css/f112icons-font.css',
            'assets/css/car-ai.css'
            ] | theme }}?{{ random() }}" rel="stylesheet">
        <link rel="manifest" href="{{ 'assets/manifest.json'|theme }}">
        <link rel="apple-touch-icon" href="{{ '/assets/icons/drawable-xxxhdpi/ic_launcher.png'|theme }}">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="theme-color" content="#cc0404">
        <meta name="referrer" content="no-referrer" />
        {% styles %}
    </head>
    <body data-assets="{{ 'assets/'|theme }}">

        <!-- Content -->
        <section id="layout-content" class="container-fluid">
            {% page %}
        </section>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
