description = "Firemon 112 Frontend no Boilerplate"

[firemonSession]
security = "all"
==
<!DOCTYPE html>
<html  lang="de" translate="no">
<head>
    <meta charset="utf-8">
    <title>Firemon 112 - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Firemon 112">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Firemon 112">
    <link rel="icon" type="image/png" href="{{ 'assets/images/firemon.png'|theme }}">
    <link href="{{ [
            'assets/css/vendor.css',
            'assets/css/theme.css',
            'assets/css/f112icons-font.css',
            'assets/css/frontend.css',
            'assets/vendor/jquery3/jquery-ui.css',
            'assets/css/DateTimePicker.min.css'
            ] | theme }}?{{ random() }}" rel="stylesheet">
    {% styles %}
</head>
<body>
<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content">
    {% if user and this.page.submenuPartial %}
    <div class="container semifluid">
        <div class="row">
            <div class="col-md-3">
                {% partial 'submenu/avatar' %}
                {% partial this.page.submenuPartial %}
                <div class="clearfix"></div>
            </div>
            <div class="col-md-9">
                {% page %}
            </div>
        </div>
    </div>
    {% else %}
        {% page %}
    {% endif %}
</section>


<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>

<!-- Scripts -->
<script src="{{ 'assets/vendor/jquery3/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery3/jquery-ui.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
<script src="{{ 'assets/javascript/DateTimePicker.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js'|theme }}?{{ random() }}"></script>
<script src="{{ 'assets/javascript/js-api-loader.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>