description = "Firemon Depesche Monitor"
==
use pm\Firemon112\Models\Settings;
use pm\Firemon112\Models\AlertUserFeedback;

function onStart() {
    $this['google_maps_api_key'] = Settings::get('google-maps-api-key');
    $this['aws_polly_identity_pool_id'] = Settings::get('aws_polly_identity_pool_id');
    $this['accu_weather_api_key'] = Settings::get('accu-weather-api-key');
    $this['alert_feedback_i_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_I_LABEL;
    $this['alert_feedback_d_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_D_LABEL;
    $this['alert_feedback_l_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_L_LABEL;
    $this['alert_feedback_n_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_N_LABEL;

}
==
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Patrick Moldenhauer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Firemon 112 Monitor">
        <link rel="icon" type="image/png" href="{{ 'assets/images/firemon.png'|theme }}">
        <meta http-equiv="Cache-control" content="no-cache">
        <link href="{{ [
            'assets/css/vendor.css',
            'assets/css/theme.css',
            'assets/css/f112icons-font.css',
            'assets/css/monitor.css'
            ] | theme }}?{{ random() }}" rel="stylesheet">
        <link rel="manifest" href="{{ 'assets/manifest.json'|theme }}">
        <link rel="apple-touch-icon" href="{{ '/assets/icons/drawable-xxxhdpi/ic_launcher.png'|theme }}">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="theme-color" content="#cc0404">
        {% styles %}
    </head>
    <body data-assets="{{ 'assets/'|theme }}">

        <!-- Content -->
        <section id="layout-content" class="container-fluid">
            {% page %}
        </section>
        <div id="alert-feedback-holder" class="hidden-print" style="display: none;">
            <div class="row">
                <div id="alert-feedback-i-extra" class="col-12 feedback-i" style="display: none;">
                    <ul>
                        <li>Keine Einsatz-Rückmeldung vorhanden.</li>
                    </ul>
                </div>
                <div id="alert-feedback-d-extra" class="col-12 feedback-d" style="display: none;">
                    <ul>
                        <li>Keine Einsatz-Rückmeldung vorhanden.</li>
                    </ul>
                </div>
                <div id="alert-feedback-l-extra" class="col-12 feedback-l" style="display: none;">
                    <ul>
                        <li>Keine Einsatz-Rückmeldung vorhanden.</li>
                    </ul>
                </div>
                <div id="alert-feedback-n-extra" class="col-12 feedback-n" style="display: none;">
                    <ul>
                        <li>Keine Einsatz-Rückmeldung vorhanden.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="alert-feedback-i" class="col-xs-3 text-center feedback-i"><span class="lbl">{{ alert_feedback_i_lbl }}</span><span class="cnt">0</span></div>
                <div id="alert-feedback-d" class="col-xs-3 text-center feedback-d"><span class="lbl">{{ alert_feedback_d_lbl }}</span><span class="cnt">0</span></div>
                <div id="alert-feedback-l" class="col-xs-3 text-center feedback-l"><span class="lbl">{{ alert_feedback_l_lbl }}</span><span class="cnt">0</span></div>
                <div id="alert-feedback-n" class="col-xs-3 text-center feedback-n"><span class="lbl">{{ alert_feedback_n_lbl }}</span><span class="cnt">0</span></div>
            </div>
        </div>
        <div id="error-dialog" class="hidden-print">
            <div class="error-box">
                <a href="javascript:window.location.reload(true);" style="color: orange; line-height: 1.5em; " class="visible-md visible-sm visible-xs"><i class="icon icon-refresh"></i> Jetzt neu laden</a>
                <div class="error-icon"><i class="icon-spin icon-spinner"></i></div>
                <div class="login-form" style="display: none;">
                    <div class="form-group">
                        <label for="user_login">E-Mail</label>
                        <input name="login" type="text" class="form-control" id="user_login" />
                    </div>
                    <div class="form-group">
                        <label for="user_password">Passwort</label>
                        <input name="password" type="password" class="form-control" id="user_password" />
                    </div>
                </div>
                <button id="toggle-login" class="btn btn-firemon visible-md visible-sm visible-xs" style="display:block; width: 100%;"><i class="icon icon-user"></i> Login</button>
                <div class="error-label"><h1>Laden ...</h1></div>
            </div>
        </div>
        <div id="idle-dialog" class="hidden-print">
            <div class="idle-box">
                <div class="idle-ident"></div>
                <a href="javascript:window.location.reload(true);" style="color: orange; line-height: 1.5em; " class="visible-md visible-sm visible-xs"><i class="icon icon-refresh"></i> Jetzt neu laden</a>
                <div class="idle-clock"></div>
                <div class="idle-station"></div>
                <div class="idle-indicators">
                    <i data-state-indicator="www" class="f112-icon f112-three-dots icon-neutral"></i>
                    <i data-state-indicator="device" class="f112-icon f112-three-dots icon-neutral"></i>
                    <i data-state-indicator="wd" class="f112-icon f112-three-dots icon-neutral"></i>
                    <i data-state-indicator="mq" class="f112-icon f112-three-dots icon-neutral"></i>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>

            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/sw.js');
                });
            } else {
                console.log('ServiceWorker not supported');
            }
        </script>
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
