description = "Firemon 112 Frontend"

==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Firemon 112 - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Firemon 112">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Firemon 112">
    <link rel="icon" type="image/png" href="{{ 'assets/images/firemon.png'|theme }}">
    <link href="{{ [
            'assets/css/vendor.css',
            'assets/css/theme.css',
            'assets/css/f112icons-font.css',
            'assets/css/frontend.css',
            ] | theme }}?{{ random() }}" rel="stylesheet">
    {% styles %}
</head>
<body style="padding: 10px;">
<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Scripts -->
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js'|theme }}?{{ random() }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>