title = "Page not found (404)"
url = "/404"
layout = "default"
==
<div class="jumbotron">
    <div class="container">
        <h1>Seite nicht gefunden</h1>
        <p>Sieht so aus als wäre das ne Einbahnstraße ;-) Klick oben auf's Logo für die Startseite...</p>
    </div>
</div>