title = "Abwesenheiten"
url = "/absences"
layout = "default"
submenuPartial = 'submenu/account'

[firemonSession]
security = "user"
redirect = "not-allowed"
==
<h2>Abwesenheiten</h2>
{% if user %}
<div class="row m-b-sm">
    <div class="col-xs-12">
        <p><a href="{{ 'absence-edit'|page({ absence_id: 0 }) }}" class="btn btn-default">Abwesenheit hinzufügen</a></p>
    </div>
</div>
{% endif %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Grund</th>
            <th scope="col">Von</th>
            <th scope="col">Bis</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% if user.absences %}
        {% for absence in user.absences %}
        <tr>
            <th scope="row"><a href="{{ 'absence-edit'|page({ absence_id: absence.id }) }}">{{ absence.absenceTypeReadable }}</a></th>
            <td>{{ absence.validFromFormatted }}</td>
            <td>{{ absence.validToFormatted }}</td>
            <td>{% if absence.auto_cancel_events %}mit Auto-Absage{% endif %}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Keine Abwesenheiten vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>