title = "Abwesenheit hinzufügen / ändern"
url = "/absence-edit/:absence_id"
layout = "default"
is_hidden = 0
submenuPartial = 'submenu/account'

[account]
redirect = "uebersicht"
paramCode = "code"
==
<?php
use pm\Firemon112\Models\Absence;
use pm\Firemon112\Models\Helper;
use Carbon\Carbon;
function onStart() {
    $this['absence_types'] = Absence::getAbsenceTypeOptions();
    if ($this['absence']===null) {
        $this['absence'] = $this->user->absences->find($this->param('absence_id'));
    }
}
function onSaveAbsence() {
    try {
        $user = Helper::GetFeUser();
        if ($user === null) {
            throw new Exception("Abwesenheit kann nicht zugeordnet werden.");
        }
        $absence = $user->absences->find($this->param('absence_id'));
        if ($absence === null) {
            $absence = new Absence();
        }

        $absence->absence_type = post('absence_type');
        $absence->user_id = $user->id;
        $absence->auto_cancel_events = boolval(post('auto_cancel_events'));

        $valid_from = post('valid_from_formatted');
        if (strlen($valid_from)>0) {
            try {
                $absence->valid_from = Carbon::createFromFormat(Helper::GetDefaultDateTimeFormat(), $valid_from, 'Europe/Berlin');
            } catch (Exception $e) {
                $absence->valid_from = null;
            }
        }

        $valid_to = post('valid_to_formatted');
        if (strlen($valid_to)>0) {
            try {
                $absence->valid_to = Carbon::createFromFormat(Helper::GetDefaultDateTimeFormat(), $valid_to, 'Europe/Berlin');
            } catch (Exception $e) {
                $absence->valid_to = null;
            }
        }
        $absence->save();
        Flash::success("Abwesenheit gespeichert");
        return Redirect::to('absences');
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

function onDeleteAbsence() {
    $user = Helper::GetFeUser();
    $absence = $user->absences->find($this->param('absence_id'));
    $absence->delete();
    Flash::success("Abwesenheit gelöscht");
    return Redirect::to('absences');
}

?>
==
{% put scripts %}
<script>
    $( document ).ready(function() {
        $("#dtBox").DateTimePicker({
            dateSeparator: ".",
            dateTimeFormat: "dd.MM.yyyy HH:mm",
            dateFormat: "dd.MM.yyyy",
            timeFormat: "HH:mm",
            shortDayNames: ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
            fullDayNames: ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"],
            shortMonthNames: ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
            fullMonthNames: ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"],

            titleContentDate: "Datum auswählen",
            titleContentTime: "Zeit auswählen",
            titleContentDateTime: "Datum & Zeit auswählen",

            setButtonContent: "Auswählen",
            clearButtonContent: "Löschen",
            afterHide: function( InputElement) {
                if (InputElement.name == "valid_from_formatted") {
                    $('#valid_to_formatted').val(InputElement.value);
                }
            },

            formatHumanDate: function(oDate, sMode, sFormat)
            {
                if(sMode === "date")
                    return oDate.dayShort + ", " + oDate.dd + " " + oDate.month+ ", " + oDate.yyyy;
                else if(sMode === "time")
                    return oDate.HH + ":" + oDate.mm + ":" + oDate.ss;
                else if(sMode === "datetime")
                    return oDate.dayShort + ", " + oDate.dd + " " + oDate.month+ " " + oDate.yyyy + ", " + oDate.HH + ":" + oDate.mm;
            }
        });
    });
</script>
{% endput %}
<div id="dtBox"></div>
{% if absence %}
    <h2>Abwesenheit ändern</h2>
{% else %}
    <h2>Abwesenheit hinzufügen</h2>
{% endif %}
{% if user %}
{% if absence %}
    {{ form_model(absence, {'request': 'onSaveAbsence'}) }}
{% else %}
    {{ form_open({'request': 'onSaveAbsence'}) }}
{% endif %}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('absence_type', 'Grund') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('absence_type', absence_types, post('absence_type'), {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('auto_cancel_events', 'Bei Events automatisch absagen') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_checkbox('auto_cancel_events', '1', post('auto_cancel_events'), { id: 'auto_cancel_events' }) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('valid_from_formatted', 'Start') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('valid_from_formatted', post('valid_from_formatted') ,{'class':'form-control firemon-datetime', 'data-field':'datetime', 'readonly':'readonly'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('valid_to_formatted', 'Ende') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('valid_to_formatted', post('valid_to_formatted') ,{'class':'form-control firemon-datetime', 'data-field':'datetime', 'readonly':'readonly'}) }}
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        {{ form_submit('Speichern') }}
    </div>
</div>

{{ form_close() }}


<div class="row m-t-lg">
    <div class="text-left col-xs-6">
        <p><a href="{{ 'absences'|page }}" class="btn btn-default">zurück</a></p>
    </div>
    <div class="text-right col-xs-6">
        {% if absence.id > 0 %}
            <button data-request="onDeleteAbsence" data-request-confirm="Abwesenheit wirklich löschen?" class="btn btn-default">Abwesenheit löschen</button>
        {% endif %}
    </div>
</div>
{% endif %}
