title = "Account Zusammenfassung"
url = "/account-index"
layout = "default"
submenuPartial = 'submenu/account'

[firemonSession]
security = "user"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Station;
use pm\Firemon112\Models\Invite;
use pm\Firemon112\Models\Helper;
use RainLab\User\Models\User;

public function onInviteResponse() {
    try {
        $user = Helper::GetFeUser();
        if ($user == null) {
            throw new Exception("Login Kontext ungültig!");
        }
        $invite = Invite::find(intval(post('inviteid')));
        if ($invite == null) {
            throw new Exception("Einladung nicht gefunden!");
        }
        if ($invite->user_id_recipient != $user->id) {
            throw new Exception("Einladung gehört jemand anderen!");
        }
        $response = boolval(post('accept'));

        if ($response) {
            $invite->accept();
        } else {
            $invite->decline();
        }
        $this['invites'] = $user->invites_recipient;
        $this['successMessage'] = "Einladung erfolgreich " . ($response ? 'angenommen' : 'abgelehnt');
        $this['linked_stations'] = $user->linked_stations;
    } catch (Exception $e) {
        $this['errorMessage'] = $e->getMessage();
    }
}

public function onUnlinkStationFromUser() {
    $user = Helper::GetFeUser();
    $linked_station = $user->linked_stations()->find(intval(post('linked_station_id')));
    if ($user != null && $linked_station != null) {
        foreach ($linked_station->alertgroups as $alertgroup) {
            $user->alertgroups()->detach($alertgroup);
        }
        foreach ($linked_station->groups as $group) {
            $user->groups()->detach($group);
        }
        foreach($linked_station->news as $news) {
            $news->reminders()->user($user)->unhandled()->delete();
        }
        foreach($linked_station->events as $event) {
            $event->reminders()->user($user)->unhandled()->delete();
        }
        $user->linked_stations()->detach($linked_station);
    }
    $this['linked_stations'] = $user->linked_stations;
}

public function onStart() {
    if ($this->user != null) {
        $this['latest_alerts'] = $this->user->alerts()->byStation($this->station->id)->orderBy('created_at', 'desc')->take(3)->get();
    }
}
==
{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    var map;
    var marker;
    var lonlat;

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    function initMap() {
        lonlat = new google.maps.LatLng({{ station.lat }},{{ station.long }});
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: lonlat,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            styles: styles["default"]
        });

        marker = new google.maps.Marker({
            position: lonlat,
            map: map
        });

    }

</script>
{% endput %}
<div class="alert alert-error" id="account-error" style="display:none;"></div>
{% if user %}
<div class="page-header">
    <h2>Hi, {{ user.name }} {{ user.surname }}!</h2>
    <ul>
        <li><a href="{{ 'lehrgaenge'|page({ source: null, year: null }) }}">Lehrgänge</a></li>
        <li><a href="/storage/app/media/Firemon 112 Schnelleinstieg_Handbuch-SmartCity.pdf" target="_blank">Handbuch &amp; Schnelleinstieg</a> (Entstanden im Rahmen der Kooperation mit Smart City)</li>
        <li>Download <a href="{{ '/assets/downloads/Firemon112-1.0.13.zip'|theme }}" target="_blank">Firemon 112 für Windows (v1.0.13)</a></li>
        <li><a href="https://bitbucket.org/gladder/workspace/projects/F1" target="_blank">Source-Code auf Bit-Bucket</a></li>
    </ul>
    <div id="user_invites">{% partial "user_invites_received" invites=user.invites_recipient %}</div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <h4>Deine Schleifen bei {{ station.name }}</h4>
        <ul>
            {% if user.related_alert_groups.count() > 0 %}
                {% for group in user.related_alert_groups|filter(i => i.station_id == station.id)|sort( (a,b) => b.prio <=> a.prio) %}
                <li>{{ group.label }} ({{ group.station.name }})</li>
                {% endfor %}
            {% else %}
                <li>Keine!</li>
            {% endif %}
        </ul>
        <h4>Deine letzten Einsätze bei {{ station.name }}</h4>
        <ul>
            {% if latest_alerts|length > 0 %}
                {% for alert in latest_alerts %}
                <li>{{ alert.depescheObject.Einsatzbeginn }}: {{ alert.depescheObject.Einsatzstichwort }} ({{ alert.depescheObject.Ort }})</li>
                {% endfor %}
            {% else %}
                <li>noch keine</li>
            {% endif %}
        </ul>
    </div>
    <div class="col-sm-12 col-lg-6">
        <h4>{{ station.name }}</h4>
        <p>
            {% if station %}
            {{ station.station_type_label }}
            {% endif %}
        </p>
        <div id="map" class="responsive_map"></div>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <h4>Deine Gruppen und Funktionen bei {{ station.name }}</h4>
        {% partial "user_roles_listitem" feuser=user station=station %}
    </div>
    <div class="col-sm-12 col-lg-6" id="user_linked_stations">
        {% partial "user_linked_stations" linked_stations=user.linked_stations %}
    </div>
</div>
{% endif %}