title = "Account"
url = "/account/:code?"
layout = "default"
submenuPartial = 'submenu/account'

[account]
redirect = "account-index"
paramCode = "code"
==

use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Settings;

public function onStart() {
    $this['recaptcha_enabled'] = Settings::get('recaptcha-enabled');
}

public function onRegister() {
}

public function onDeleteImage() {
    $user = Helper::GetFeUser();
    if ($user !== null) {
        if ($user->avatar !== null) {
            $user->avatar->delete();
        }
        Flash::success("Bild gelöscht");
    }
    return Redirect::refresh();
}

public function onUpdateAvatar() {
    try {
        $user = Helper::GetFeUser();
        if ($user === null) {
            throw new Exception("Benutzer kann nicht zugeordnet werden.");
        }
        if (Input::has('avatar')) {
            $image = Input::file('avatar');
            if ($image != null) {
                $user->avatar = $image;
            }
            $user->save();
            Flash::success("Avatar gespeichert");
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
    return Redirect::refresh();
}
==
{% put scripts %}
<script>
$(window).on('ajaxErrorMessage', function(event, message){
    console.log(event, message);
    $('#account-error').show();
    $('#account-error').text(message);

    // This will stop the default alert() message
    event.preventDefault();

});
</script>
{% endput %}
<div class="alert alert-error" id="account-error" style="display:none;"></div>
<div class="container">
{% if user %}
<div class="page-header">
    <h2>Hi, {{ user.name }} {{ user.surname }}!</h2>
    <p>
        Hier kannst Du Deinen Namen, Deine E-Mail und Dein Passwort ändern sowie ein Avatar von Dir hochladen oder entfernen.
    </p>
</div>
{% endif %}

{% component 'account' %}
</div>