title = "Einsatzfeedback"
url = "/f/:token/:feedback?"
layout = "white"
description = "Firemon 112 Einsatz-Feedback"
is_hidden = 0
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\AlertUserFeedback;
use RainLab\User\Models\User;
use pm\Firemon112\Models\Alert;
function onStart()
{
    try {
        $token = $this->param('token', '');
        $feedback = intval($this->param('feedback', ''));
        $this['token'] = $token;
        $data = Helper::parseFeedbackToken($token);
        if ($data == null) {
            throw new Exception("Der Link ist ungültig - Feedback nicht möglich");
        }
        $user = User::find($data['user_id']);
        if ($user == null) {
            throw new Exception("Es ist ein Fehler aufgetreten (0xA000)");
        }
        $alert = $user->alerts()->where('id',intval($data['alert_id']))->first();
        if ($alert == null) {
            throw new Exception("Es ist ein Fehler aufgetreten (0xB000)");
        }
        $alert_created = Carbon\Carbon::parse($alert->created_at,'Europe/Berlin');
        if ($alert->schedule_handled_at != null) {
            $alert_created = Carbon\Carbon::parse($alert->schedule_handled_at,'Europe/Berlin');
        }
        $now = Carbon\Carbon::now('Europe/Berlin');
        if ($now->diffInMinutes($alert_created) > 120) {
            throw new Exception("Es ist ein Fehler aufgetreten (0xD000)");
        }
        $alert_feedback = $user->alert_feedbacks()->where('alert_id', $alert->id)->first();

        if ($feedback > 0) {
            if (!in_array($feedback, array_keys(AlertUserFeedback::getFeedbackStatusOptions()))) {
                throw new Exception("Es ist ein Fehler aufgetreten (0xE000)");
            }
            if ($alert_feedback == null) {
                $alert_feedback = new AlertUserFeedback();
                $alert_feedback->user_id = $user->id;
                $alert_feedback->alert_id = $alert->id;
            }
            $alert_feedback->feedback_status = $feedback;
            $alert_feedback->feedback_performed = $now;
            $alert_feedback->save();
        }

        $this['alert'] = $alert;
        $this['alert_feedback_type'] = $alert->station->alert_feedback_type;
        $this['alert_feedback'] = $alert_feedback;
        $this['feedback_i'] = AlertUserFeedback::$TYPE_FEEDBACK_I;
        $this['feedback_d'] = AlertUserFeedback::$TYPE_FEEDBACK_D;
        $this['feedback_l'] = AlertUserFeedback::$TYPE_FEEDBACK_L;
        $this['feedback_n'] = AlertUserFeedback::$TYPE_FEEDBACK_N;
        $this['feedback_i_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_I_LABEL;
        $this['feedback_d_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_D_LABEL;
        $this['feedback_l_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_L_LABEL;
        $this['feedback_n_lbl'] = AlertUserFeedback::$TYPE_FEEDBACK_N_LABEL;
        $this['feedback_none'] = AlertUserFeedback::$TYPE_FEEDBACK_NONE;
        $this['feedback_sent_mode'] = $feedback > 0;
    } catch (Exception $e) {
        $this['error'] = $e->getMessage();
    }
}
==
{% set color_instant = 'green' %}
{% set color_direct = 'blue' %}
{% set color_later = 'orange' %}
{% set color_notavail = 'red' %}
{% set instant = '<a href="' ~  'alert-feedback'|page({ token: token, feedback: feedback_i }) ~ '" class="btn" style="background-color: ' ~ color_instant ~ '; color: white; width: 100%; line-height: 3em;">' ~ feedback_i_lbl ~ '</a>' %}
{% set direct = '<a href="' ~  'alert-feedback'|page({ token: token, feedback: feedback_d }) ~ '" class="btn" style="background-color: ' ~ color_direct ~ '; color: white; width: 100%; line-height: 3em;">' ~ feedback_d_lbl ~ '</a>' %}
{% set later = '<a href="' ~  'alert-feedback'|page({ token: token, feedback: feedback_l }) ~ '" class="btn" style="background-color: ' ~ color_later ~ '; color: white; width: 100%; line-height: 3em;">' ~ feedback_l_lbl ~ '</a>' %}
{% set notavail = '<a href="' ~  'alert-feedback'|page({ token: token, feedback: feedback_n }) ~ '" class="btn" style="background-color: ' ~ color_notavail ~ '; color: white; width: 100%; line-height: 3em;">' ~ feedback_n_lbl ~ '</a>' %}

<div class="container">
    {% if error %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% else %}
        <div class="row m-b-sm">
            <div class="col-xs-12 text-center">
                <h4 class="text-center">Feedback zu Einsatz {{ alert.depescheObject.Einsatzstichwort }}<br />{{ alert.depescheObject.Einsatzbeginn }}</h4>
                {% if feedback_sent_mode %}
                <div class="promo-fact col-xs-12 text-center m-t-sm m-b-sm">
                    <div class="promo-circle f112-icon f112-check-circle" style="background: darkgrey;"></div>
                    {% set color = 'black' %}
                    {% if alert_feedback.feedback_status == feedback_i %}{% set color = color_instant %}{% endif %}
                    {% if alert_feedback.feedback_status == feedback_d %}{% set color = color_direct %}{% endif %}
                    {% if alert_feedback.feedback_status == feedback_l %}{% set color = color_later %}{% endif %}
                    {% if alert_feedback.feedback_status == feedback_n %}{% set color = color_notavail %}{% endif %}
                    <p class="promo-count" style="color: darkgrey;">Status gesetzt<br/><b style="color: {{ color }}">{{ alert_feedback.feedbackStatusReadable }}</b></p>
                </div>
                {% else %}
                    {% if alert_feedback %}
                        <div class="alert alert-info text-center">
                            Du hast bereits ein Feedback abgegeben. <b>Status: {{ alert_feedback.feedbackStatusReadable }}</b><br />
                            Du kannst per Klick dein Feedback aktualisieren.
                        </div>
                    {% else %}
                        <p>Wie kommst Du zum Einsatz?</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if feedback_sent_mode %}
            <div class="row m-t-md text-center">
                <div class="col-xs-12"><a href="{{ 'alert-feedback'|page({ token: token, feedback: feedback_none }) }}" class="btn btn-default">Feedback ändern</a></div>
            </div>
        {% else %}

            {% if alert_feedback_type == 0 %}
                <div class="row m-b-md">
                    <div class="col-xs-12"><p>Einsatzkräfte-Feedback ist nicht aktiviert</p></div>
                </div>
            {% endif %}

            {% if alert_feedback_type == 1 %}
            <div class="row m-b-md">
                <div class="col-xs-6">{{ instant|raw }}</div>
                <div class="col-xs-6">{{ notavail|raw }}</div>
            </div>
            {% endif %}

            {% if alert_feedback_type == 2 %}
            <div class="row m-b-md">
                <div class="col-xs-6">{{ instant|raw }}</div>
                <div class="col-xs-6">{{ later|raw }}</div>
            </div>
            <div class="row m-b-md">
                <div class="col-xs-12">{{ notavail|raw }}</div>
            </div>
            {% endif %}

            {% if alert_feedback_type == 3 %}
            <div class="row m-b-md">
                <div class="col-xs-6">{{ instant|raw }}</div>
                <div class="col-xs-6">{{ direct|raw }}</div>
            </div>
            <div class="row m-b-md">
                <div class="col-xs-12">{{ notavail|raw }}</div>
            </div>
            {% endif %}

            {% if alert_feedback_type == 4 %}
            <div class="row m-b-md">
                <div class="col-xs-6">{{ instant|raw }}</div>
                <div class="col-xs-6">{{ direct|raw }}</div>
            </div>
            <div class="row m-b-md">
                <div class="col-xs-6">{{ later|raw }}</div>
                <div class="col-xs-6">{{ notavail|raw }}</div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>