title = "Firemon 112 - Car AI"
description = "Firemon 112 - Car AI ;-)"
url = "/car-ai"
layout = "car-ai"
is_hidden = 0
==
use \pm\Firemon112\Models\Helper;
use Carbon\Carbon;

function onInit() {
    $this['version'] = "1.00";
}

function onGetVersion()
{
    return $this['version'];
}
function onDetectCar() {
    return Helper::CarNetDetectCar(post('imageData'));
}
==
{% put scripts %}
<script>
    let version = '{{ version }}';
</script>
<script src="{{ 'assets/javascript/car-ai.js'|theme }}?{{ random() }}"></script>
{% endput %}
<div class="container">
    <div class="row m-b-sm m-t-md">
        <div class="col-xs-6 ">
            <h2 style="margin: 0;">Car-AI</h2>
        </div>
        <div class="col-xs-6 text-right">
            <button id="stopCameraButton">Stop Cam</button>
            <button id="startCameraButton">Start Cam</button>
        </div>
    </div>

    <div class="row m-b-sm" id="videoHolder">
        <div class="col-xs-12">
            <select id="camSelect">
                <option>No camera found!</option>
            </select>
        </div>
        <div class="col-xs-12">
            <video id="video" autoplay="true" playsinline="true" class="img-responsive"></video>
            <button id="takePhotoButton" style="z-index: 2; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border: none;"><i class="icon-camera icon-5x" style="color: white; opacity: 0.4; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;"></i></button>
        </div>
    </div>
    <div class="row m-b-sm" id="imageHolder">
        <div class="col-xs-12">
            <img alt="img" id="image" class="img-responsive">
            <canvas style="z-index: 1; position: absolute; top: 0px;" id="imageOverlay"></canvas>
            <button id="restartButton" style="z-index: 2; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border: none;"><i class="icon-refresh icon-5x" style="color: white; opacity: 0.4; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;"></i></button>
        </div>
        <div class="col-xs-12" id="detection-result"></div>
    </div>
    <div class="row m-b-sm" id="carHolder">

    </div>
</div>

