title = "Datenschutzerklärung"
url = "/datenschutz"
layout = "default"
description = "Firemon 112 Datenschutzerklärung"
is_hidden = 0
==
<div class="container">
    <h1>Datenschutzerklärung</h1>
    <p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:</p>
        <p><b>Firemon 112 e.V.</b>
        <br>Ziegeleistr. 47
        <br>24392 Norderbrarup</p>
    <p><b>Vertretungsberechtigte</b></p>
    <p>
        Patrick Moldenhauer, Erster Vorsitzender<br />
        Martin Knackstedt, Zweiter Vorsitzender
    </p>
    <h2>Ihre Betroffenenrechte</h2>
    <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
    <ul>
        <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
        <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
        <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
        <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
        <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
        <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
    </ul>
    <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
    <p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.</p>
    <p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel="nofollow noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
    <p></p><h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
    <h3>Art und Zweck der Verarbeitung:</h3>
    <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches. </p>
    <p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
    <ul>
        <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
        <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
        <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
        <li>zur Optimierung unserer Website.</li>
    </ul>
    <p>Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser Art werden von uns ggfs. anonymisiert statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren. </p>
    <h3>Rechtsgrundlage und berechtigtes Interesse:</h3>
    <p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.</p>
    <h3>Empfänger:</h3>
    <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig werden.</p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>Nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Speicherdauer:</h3>
    <p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Website dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist. </p>
    <p> Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens 14 Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer anonymisiert, sodass eine  Zuordnung  des aufrufenden Clients nicht mehr möglich ist.</p>
    <p></p><h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
    <p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein. Aus diesem Grund ist ein Widerspruch ausgeschlossen. </p>
    <p></p><h2>Cookies</h2>
    <p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Webseite besuchen. </p>
    <p>Sie können Sie einzelne Cookies oder den gesamten Cookie-Bestand löschen. Darüber hinaus erhalten Sie Informationen und Anleitungen, wie diese Cookies gelöscht oder deren Speicherung vorab blockiert werden können. Je nach Anbieter Ihres Browsers finden Sie die notwendigen Informationen unter den nachfolgenden Links:</p>
    <ul>
        <li>Mozilla Firefox: <a href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen" target="_blank" rel="nofollow noopener">https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a></li>
        <li>Internet Explorer: <a href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="nofollow noopener">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
        <li>Google Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=de" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/61416?hl=de</a></li>
        <li>Opera: <a href="http://www.opera.com/de/help" target="_blank" rel="nofollow noopener">http://www.opera.com/de/help</a></li>
        <li>Safari: <a href="https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE" target="_blank" rel="nofollow noopener">https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</a></li>
    </ul>
    <h3>Speicherdauer und eingesetzte Cookies:</h3>
    <p>Soweit Sie uns durch Ihre Browsereinstellungen oder Zustimmung die Verwendung von Cookies erlauben, können folgende Cookies auf unseren Webseiten zum Einsatz kommen:</p>
    <p>Bis Sitzungsende</p>
    <h2>Technisch notwendige Cookies </h2>
    <h3>Art und Zweck der Verarbeitung: </h3>
    <p>Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.</p>
    <p>Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.</p>
    <p>Für folgende Anwendungen benötigen wir Cookies:</p>
    <p>Login-Bereich</p>
    <p></p><h3>Rechtsgrundlage und berechtigtes Interesse: </h3>
    <p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an einer nutzerfreundlichen Gestaltung unserer Website.</p>
    <h3>Empfänger: </h3>
    <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Website als Auftragsverarbeiter tätig werden.</p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
    <p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne diese Daten ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.</p>
    <h3>Widerspruch</h3>
    <p>Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21 DSGVO weiter unten.</p>
    <p></p><h2>Registrierung auf unserer Website</h2>
    <h3>Art und Zweck der Verarbeitung:</h3>
    <p>Für die Registrierung auf unserer Website benötigen wir einige personenbezogene Daten, die über eine Eingabemaske an uns übermittelt werden. </p>
    <p>Zum Zeitpunkt der Registrierung werden zusätzlich folgende Daten erhoben:</p>
    <p>Vorname, Nachname, E-Mail, Name und Ort der Feuerwehr</p>
    <p>Ihre Registrierung ist für das Bereithalten bestimmter Inhalte und Leistungen auf unserer Website erforderlich.</p>
    <h3>Rechtsgrundlage:</h3>
    <p>Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage einer Einwilligung des Nutzers (Art. 6 Abs. 1 lit. a DSGVO).</p>
    <h3>Empfänger:</h3>
    <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Website als Auftragsverarbeiter tätig werden.</p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Speicherdauer:</h3>
    <p>Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt. </p>
    <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
    <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung. Ohne die Bereitstellung Ihrer personenbezogenen Daten können wir Ihnen keinen Zugang auf unsere angebotenen Inhalte gewähren. </p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h2>Kontaktformular</h2>
    <h3>Art und Zweck der Verarbeitung:</h3>
    <p>Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen Kommunikation mit Ihnen gespeichert. Hierfür ist die Angabe einer validen E-Mail-Adresse sowie Ihres Namens erforderlich. Diese dient der Zuordnung der Anfrage und der anschließenden Beantwortung derselben. Die Angabe weiterer Daten ist optional.</p>
    <h3>Rechtsgrundlage:</h3>
    <p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf der Grundlage eines berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO).</p>
    <p>Durch Bereitstellung des Kontaktformulars möchten wir Ihnen eine unkomplizierte Kontaktaufnahme ermöglichen. Ihre gemachten Angaben werden zum Zwecke der Bearbeitung der Anfrage sowie für mögliche Anschlussfragen gespeichert.</p>
    <p>Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt die Verarbeitung der in das Kontaktformular eingegebenen Daten zur Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).</p>
    <h3>Empfänger:</h3>
    <p>Empfänger der Daten sind ggf. Auftragsverarbeiter.</p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h3>Speicherdauer:</h3>
    <p>Daten werden spätestens 6 Monate nach Bearbeitung der Anfrage gelöscht.</p>
    <p>Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den gesetzlichen Aufbewahrungsfristen nach HGB und löschen Ihre Daten nach Ablauf dieser Fristen. </p>
    <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
    <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns Ihren Namen, Ihre E-Mail-Adresse und den Grund der Anfrage mitteilen.</p>
    <p></p><h3>Drittlandtransfer:</h3>
    <p>Die erhobenen Daten werden ggfs. in folgende Drittländer übertragen: </p>
    <p>nein</p>
    <p>Folgende Datenschutzgarantien liegen vor: </p>
    <p></p><h2>Verwendung von Scriptbibliotheken (Google Webfonts)</h2>
    <p>Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen, verwenden wir auf dieser Website „Google Web Fonts“ der Google LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; nachfolgend „Google“) zur Darstellung von Schriften.</p>
    <p>Weitere Informationen zu Google Web Fonts finden Sie unter <a href="https://developers.google.com/fonts/faq" rel="noopener nofollow" target="_blank">https://developers.google.com/fonts/faq</a> und in der Datenschutzerklärung von Google: <a href="https://www.google.com/policies/privacy/" rel="noopener nofollow" target="_blank">https://www.google.com/policies/privacy/</a>.</p>
    <p></p><h2>Verwendung von Google Maps</h2>
    <p>Auf dieser Website nutzen wir das Angebot von Google Maps. Google Maps wird von Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (nachfolgend „Google“) betrieben. Dadurch können wir Ihnen interaktive Karten direkt in der Webseite anzeigen und ermöglichen Ihnen die komfortable Nutzung der Karten-Funktion.<br>Nähere Informationen über die Datenverarbeitung durch Google können Sie den Google-Datenschutzhinweisen entnehmen: <a href="https://policies.google.com/privacy" rel="noopener nofollow" target="_blank">https://policies.google.com/privacy</a>. Dort können Sie im Datenschutzcenter auch Ihre persönlichen Datenschutz-Einstellungen verändern.</p>
    <p>Ausführliche Anleitungen zur Verwaltung der eigenen Daten im Zusammenhang mit Google-Produkten finden Sie hier: <a href="https://www.dataliberation.org/" rel="noopener nofollow" target="_blank">https://www.dataliberation.org</a></p>
    <p>Durch den Besuch der Website erhält Google Informationen, dass Sie die entsprechende Unterseite unserer Webseite aufgerufen haben. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob keine Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. </p>
    <p>Wenn Sie die Zuordnung in Ihrem Profil bei Google nicht wünschen, müssen Sie sich vor Aktivierung des Buttons bei Google ausloggen. Google speichert Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechter Gestaltung seiner Websites. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur Erbringung bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an Google richten müssen. </p>
    <h3>Widerruf der Einwilligung:</h3>
    <p>Vom Anbieter wird derzeit keine Möglichkeit für einen einfachen Opt-out oder ein Blockieren der Datenübertragung angeboten. Wenn Sie eine Nachverfolgung Ihrer Aktivitäten auf unserer Website verhindern wollen, widerrufen Sie bitte im Cookie-Consent-Tool Ihre Einwilligung für die entsprechende Cookie-Kategorie oder alle technisch nicht notwendigen Cookies und Datenübertragungen. In diesem Fall können Sie unsere Website jedoch ggfs. nicht oder nur eingeschränkt nutzen.</p>
    <p></p><h2>Eingebettete YouTube-Videos</h2>
    <p>Auf unserer Website betten wir YouTube-Videos ein. Betreiber der entsprechenden Plugins ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA (nachfolgend „YouTube“). Die YouTube, LLC ist einer Tochtergesellschaft der Google LLC, 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA (nachfolgend „Google“). Wenn Sie eine Seite mit dem YouTube-Plugin besuchen, wird eine Verbindung zu Servern von YouTube hergestellt. Dabei wird YouTube mitgeteilt, welche Seiten Sie besuchen. Wenn Sie in Ihrem YouTube-Account eingeloggt sind, kann YouTube Ihr Surfverhalten Ihnen persönlich zuzuordnen. Dies verhindern Sie, indem Sie sich vorher aus Ihrem YouTube-Account ausloggen. </p>
    <p>Wird ein YouTube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das Nutzerverhalten sammeln. </p>
    <p>Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch YouTube erhalten Sie in den Datenschutzerklärungen des Anbieters, Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre (<a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>). </p>
    <h3>Widerruf der Einwilligung:</h3>
    <p>Vom Anbieter wird derzeit keine Möglichkeit für einen einfachen Opt-out oder ein Blockieren der Datenübertragung angeboten. Wenn Sie eine Nachverfolgung Ihrer Aktivitäten auf unserer Website verhindern wollen, widerrufen Sie bitte im Cookie-Consent-Tool Ihre Einwilligung für die entsprechende Cookie-Kategorie oder alle technisch nicht notwendigen Cookies und Datenübertragungen. In diesem Fall können Sie unsere Website jedoch ggfs. nicht oder nur eingeschränkt nutzen.</p>
    <p></p><h2>SSL-Verschlüsselung</h2>
    <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
    <p></p><hr>
    <h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
    <h3>Einzelfallbezogenes Widerspruchsrecht</h3>
    <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.</p>
    <p>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
    <h3>Empfänger eines Widerspruchs</h3>
    <p>Patrick Moldenhauer
        <br>Ziegeleistr. 47
        <br>24392 Norderbrarup
        <br>
        <br>Tel. 04641-436320
        <br>FAX: 04641-436321
        <br>Mobil: 0176-27194445
        <br>E-Mail: datenschutz@firemon112.org</p>
    <hr>
    <h2>Änderung unserer Datenschutzbestimmungen</h2>
    <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
    <h2>Fragen an den Datenschutzbeauftragten</h2>
    <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person in unserer Organisation:</p>
    <p>Patrick Moldenhauer
        <br>Ziegeleistr. 47
        <br>24392 Norderbrarup
        <br>
        <br>Tel. 04641-436320
        <br>FAX: 04641-436321
        <br>Mobil: 0176-27194445
        <br>E-Mail: datenschutz@firemon112.org</p>
    <p><em>Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den Experten für <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">externe Datenschutzbeauftragte</a> (Version #2020-09-30).</em></p>
    <hr>
    <h2>Hosting der Infrastruktur</h2>
    <h3>DigitalOcean LLC</h3>
    <p>
        DigitalOcean LLC<br />
        101 Avenue of the Americas, 10th Floor<br />
        New York, NY 10013<br /><br />
        Serverstandort: Frankfurt, DE. In der Infrastruktur gespeicherte Daten sind dem Rechenzentrumanbieter nicht zugänglich.<br />
        Datenschutzerklärung: <a href="https://www.digitalocean.com/legal/gdpr">https://www.digitalocean.com/legal/gdpr</a>
    </p>
    <hr>
    <h2>Verfahrensverzeichnis für den nicht-öffentlichen Bereich</h2>
    <h3>Personenbezogene Daten von Feuerwehrangehörigen</h3>
    <p>
        Für die optionale Erstellung von Benutzer-Accounts kann ein Adressbuch gepflegt werden.<br />
        Nach Erstellung eines Benutzer-Accounts kann eine Aktivierungsmail versendet werden - ohne die Benutzer-Einwilligung durch Klick auf den in der E-Mail enthaltenen Aktivierungslink ist der Account nicht nutzbar.<br />
        Erfolgt die Aktivierung nicht innerhalb von 7 Tagen so werden Vor- und Nachname automatisch pseudonymisiert.
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Betreiben eines Benutzer-Accounts.
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        Vorname, Nachname, E-Mail, Rufnummer.
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Feuerwehr-Administratoren der jeweiligen Wehren, Benutzer-Account Inhaber, Firemon 112 Administrator.
    </p>
    <h4>Datenlöschklausel</h4>
    <p>
        Löschung jederzeit manuell im Backend und durch Benutzer-Account Inhaber möglich. Pseudonymisierung von Vor- und Nachname bei inaktiven Accounts.
    </p>
    <hr>
    <h3>Leitstelle Nord</h3>
    <p>
        Leitstelle NORD<br />
        Am Oxer 40<br />
        24955 Harrislee<br /><br />
        Telefon: +49 (461) 999 30 530<br />
        Fax: +49 (461) 999 30 549<br />
        Mail: leitung (at) leitstelle-nord.de<br /><br />
        Datenschutzerklärung: <a href="https://www.leitstelle-nord.de/impressum/">https://www.leitstelle-nord.de/impressum/</a><br />
        AV-Vertrag: <a href="https://firemon112.de/storage/app/media/avv-leitstelle-nord.pdf">PDF-Download</a>
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Empfangen und Verarbeiten der Einsatzdepesche per E-Mail.
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        Einsatzstichwort, Einsatznummer, Einsatzbeginn, Sachverhalt, Einsatzobjekt, Mitalarmierte Kräfte.
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Alarm-Administratoren der jeweiligen Wehren, Firemon 112 Administrator.
    </p>
    <h4>Datenlöschklausel</h4>
    <p>
        Löschung jederzeit manuell im Backend möglich.
    </p>

    <h3>seven communications GmbH & Co. KG</h3>
    <p>
        seven communications GmbH & Co. KG<br />
        Willestr. 4-6<br />
        24103 Kiel<br /><br />
        +49 431 3014927 – 0<br />
        +49 431 60049852<br /><br />
        Datenschutzerklärung: <a href="https://www.seven.io/de/unternehmen/dsgvo/">https://www.seven.io/de/unternehmen/dsgvo/</a><br />
        AV-Vertrag: <a href="https://firemon112.de/storage/app/media/avv-sms77.pdf">PDF-Download</a>
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Versenden von SMS / Voice Anrufe.
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        Telefon- bzw. Mobilfunknummer, Alarmtext gemäß eigener Konfiguration (Heimatwehr, Alarmzeitpunkt, Stichwort, Lage, Ort). Ausgeschlossen sind Angaben zum genauen Einsatzort (Straße / Hausnummer / Ortsteil).
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Firemon 112 Administrator oder bei Nutzung eines eigenen sms77 Access Keys der jeweilige Inhaber.
    </p>
    <h4>Datenlöschklausel</h4>
    <p>
        Automatische Löschung nach 7 Tagen oder bei Nutzung eines eigenen sms77 Access Keys gemäß eigener Konfiguration.
    </p>

    <h3>Mailgun</h3>
    <p>
        Mailgun San Antonio HQ<br />
        112 E Pecan St. #1135<br />
        San Antonio, TX 78205<br /><br />
        Datenschutzerklärung: <a href="https://www.mailgun.com/gdpr/">https://www.mailgun.com/gdpr/</a>
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Versenden von E-Mails (Passwort vergessen, Account-Aktivierung, Monitor Monitoring, Einsatz E-Mail, Terminerinnerung).  Mailgun nutzt die Infrastruktur von Amazon AWS - die Verarbeitung erfolgt in AWS-Zone eu-central-1 (Frankfurt).
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        E-Mail Adresse, ggf. Empfänger Vorname, Alarmtext gemäß eigener Konfiguration (Heimatwehr, Alarmzeitpunkt, Stichwort, Lage, Ort). Ausgeschlossen sind Angaben zum genauen Einsatzort (Straße / Hausnummer / Ortsteil).
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Firemon 112 Administrator.
    </p>
    <h4>Datenlöschklausel</h4>
    <p>
        Automatische Löschung nach 30 Tagen.
    </p>

    <h3>Amazon Polly</h3>
    <p>
        Amazon Web Services, Inc.<br />
        410 Terry Avenue North<br />
        Seattle WA 98109<br />
        United States<br /><br />
        Datenschutzerklärung: <a href="https://docs.aws.amazon.com/de_de/polly/latest/dg/data-protection.html">https://docs.aws.amazon.com/de_de/polly/latest/dg/data-protection.html</a>
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Sprachsynthese von Alarmtext. Verarbeitung erfolgt in AWS-Zone eu-central-1 (Frankfurt).
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        Alarmtext gemäß eigener Konfiguration (Heimatwehr, Alarmzeitpunkt, Stichwort, Lage, Ort). Ausgeschlossen sind Angaben zum genauen Einsatzort (Straße / Hausnummer / Ortsteil).
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Sprachdatei wird nicht abgespeichert.
    </p>

    <h3>Google Cloud (Google Maps)</h3>
    <p>
        Google Ireland Limited<br />
        Gordon House, Barrow Street<br />
        Dublin 4<br />
        Irland<br /><br />
        Datenschutzerklärung: <a href="https://cloud.google.com/privacy/gdpr">https://cloud.google.com/privacy/gdpr</a>
    </p>
    <h4>Zweck der Verarbeitung</h4>
    <p>
        Anzeige Einsatzort, Wasserentnahmestellen, Routenplanung.
    </p>
    <h4>Art der zu verarbeitenden Daten</h4>
    <p>
        Länge. und Breitengrad des Gerätehauses, der Einsatzstelle / der Wasserentnahmestellen.
    </p>
    <h4>Zugänglichkeit der Daten</h4>
    <p>
        Es werden keine Daten (Landkarten / Routen o.ä.) gespeichert.
    </p>

</div>