title = "Gerät registrieren"
url = "/device-add"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"
==
<?php
use pm\Firemon112\Models\Device;
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;

function onStart() {
    $this['devicetypes'] = Device::getTypeOptionArray();
}
function onRegisterDevice() {
    try {
        $kennung = strtoupper(post('kennung'));
        $type = post('type');
        if (strlen($kennung) != 9) {
            throw new Exception("Die Kennung ist leer oder hat ein falsches Format!");
        }
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
            throw new Exception("Keine Berechtigung");
        }
        $device = Device::state(Device::$STATE_PENDING)->where('name', $kennung)->first();

        if ($device !== null) {
            Helper::enableDeviceForStation($device, $station, $type);
            Flash::success("Gerät " . $device->name . " registriert!");
            return Redirect::to('devices');
        } else {
            throw new Exception("Gerät " . $kennung . " nicht gefunden!");
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
        return Redirect::to('device-add');
    }
}
?>
==
<    <h2>Gerät registrieren</h2>

{% if station %}

{{ form_open({'request': 'onRegisterDevice'}) }}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('kennung', 'Kennung (XXXX-XXXX)') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('kennung', null ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('type', 'Typ') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('type', devicetypes, null, {'class':'form-control'}) }}
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        {{ form_submit('Registrieren') }}
    </div>
</div>

{{ form_close() }}

<div class="row m-t-sm">
    <div class="text-left col-xs-12">
        <p><a href="{{ 'devices'|page }}" class="btn btn-default">zurück</a></p>
    </div>
</div>
{% endif %}