title = "Monitore"
url = "/devices/:order?/:sort?"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"
==
<?php
use pm\Firemon112\Models\Device;
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;
use Auth;

function onStart() {
    $allowedOrderBy=[
        "name",
        "state",
        "type",
        "last_heartbeat",
        "last_known_ip"
    ];
    $allowedSort=[
        "asc",
        "desc"
    ];

    $orderBy = in_array($this->param('order'), $allowedOrderBy) ? $this->param('order') : $allowedOrderBy[0]; // name is default
    $sort = in_array($this->param('sort'), $allowedSort) ? $this->param('sort') : $allowedSort[0]; // asc sort is default

    $this['sort'] = $sort;
    $this['order'] = $orderBy;

    $devices_query = $this->station->devices()->orderBy($orderBy, $sort);
    $this['devices'] = $devices_query->get();

}

function onDeviceCommand() {

    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();
    if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
        throw new Exception("Keine Berechtigung");
    }
    $command = post('cmd');

    if ($user !== null) {
        $device = $station->devices()->find(intval(post('device_id')));
        if ($device !== null) {

            switch ($command) {
                case "reboot":
                    if ($device->reboot()) {
                        Flash::success("Neustart an " . $device->name . " gesendet");
                    } else {
                        Flash::error("Neustart an " . $device->name . " konnte nicht gesendet werden");
                    }
                    break;
                case "shutdown":
                    if ($device->shutdown()) {
                        Flash::success("Herunterfahren an " . $device->name . " gesendet");
                    } else {
                        Flash::error("Herunterfahren an " . $device->name . " konnte nicht gesendet werden");
                    }
                    break;
                case "refresh":
                    if ($device->refresh()) {
                        Flash::success("Aktualisieren an " . $device->name . " gesendet");
                    } else {
                        Flash::error("Aktualisieren an " . $device->name . " konnte nicht gesendet werden");
                    }
                    break;
                case "displayOn":
                    if ($device->displayOn()) {
                        Flash::success("Monitor ein an " . $device->name . " gesendet");
                    } else {
                        Flash::error("Monitor ein an " . $device->name . " konnte nicht gesendet werden");
                    }
                    break;
                case "displayOff":
                    if ($device->displayOff()) {
                        Flash::success("Monitor aus an " . $device->name . " gesendet");
                    } else {
                        Flash::error("Monitor aus an " . $device->name . " konnte nicht gesendet werden");
                    }
                    break;
                default:
                    Flash::error("Kein gültiger Befehl");
            }
        } else {
            Flash::error("Gerät nicht gefunden");
        }
    }
}

function user() {
    if (!Auth::check()) {
        return null;
    }

    return Auth::getUser();
}
?>
==
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>Monitore</h1>
    </div>
    <div class="col-sm-3 col-xs-12 text-right">
        {% if station %}
        <p><a href="{{ 'device-add'|page }}" class="btn btn-default m-t-md">Gerät registrieren</a></p>
        {% endif %}
    </div>
</div>
<div class="overflow-mobile">
<table class="table">
    <thead>
    <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Name <a href="{{ 'devices'|page({ 'order': 'name', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}" style="{{ order == 'name' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Benutzer</th>
        <th scope="col">Typ <a href="{{ 'devices'|page({ 'order': 'type', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}" style="{{ order == 'type' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Status <a href="{{ 'devices'|page({ 'order': 'state', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}" style="{{ order == 'state' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">zul. Online <a href="{{ 'devices'|page({ 'order': 'last_heartbeat', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}" style="{{ order == 'last_heartbeat' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">LAN-IP <a href="{{ 'devices'|page({ 'order': 'last_known_ip', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}" style="{{ order == 'last_known_ip' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
    </tr>
    </thead>
    <tbody>
    {% if devices %}
    {% for device in devices %}
    <tr>
        <td>
            {% if device.isRpcCapable %}
            <div class="control-toolbar">
                <div class="toolbar-item toolbar-primary">
                    <div data-control="toolbar">

                        <div class="dropdown">
                            <button
                                    type="button"
                                    class="btn btn-default oc-icon-users"
                                    data-toggle="dropdown">
                                <i class="icon-gear"></i>
                            </button>
                            <ul class="dropdown-menu" data-dropdown-title="Aktion ...">
                                <li><a href="#" data-request-confirm="Wirklich neu starten?" data-request="onDeviceCommand" data-request-data="device_id: {{ device.id }}, cmd: 'reboot'" data-request-flash>Neustart</a></li>
                                <li><a href="#" data-request-confirm="Wirklich herunter fahren? Einschalten nur per Hand möglich!" data-request="onDeviceCommand" data-request-data="device_id: {{ device.id }}, cmd: 'shutdown'" data-request-flash>Herunterfahren</a></li>
                                <li><a href="#" data-request-confirm="Wirklich GUI Aktualisieren?" data-request="onDeviceCommand" data-request-data="device_id: {{ device.id }}, cmd: 'refresh'" data-request-flash>GUI Aktualisieren</a></li>
                                <li><a href="#" data-request-confirm="Wirklich Monitor / TV einschalten?" data-request="onDeviceCommand" data-request-data="device_id: {{ device.id }}, cmd: 'displayOn'" data-request-flash>Monitor / TV ein</a></li>
                                <li><a href="#" data-request-confirm="Wirklich Monitor / TV ausschalten?" data-request="onDeviceCommand" data-request-data="device_id: {{ device.id }}, cmd: 'displayOff'" data-request-flash>Monitor / TV aus</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
        </td>
        <td><a href="{{ 'device-edit'|page({ device_id: device.id }) }}">{{ device.name }}</a></td>
        <td>{% if device.user %}{{ device.user.name}} {{device.user.surname}}{% else %}nicht zugewiesen{% endif %}</td>
        <td>{{ device.type }}</td>
        <td>
            {% if device.isStateActive %}
                <i class="icon-circle color-green"></i>
            {% endif %}

            {% if device.isStatePending %}
                <i class="icon-circle color-orange"></i>
            {% endif %}

            {% if device.isStateDisabled %}
                <i class="icon-circle color-red blink_me"></i>
            {% endif %}

            {{ device.state }}
        </td>
        <td>
            {% if device.isStateActive %}
                {% if device.isOnlineStateOk %}
                    <i class="icon-circle color-green"></i>
                {% endif %}

                {% if device.isOnlineStateWarning %}
                    <i class="icon-circle color-orange"></i>
                {% endif %}

                {% if device.isOnlineStateError %}
                    <i class="icon-circle color-red blink_me"></i>
                {% endif %}

                {{ device.lastHeartbeatMinutesReadable }}
            {% else %}
                nicht freigegeben
            {% endif %}
        </td>
        <td>
            {{ device.last_known_ip }}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">Keine Monitore vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
<hr>
<div class="text-center m-t-lg">
    <p><a href="/build-monitor" class="btn btn-default">Materialliste, Downloads und Kurzanleitung</a></p>
</div>