title = "Datenschutz Information"
url = "/dsgvo-info"
layout = "default"
submenuPartial = 'submenu/account'

[firemonSession]
security = "user"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;

public function onStart() {
    $this['userJson'] = "";
    if ($this->user != null) {
        $this['userJson'] = json_encode($this->user->load('linked_stations')->load('avatar')->load('groups')->load('alert_feedbacks')->load('pushtokens'), JSON_PRETTY_PRINT);
    }
}

function onDeleteAccount() {
    try {
        $user = Helper::GetFeUser();
        if ($user === null) {
            throw new Exception("Keine Berechtigung");
        }
        Helper::DeleteUser($user);
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
    return Redirect::to('logout');
}
==
<div class="alert alert-error" id="account-error" style="display:none;"></div>
{% if user %}
<div class="page-header">
    <h2>Datenschutz Auskunft</h2>
    <p>
        Gemäß <a href="https://dejure.org/gesetze/DSGVO/15.html" target="_blank">Art 15, DSGVO</a> haben betroffene Personen das Recht, von dem Verantwortlichen eine Bestätigung darüber zu verlangen, ob sie betreffende personenbezogene Daten verarbeitet werden.
    </p>
    <p>
        Der Verantwortliche im Sinne der DSGVO ist im Falle einer Orts- oder Gemeindefeuerwehr der jeweilige Träger - in der Regel also die Gemeinde. Bei anderen Organisationen kann dies jedoch auch eine andere Stelle sein. Um betroffenen Personen einen möglichst niederschwelligen Zugriff auf eine Datenschutz-Auskunft zu ermöglichen kann sich jeder Firemon 112 Nutzer auch ohne Anfrage bei der Gemeinde sich hier selbst eine Datenschutz-Auskunft einholen.
    </p>
    <h3>Gespeicherte personenbezogenen Daten</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Wert</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Datenbank-ID</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Vorname</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Nachname</td>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Alarm E-Mail</td>
                <td>{{ user.alert_email }}</td>
            </tr>
            <tr>
                <td>Alarm SMS Rufnummer</td>
                <td>{{ user.alert_sms }}</td>
            </tr>
            <tr>
                <td>Alarm Rufnummer 1</td>
                <td>{{ user.alert_call }}</td>
            </tr>
            <tr>
                <td>Alarm Rufnummer 2</td>
                <td>{{ user.alert_call_second }}</td>
            </tr>
            <tr>
                <td>Alarm E-Mail versenden</td>
                <td>{{ user.trigger_alert_email ? 'ja' : 'nein' }}</td>
            </tr>
            <tr>
                <td>Alarm SMS versenden</td>
                <td>{{ user.trigger_alert_sms ? 'ja' : 'nein' }}</td>
            </tr>
            <tr>
                <td>Alarm Anruf absetzen</td>
                <td>{{ user.trigger_alert_call ? 'ja' : 'nein' }}</td>
            </tr>
            <tr>
                <td>App Nutzung (Push) erlaubt</td>
                <td>{{ user.allow_app_usage ? 'ja' : 'nein' }}</td>
            </tr>
            <tr>
                <td>Zugehörige Organisationen</td>
                <td>{{ user.station ? user.station.name : 'keine' }}</td>
            </tr>
            <tr>
                <td>Weitere Organisationen</td>
                <td>
                    {% for lstation in user.linked_stations %}
                        {{ lstation.name }}<br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Gruppen und Funktionen</td>
                <td>
                    {% for group in user.groups %}
                        {{ group.name }}<br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Einsatz-Feedbacks</td>
                <td>
                    {% for feedback in user.alert_feedbacks %}
                    {{ feedback.feedback_performed }}: Status {{ feedback.feedback_status }}<br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Push-Tokens</td>
                <td>
                    {% for token in user.pushtokens %}
                    <span style="word-wrap: break-word; display: block; max-width: 500px;">{{ token.token }}</span><br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Bild</td>
                <td>{% if user.avatar %}<img src="{{ user.avatar.path|resize(50, 50, { mode: 'crop' }) }}">{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h3>Verarbeitungszweck der personenbezogenen Daten</h3>
    <p>
        Firemon 112 verarbeitet personenbezogene Daten ausschließlich zur Bereitstellung und Verwaltung von Alarmierungen und Einsatzinformationen für Feuerwehren. Die primären Zwecke der Datenverarbeitung umfassen:
    </p>
    <ol>
        <li>
            <b>Login-Verwaltung:</b> Die E-Mail-Adresse dient zur Erstellung und Verwaltung von Benutzerkonten sowie zur Authentifizierung der Nutzer. Der Nutzer wird bei der Erstellung einer Organisation (z.B. Feuerwehr) zugeordnet. Optional können für eine zweckmäßige Administration Vorname und Nachname hinterlegt werden. Optional kann außerdem ein Avatar-Bild hochgeladen werden.
        </li>
        <li>
            <b>Alarmierung:</b> Die E-Mail-Adresse kann für die Zustellung von Alarmierungsnachrichten verwendet werden. Optional können eine Mobilfunk- oder Festnetznummer hinterlegt werden, um Alarmierungen auch per SMS oder Sprachanruf zu ermöglichen.
        </li>
        <li>
            <b>Übungs- und Einsatzorganisation:</b> Im Rahmen der Einsatzvorbereitung und -verwaltung können Nutzer auch an Übungsabende oder andere wichtige Termine erinnert werden. Dies erfolgt optional und auf Wunsch per E-Mail.
        </li>
        <li>
            <b>Verwaltung von Qualifikationen und Funktionen:</b> Das System ermöglicht es, Informationen zu Ausbildungen und Funktionen einzelner Mitglieder zu speichern. Diese Daten werden genutzt, um die Einsatzplanung und die Zuweisung von Aufgaben basierend auf den Qualifikationen der Einsatzkräfte zu optimieren.
        </li>
        <li>
            <b>Gruppenzugehörigkeiten:</b> Die Zugehörigkeit zu spezifischen Gruppen (z. B. bestimmte Einsatzgruppen oder Schichten) kann ebenfalls erfasst werden, um die Alarmierung zielgerichtet und effizient gestalten zu können.
        </li>
        <li>
            <b>Einsatz-Feedback:</b> Rückmeldungen bei Einsätzen (z. B. ob eine Person am Einsatz teilnehmen wird oder nicht) können ebenfalls erfasst werden. Diese Daten dienen der Vor- und Nachbereitung von Einsätzen und der kontinuierlichen Verbesserung der Einsatzstrategie.
        </li>
        <li>
            <b>Push-Benachrichtigungen:</b> Das System nutzt Push-Tokens, um Push-Benachrichtigungen an Android- und iOS-Geräte zu senden. Diese Tokens werden verwendet, um Alarmierungen und andere wichtige Mitteilungen direkt an die mobilen Endgeräte der Nutzer zu übermitteln.
        </li>
    </ol>
    <p>
        Diese Datenverarbeitung ist notwendig, um die organisatorischen Abläufe innerhalb der Feuerwehr zu koordinieren und die Sicherheit sowie Effizienz bei Einsätzen zu gewährleisten. Alle erfassten Daten unterliegen den Bestimmungen der DSGVO und werden ausschließlich für die genannten Zwecke verarbeitet.
    </p>
    <h3>Kategorien der personenbezogenen Daten</h3>
    <p>
        Gemäß Artikel 15 DSGVO können die im Firemon 112 System verarbeiteten personenbezogenen Daten in folgende Kategorien eingeordnet werden:
    </p>
    <ol>
        <li>
            <b>Identifikationsdaten:</b>
            <ul>
                <li>
                    <b>E-Mail-Adresse:</b> Wird zur Erstellung und Verwaltung des Benutzerkontos sowie für die Alarmierung per E-Mail genutzt.
                </li>
                <li>
                    <b>Vorname, Nachname:</b> Kann zur zweckmäßigen Administration eingegeben werden - Pseudonyme oder willkürliche Zeichenketten können als Alternative verwendet werden.
                </li>
                <li>
                    <b>Avatar:</b> Kann zur zweckmäßigen Administration hochgeladen werden.
                </li>
            </ul>
        </li>
        <li>
            <b>Kontaktdaten:</b>
            <ul>
                <li>
                    <b>Mobilfunknummer und Festnetznummer:</b> Dienen zur Alarmierung per SMS und Sprachanruf.
                </li>
            </ul>
        </li>
        <li>
            <b>Daten zur Qualifikation und Funktion:</b>
            <ul>
                <li>
                    <b>Ausbildungen:</b> Informationen über die Qualifikationen der Einsatzkräfte.
                </li>
                <li>
                    <b>Funktionen:</b> Angaben zur Rolle oder Funktion der Einsatzkraft innerhalb der Feuerwehr.
                </li>
            </ul>
        </li>
        <li>
            <b>Daten zur organisatorischen Zugehörigkeit:</b>
            <ul>
                <li>
                    <b>Organisationszugehörigkeiten:</b> Informationen darüber, zu welchen Organisationen (z. B. Feuerwehren) eine Person gehört.
                </li>
                <li>
                    <b>Gruppenzugehörigkeiten:</b> Informationen darüber, zu welchen Gruppen (z. B. bestimmten Einsatzteams oder Schichten) eine Person gehört.
                </li>
            </ul>
        </li>
        <li>
            <b>Nutzungs- und Interaktionsdaten:</b>
            <ul>
                <li>
                    <b>Einsatz-Feedbacks:</b> Informationen darüber, ob und wie eine Person an Einsätzen teilgenommen hat.
                </li>
                <li>
                    <b>Push-Tokens:</b> Werden zur Zustellung von Push-Benachrichtigungen auf mobilen Geräten verwendet.
                </li>
            </ul>
        </li>
        <li>
            <b>Technische Daten:</b>
            <ul>
                <li>
                    <b>Push-Tokens:</b> Auch unter dieser Kategorie einzuordnen, da sie technische Identifikatoren sind, die für die Kommunikation zwischen dem System und dem Gerät des Nutzers verwendet werden.
                </li>
            </ul>
        </li>
    </ol>
    <h3>Empfänger personenbezogener Daten</h3>
    <ul>
        <li>
            Empfänger: seven communications GmbH & Co. KG - 24103 Kiel
            Inhalt: Mobilfunk- und / oder Festnetznummer im Alarmfall und SMS-Login, sofern diese Funktion verwendet wird.
        </li>
        <li>
            Empfänger: Mailgun San Antonio HQ - AWS eu-central-1, Frankfurt
            Inhalt: E-Mail Versand, sofern eine E-Mail versendet werden soll / muss.
        </li>
        <li>
            Empfänger: Google Ireland Limited - Dublin 4, Irland
            Inhalt: Push-Tokens im Falle einer Push-Notification
        </li>
        <li>
            Empfänger: Apple Inc. - Cupertino Kalifornien 95014, USA
            Inhalt: Push-Tokens im Falle einer Push-Notification
        </li>
    </ul>
    <h3>Speicherdauer personenbezogener Daten</h3>
    <p>
        Der Zeitraum, für den wir personenbezogene Daten speichern bemisst sich hinsichtlich der Erreichung des Verarbeitungszwecks und ggf. existierender gesetzlicher Aufbewahrungspflichten.<br />
        Alle personenbezogenen Daten sind zu jedem Zeitpunkt durch den Betroffenen änderbar - ferner ist eine Löschung des Benutzerkontos jederzeit möglich.<br />
        Eine speicherung der personenbezogenen Daten über die Erreichung des Verarbeitungszwecks hinaus ist nicht vorgesehen.<br />
        Gleichwohl ist eine manuelle Datenwiederherstellung aus den Backups für bis zu 30 Tage nach der Löschung des Benutzerkontos auf gesonderte Anfrage durch den Betroffenen an den Firemon 112 Support möglich.
    </p>
    <h3>Automatisierte Entscheidungsfindung</h3>
    <p>
        Eine automatische Entscheidungsfindung gem. Art. 22 DSGVO findet nicht statt.
    </p>
    <h3>Kopie der personenbezogenen Daten</h3>
    <p>
        Eine Kopie der personenbezogenen Daten in maschinenlesbarer Form kann dem folgenden Textfeld entnommen werden. Es handelt sich hierbei um das Datenformat <a href="https://www.json.org/" target="_blank">json</a>.
        <textarea style="width: 100%; height: 300px; font-family: 'Courier New', Courier, monospace; background-color: #2e2e2e; color: #dcdcdc; border-radius: 8px; padding: 15px; line-height: 1.5; white-space: pre; overflow-x: auto;">{{ userJson }}</textarea>
    </p>
    <h3>Betroffenenrechte</h3>
    <p>
        Betroffene Personen haben das Recht, nach Maßgabe des Art. 16 DSGVO eine Berichtigung und nach Maßgabe des Art. 17 DSGVO und § 35 BDSG die Löschung Ihrer personenbezogenen Daten zu verlangen. Sie haben außerdem das Recht, nach Maßgabe des Art. 18 DSGVO die Verarbeitung Ihrer personenbezogenen Daten einschränken zu lassen.
    </p>
    <p>
        Nach Maßgabe des Art. 21 Abs. 1 DSGVO haben Betroffene Personen das Recht, gegen die Verarbeitung Widerspruch einzulegen. Sofern personenbezogene Daten zum Zweck der Direktwerbung verarbeitet werden, können Betroffene gegen diese Verarbeitung gem. Art. 21 Abs. 2 und Abs. 3 DSGVO Widerspruch einlegen.
    </p>
    <p>
        Betroffene Personen haben unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs nach Maßgabe des Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde. Die zuständige Aufsichtsbehörde ist das <a href="https://www.datenschutzzentrum.de/" target="_blank">Unabhängige Landeszentrum für Datenschutz</a> (ULD) in Schleswig-Holstein.
    </p>
    <h3>Account löschen</h3>
    <p>
        Die Löschung des Accounts ist permanent und kann nur durch einen manuellen Vorgang durch zeitintensive Wiederherstellung aus dem Backup für maximal 30 Tage nach der Löschung durch den Firemon 112 Support rückgängig gemacht werden!<br />
        <button data-request="onDeleteAccount" data-request-confirm="Account wirklich löschen?" class="btn btn-danger">Account löschen</button>
    </p>
</div>


{% endif %}