title = "Zu- oder Absage für Veranstaltung"
url = "/event-response/:code"
layout = "default"
is_hidden = 0

==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Event;
use pm\Firemon112\Models\EventSubscription;
use RainLab\User\Models\User;
use Crypt;
use Illuminate\Contracts\Encryption\DecryptException;
use Carbon\Carbon;

function onStart() {
    $valid = false;
    $available = false;
    $showReasonInput = false;
    $label = "";
    $greeting = "";
    $reason = input('reason');
    try {
        $arr = Crypt::decrypt($this->param('code'));
        if (is_array($arr) && array_key_exists('user_id', $arr) && array_key_exists('event_id', $arr) && array_key_exists('available', $arr)) {
            $user = User::find($arr['user_id']);
            $event = Event::find($arr['event_id']);
            if ($user !== null && $event !== null) {
                $label = $event->label . " am ". $event->getDateFromFormattedAttribute();
                $greeting = "Hi " . $user->name."!";
                if ($event->getIsUpcomingAttribute()) {
                    $sub = null;
                    foreach ($event->subscriptions as $thissub) {
                        if ($thissub->user_id == $user->id) {
                            $sub = $thissub;
                        }
                    }
                    if ($sub === null) {
                        $sub = new EventSubscription([
                            'event_id' => $event->id,
                            'user_id' => $user->id,
                            'available' => intval($arr['available']),
                            'performed' => new Carbon(),
                            'reason' => $reason
                        ]);
                    } else {
                        $sub->available = intval($arr['available']);
                        $sub->performed = new Carbon();
                        $sub->reason = $reason;
                    }
                    $sub->save();
                    $valid = true;
                    if (intval($arr['available']) == 0) {
                        if (strlen($reason) == 0) {
                            $showReasonInput = true;
                        }
                        $available = false;
                    } else {
                        $available = true;
                    }
                }
            }
        }
    } catch (DecryptException $ex) {
        $valid = false;
    }
    $this['valid'] = $valid;
    $this['showReasonInput'] = $showReasonInput;
    $this['label'] = $label;
    $this['available'] = $available;
    $this['greeting'] = $greeting;
}
==
<div class="container">

    <h2>Zu- oder Absage</h2>

    {% if valid %}
        <p>{{ label }}</p>
        <h4>{{ greeting }}</h4>
        {% if available %}
            <p>Cool, dass Du dabei bist - vielen Dank für Deine <span style="color: green;">Zusage</span>!</p>
        {% else %}
            <p>Schade, dass Du <span style="color: red;">nicht dabei</span> sein kannst - nächstes Mal?! ;-)</p>
        {% endif %}
        {% if showReasonInput %}
        <h3>Grund angeben?</h3>
        <p>Wenn Du möchtest kannst Du noch einen Grund für Deine Absage angeben.</p>
        <form >

            <div style="display: inline-block;">
                <input type="text" name="reason" value="{{ mysub.reason }}" class="form-control" />
            </div>
            <div style="display: inline-block;">
                <button class="btn m-b-sm m-r-sm btn-firemon-grey" >Senden</button>
            </div>
        </form>
        {% endif %}
    {% else %}
        {% if label|length>0 %}
            <p>Eine Zu- oder Absage für {{ label }} ist leider nicht mehr möglich denn es hat bereits begonnen.</p>
        {% else %}
            <p>Leider scheint der verwendete Link nicht (mehr) zu funktionieren.</p>
        {% endif %}
    {% endif %}

</div>