title = "Termine und Events"
url = "/event-list/:showall?"
layout = "default"
submenuPartial = 'submenu/events'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_events"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
function onStart() {

    $showall = intval($this->param('showall', 0));
    $this['showall'] = $showall;
    $station = Helper::GetFeStation();

    if ($showall > 0) {
        $this['events'] = $station->events()->get();
    } else {
        $this['events'] = $station->events()->upcoming()->get();
    }
}
==
<h2>Termine &amp; Events</h2>

{% if station %}
<div class="row m-b-sm">
    <div class="col-xs-6">
        <p><a href="{{ 'event-edit'|page({ event_id: 0 }) }}" class="btn btn-default">Events hinzufügen</a></p>
    </div>
    <div class="col-xs-6 text-right">
        <a href="{{ 'event-list'|page({ showall: showall == 0 ? 1 : 0 }) }}" class="btn btn-default">Vergangene {{ showall == 0 ? 'einblenden' : 'ausblenden' }}</a>
        <a href="{{ 'event-import'|page }}" class="btn btn-default">Excel-Import</a>
    </div>
</div>
{% endif %}
<div style="overflow-x:auto;">

        {% if events %}
        {% for event in events|sort( (a,b) => a.date_from|date('U') <=> b.date_from|date('U')) %}

            {% if event.date_from|date('Y') != lastYear %}
            {% if lastYear|length > 0 %}</table>{% endif %}
            {% set lastYear = event.date_from|date('Y') %}
            <h2>{{ lastYear }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Teilnahme</th>
                </tr>
                </thead>
                <tbody>

            {% endif %}

            <tr>
                <th scope="row">{{ event.date_from_formatted }}</th>
                <td><a href="{{ 'event-edit'|page({ event_id: event.id }) }}">{{ event.label }}</a> {% if event.public %}(öffentlich){% endif %}</td>
                <td>
                    {{ event.category_readable }}
                    {% for group in event.groups %}
                    <span class="group_pill">{{ group.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if event.subscription_required %}
                        <span style="color:green;">{{ event.subscriptions|filter(v => v.available)|length }} ja</span> / <span style="color:red;">{{ event.subscriptions|filter(v => not v.available)|length }} nein</span>
                    {% else %}
                        nicht notwendig
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>