title = "Events"
url = "/events/:year?/:showall?"
layout = "default"
submenuPartial = 'submenu/account'
is_hidden = 0

[firemonSession]
security = "user"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Event;
use pm\Firemon112\Models\EventSubscription;
use Carbon\Carbon;
function onStart() {
    $year = intval($this->param('year', date('Y')));
    $showall = intval($this->param('showall', 0));
    $this['year'] = $year;
    $this['showall'] = $showall;
    $this['months'] = Helper::GetMonthNames();
    $this['weekdays'] = Helper::GetWeekdayNames();
    $this['categories'] = Event::getCategoryOptions();
    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();

    if ($user !== null) {
        if ($showall > 0) {
            $this['relatedEvents'] = $user->getRelatedEventsRelation($station->id)->byYear($year)->get();
        } else {
            $this['relatedEvents'] = $user->getRelatedEventsRelation($station->id)->byYear($year)->upcoming()->get();
        }
    }
}

function onSubscribeEvent() {
    try {
        $user = Helper::GetFeUser();
        if ($user === null) {
            throw new Exception("User not logged in...");
        }

        $event_id = intval(post('event_id', 0));
        $subscription_id = intval(post('subscribe_id', 0));
        $available = boolval(post('available'));
        $reason = post('reason');

        if ($event_id > 0) {
            $event = Event::find($event_id);

            if ($event !== null) {
                $sub = new EventSubscription([
                    'event_id' => $event->id,
                    'user_id' => $user->id,
                    'available' => $available,
                    'performed' => new Carbon(),
                    'reason' => $reason
                ]);

                $sub->save();
                $this['event'] = Event::find($event_id);
            }
        }

        if ($subscription_id > 0) {
            $mysub = $user->subscriptions->find($subscription_id);
            if ($mysub !== null) {
                $mysub->available = $available;
                $mysub->performed = new Carbon();
                $mysub->reason = $reason;
                $mysub->save();
                $this['event'] = Event::find($mysub->event_id);
            }
        }

        $this['user'] = $user;
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

==
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>Termine &amp; Events</h1>
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <p class="year-picker"><a href="{{ 'events'|page({ year: year-1, showall: showall }) }}" class="btn btn-firemon-grey">&lt;</a> {{ year }} <a href="{{ 'events'|page({ year: year+1, showall: showall }) }}"  class="btn btn-firemon-grey">&gt;</a> </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <a href="{{ 'events'|page({ year: year, showall: showall == 0 ? 1 : 0 }) }}" class="btn btn-firemon-grey m-t-md">Vergangene {{ showall == 0 ? 'einblenden' : 'ausblenden' }}</a>
        <a href="{{ 'download-ical'|page({ year: year }) }}" class="btn btn-firemon-grey m-t-md">iCal Download</a>
    </div>
</div>
<div style="overflow-x:auto;">
    <table class="table">
        <tbody>
        {% set events = relatedEvents|sort( (a,b) => a.date_from|date('U') <=> b.date_from|date('U') ) %}
        {% if events %}
        {% for event in events %}
            {% if months[event.date_from|date('n')] != lastMonth %}
                {% set lastMonth = months[event.date_from|date('n')] %}
                <tr><th colspan="3"><h2>{{ lastMonth }}</h2></th></tr>
            {% endif %}

            {% if event.date_from|date('j.n.Y') != lastDate %}
                {% set lastDate = event.date_from|date('j.n.Y') %}
                <tr {% if not event.is_upcoming %}class="low-saturation"{% endif %}>
                    <th colspan="3"><span style="font-size: 2em; margin-right: 20px;">{{ event.date_from|date('j') }}</span>{{ weekdays[event.date_from|date('w')] }}, {{ lastDate }}</th>
                </tr>
            {% endif %}

            <tr {% if not event.is_upcoming %}class="low-saturation"{% endif %}>
                <th scope="row" style="background-color: #efefef;">
                    {{ event.date_from|date('G:i') }} Uhr <span style="font-weight:normal;">{{ categories[event.category] }}{% if event.duty %} <b style="color:red; font-weight: normal;">Pflicht!</b>{% endif %} ({{ event.groups_readable }})</span><br />
                    {{ event.label }}{% if event.public %} <b style="color:green;  font-weight: normal;">Öffentlich</b>{% endif %}
                </th>
                <td>
                    Ort: {{ event.location }}<br />
                    Endet: {% if event.date_from|date('Y-m-d') == event.date_to|date('Y-m-d') %}{{ event.date_to|date('H:i') }}{% else %}{{ event.date_to_formatted }}{% endif %}
                </td>
                <td>
                    {% if event.subscription_required %}
                        {% partial "user_subscribe_event" event=event %}
                    {% else %}
                        Zu- oder Absage nicht erforderlich.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">Keine Events vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>