title = "Wehr"
url = "/wehr"
layout = "default"
is_hidden = 0
submenuPartial='submenu/wehr'

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Settings;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Station;
function onStart() {
    $this['sms_no'] = Settings::get('sms77_io_sender');
    if ($this->station !== null) {
        $this['child_standort_count'] = $this->station->child_stations()->where('station_type', Station::$TYPE_STANDORT_LABEL)->count();
    } else {
        $this['child_standort_count'] = 0;
    }
}
function onResetPin() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_STATION)) {
            throw new Exception("Keine Berechtigung");
        }

        $station->resetRegistrationPin();
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
    Flash::success("Wehr-PIN erneuert");
    return Redirect::refresh();
}
==
{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    var map;
    var marker;
    var lonlat;

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    function initMap() {
        lonlat = new google.maps.LatLng({{ station.lat }},{{ station.long }});
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: lonlat,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            styles: styles["default"],
            tilt: 0,
            fullscreenControl: true
        });

        marker = new google.maps.Marker({
            position: lonlat,
            map: map
        });

    }

</script>
{% endput %}

<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>Allgemeine Informationen</h1>
    </div>
</div>

{% if station.registration_pin %}
<p style="text-align: center; border: 10px solid red; padding: 10px;">
    Die Wehr-PIN für die selbstständige Registrierung von Kameraden lautet:<br />
    <b>{{ station.registration_pin }}</b><br />
    <button data-request="onResetPin" data-request-confirm="Wehr-PIN wirklich neu vergeben?" class="btn btn-default">Wehr-PIN neu vergeben</button>
</p>
{% else %}
<p style="text-align: center; border: 10px solid red; padding: 10px;">
    Es ist möglich, dass Kameraden sich über das <a href="{{ 'register'|page }}">Registrierungsformular</a> selbstständig einen Account erstellen - dafür ist jedoch eine <b>Wehr-PIN</b> erforderlich, damit der neue Benutzer seiner Heimatwehr sicher zugeordnet werden kann. Aktuell ist die Wehr-PIN nicht eingerichtet - damit ist eine eigenständige Registrierung für Kameraden nicht möglich.<br />
    <button data-request="onResetPin" data-request-confirm="Wehr-PIN wirklich aktivieren?" class="btn btn-default">Wehr-PIN aktivieren</button>
</p>
{% endif %}
<p style="text-align: center; border: 10px solid red; padding: 10px;">Die E-Mail Adresse für die Alarmierung durch die Leitstelle lautet:<br /><b>{{ station.email }}</b></p>
<p style="text-align: center; border: 10px solid red; padding: 10px;">Die Absender-Nummer für SMS und Voice-Call lautet:<br /><b>{{ sms_no }}</b></p>


{% if child_standort_count > 0 %}
<p style="text-align: center; border: 10px solid red; padding: 10px;">
    <b>ACHTUNG</b><br />
    Es sind Standort-Wehren mit dieser Feuerwehr verbunden. Diese Standort-Wehren können aufgrund besonderer AAO oder sonstigen Gründen nicht direkt über die Leitstelle alarmiert werden und erhalten deswegen <b>alle</b> eingehenden Alarme als Kopie zugestellt.<br />
    {% for child in station.child_stations %}
    {% if child.isStandort %}
    &bull; {{ child.name }} ({{ child.station_type_label }})<br />
    {% endif %}
    {% endfor %}
</p>
{% endif %}
{% if station.isStandort and station.parent_station %}
<p style="text-align: center; border: 10px solid red; padding: 10px;">
    <b>ACHTUNG</b><br />
    Bei dieser Wehr handelt es sich um eine Standort-Wehr. Aufgrund von besonderer AAO oder sonstigen Gründen kann diese Wehr keine Alarmierungen der Leitstelle direkt erhalten. Daher werden die Alarme der Wehr <b>{{ station.parent_station.name }}</b> dieser Wehr in Kopie zugestellt.
</p>
{% endif %}

<h4>Wehr-Bezeichnung</h4>
{{ station.name }} ({{ station.station_type_label }})
<h4>Gerätehaus Position</h4>
<div id="map" class="responsive_map"></div>
<h4>Untergeordnete Einheiten</h4>
<p>
    {% if station.child_stations.count() > 0 %}
        <ul>
        {% for child in station.child_stations %}
            <li>{{ child.name }} ({{ child.station_type_label }})</li>
        {% endfor %}
        </ul>
    {% else %}
        keine
    {% endif %}
</p>
<h4>Übergeordnete Einheit</h4>
<p>
    {% if station.parent_station %}
        {{ station.parent_station.name }} ({{ station.parent_station.station_type_label }})
    {% else %}
        keine
    {% endif %}
</p>