title = "GPIO Alarm Trigger"
url = "/gpio-alert-trigger-list"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"

[gpioAlertTriggerComponent]
==
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>GPIO Alarm Trigger</h1>
    </div>

    <div class="col-sm-3 col-xs-12 text-right">
        {% if station %}
        <p><a href="{{ 'gpio-alert-trigger-form'|page({ id: 0 }) }}" class="btn btn-default m-t-md">GPIO Alarm Trigger hinzufügen</a></p>
        {% endif %}
    </div>

</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Konfiguration</th>
        <th scope="col">GPIO</th>
        <th scope="col">Mode</th>
        <th scope="col">Verbundene Monitore</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% if gpio_alert_triggers %}
    {% for trigger in gpio_alert_triggers|sort((a,b) => b.label <=> a.label) %}
    <tr>
        <td><a href="{{ 'gpio-alert-trigger-form'|page({ id: trigger.id }) }}">{{ trigger.label }}</a></td>
        <td>{{ trigger.gpio_number_label }}</td>
        <td>{{ trigger.gpio_monitoring_mode_label }}</td>
        <td>{{ trigger.devices|length }}</td>
        <td>{% if trigger.enabled %}<span style="color: green;">aktiv</span>{% else %}<span style="color: red;">inaktiv</span>{% endif %}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">Keine Trigger vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
<hr>
<div class="text-center m-t-lg">
    <p>Hinweis: Diese Funktion erlaubt zusammen mit einem Raspberry Pi bei aktivierten Watchdog das Auslösen von vordefinierten Alarmen - z.B. bei Auslösung eines Rauchmelders o.ä. - nähere Informationen zu dieser Funktion folgen.</p>
</div>