title = "GPIO Alarm Trigger hinzufügen / ändern"
url = "/gpio-alert-trigger-form/:id"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"

[gpioAlertTriggerComponent]

==

{% if gpio_alert_trigger %}
    <h2>GPIO Alarm Trigger ändern</h2>
{% else %}
    <h2>GPIO Alarm Trigger hinzufügen</h2>
{% endif %}
{% if station %}

{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    var map;
    var marker;
    var lonlat;
    const einsatzobjekte_details = {{ einsatzobjekte_details|raw }};
    var geocoder;
    var post_lat = parseFloat({{ post('alert_lat') }});
    var post_long = parseFloat({{ post('alert_long') }});

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    $( document ).ready(function() {
        $("#einsatzobjekt_id").change(function(){
            let o = einsatzobjekte_details.filter(item => item.id == $(this).val());
            if (o.length > 0) {
                var lnglat = new google.maps.LatLng(o[0].lat,o[0].long);
                updatePositionLonLat(lnglat);
                map.setCenter(lnglat);
                marker.setPosition(lnglat);
                $('#alert_einsatzobjekt').val(o[0].einsatzobjekt);
                $('#alert_strasse').val(o[0].strasse);
                $('#alert_ort').val(o[0].ort);
            } else {
                marker.setPosition(lonlat);
                map.setCenter(lonlat);
                updatePositionLonLat(new google.maps.LatLng(0.0,0.0));
                $('#alert_einsatzobjekt').val('');
                $('#alert_strasse').val('');
                $('#alert_ort').val('');
            }
        });

        $("a[data-addgroup]").each(function() {
            $( this ).click(function(){
                var appendItem = $( this ).attr('data-addgroup');
                var mak = $("#alert_mak").val().replaceAll(appendItem,'') + "\n" + appendItem;
                $("#alert_mak").val(mak.replace(/^\s*\n/gm,''));
            });
        })
    });

    function initMap() {
        {% if gpio_alert_trigger %}
            lonlat = new google.maps.LatLng({{ gpio_alert_trigger.alert_lat }},{{ gpio_alert_trigger.alert_long }});
        {% else %}
            lonlat = new google.maps.LatLng({{ station.lat }},{{ station.long }});
        {% endif %}

        if (post_lat > 0.0 && post_long > 0.0) {
            lonlat = new google.maps.LatLng(post_lat,post_long);
        }

        updatePositionLonLat(lonlat);

        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: lonlat,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            styles: styles["default"],
            tilt: 0,
            fullscreenControl: true
        });

        geocoder = new google.maps.Geocoder();

        marker = new google.maps.Marker({
            position: lonlat,
            map: map
        });

        map.addListener('click', function(event) {
            updatePositionLonLat(event.latLng);
            marker.setPosition(event.latLng);
            geocodeLatLng(event.latLng);
        });


    }

    function updatePositionLonLat(lonlat) {
        $('input[name="alert_long"]').val(lonlat.lng());
        $('input[name="alert_lat"]').val(lonlat.lat());
        $('#lb_long').text(lonlat.lng().toFixed(6));
        $('#lb_lat').text(lonlat.lat().toFixed(6));
    }

    function geocodeLatLng(lonlat) {
        geocoder.geocode(
            {
                location: lonlat,
            },
            (results, status) => {
                if (status === "OK") {
                    let address_parts = extractGeocodeAddress(results);
                    $('input[name="alert_strasse"]').val(address_parts.street);
                    $('input[name="alert_ort"]').val(address_parts.city);
                } else {
                    console.log("Geocoder failed due to: " + status);
                }
            }
        );
    }
</script>
{% endput %}

{% if gpio_alert_trigger %}
{{ form_model(gpio_alert_trigger, {'request': 'onSaveGpioAlertTrigger'}) }}
{% else %}
{{ form_open({'request': 'onSaveGpioAlertTrigger'}) }}
{% endif %}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('label', 'Bezeichnung', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('label', null ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('gpio_number', 'GPIO Pin', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('gpio_number', gpio_numbers, null, {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('gpio_monitoring_mode', 'Modus', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('gpio_monitoring_mode', gpio_monitoring_modes, null, {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('limit_trigger_minutes', 'Rate Limit', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('limit_trigger_minutes', limit_trigger_minutes_options, null, {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <b>Status</b>
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_checkbox('enabled', '1', post('enabled'), { id: 'enabled' }) }} &nbsp; {{ form_label('enabled', 'Schleife aktiv') }}
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <b>Letzte Auslösung</b>
    </div>
    <div class="col-sm-12 col-lg-6">
        {% if gpio_alert_trigger.last_trigger_performed %}
            {{ gpio_alert_trigger.last_trigger_performed|date('j.n.Y h:i') }} <button data-request="onResetLastTriggerPerformed" data-request-confirm="Letzte Auslösung zurückstellen?" class="btn btn-default">Reset</button>
        {% else %}
            Keine
        {% endif %}
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_stichwort_id', 'Einsatzstichwort', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('alert_stichwort_id', stichworte, post('stichwort'), {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_information', 'Lage', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('alert_information', post('alert_information') ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('einsatzobjekt_id', 'Einsatzobjekt') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_select('einsatzobjekt_id', einsatzobjekte, post('einsatzobjekt'), {'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_einsatzobjekt', 'Objektbezeichnung', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('alert_einsatzobjekt', post('alert_einsatzobjekt') ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('coords', 'Koordinaten', {'class':'is-required'}) }}: <span id="lb_long">0.0</span> / <span id="lb_lat">0.0</span>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div id="map" class="responsive_map"></div>
        {{ form_hidden('alert_long', post('alert_long'))  }} {{ form_hidden('alert_lat', post('alert_lat')) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_strasse', 'Straße, Nr.', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('alert_strasse', post('alert_strasse') ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_ort', 'Ort', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('alert_ort', post('alert_ort') ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('alert_mak', 'Mitalarmierte Kräfte (mit ENTER trennen)', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_textarea('alert_mak', post('alert_mak'), {'rows':'5', 'class':'form-control'}) }}
        <div style="margin-top: 10px;">
            {% for alertgroup in station.alertgroups|filter(v => v.enabled) %}
            <a class="btn m-b-sm m-r-sm btn-firemon f112-icon f112-bell" data-addgroup="{{ alertgroup.filter }}">{{ alertgroup.label }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 text-center">
        {{ form_submit('Speichern') }}
    </div>
</div>

{{ form_close() }}

<hr>


<div class="row m-b-sm">
    <div class="text-left col-xs-6">
        <p><a href="{{ 'gpio-alert-trigger-list'|page }}" class="btn btn-default">zurück</a></p>
    </div>
    <div class="text-right col-xs-6">
        {% if gpio_alert_trigger.id > 0 %}
        <button data-request="onDeleteGpioAlertTrigger" data-request-confirm="GPIO Alarm Trigger {{ gpio_alert_trigger.name }} wirklich löschen?" class="btn btn-default">GPIO Alarm Trigger löschen</button>
        {% endif %}
    </div>
</div>
{% endif %}