title = "Gruppen und Funktionen"
url = "/gruppen"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
<?php

use pm\Firemon112\Models\Helper;

function onStart() {
    $this->addJs('assets/javascript/sortableTableRow.js');
}

function onUpdateSortOrder()
{
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user !== null && $station !== null) {
            $sortOrders = post('sortOrder');

            foreach ($sortOrders as $arrPos => $group_id) {
                $group = $station->groups()->where('id', intval($group_id))->with('users')->first();
                $group->prio = 99-$arrPos; // prio is always desc - but we get new positions in asc from frontend -> invert
                $group->save();
            }
        }
        return Redirect::refresh();
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}
==
{% put scripts %}
<script>
    $(function(){
        $("*[data-show-users]").on('click',(evt) => {
            $("."+evt.currentTarget.dataset.showUsers).toggle();
        });
    });
</script>
{% endput %}
<h2>Gruppen und Funktionen</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon icon-info-sign"></i> Hinweise zu Gruppen und Funktionen
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>
                    Die Gruppen sind ein leistungsfähiges Konzept zur Verteilung von administrativen Rollen, Funktionsbezeichnungen im Einsatz
                    und zur Organisation der Einsatzkräfte (z.B. für Schleifenauslösungen oder Personenkreise bei Terminen und Events).
                </p>
                <p>
                    Über Gruppen können außerdem Berechtigungen für den Einsatzfall erteilt werden (Einsatz-Details einsehen, Einsatzführungsfunktionen
                    wie Einsatzabbruch, Nachalarmieren usw.). Es können beliebig viele Gruppen mit beliebigen Berechtigungen erstellt werden, jedoch ist
                    es ratsam die Gruppen systematisch aufzubauen, um unerwarteten Effekten vorzubeugen.
                </p>
                <p>
                    Gruppenzugehörigkeiten können und sollten auch auf Zweitwehrmitglieder angewendet werden, sie gelten jedoch immer nur im Kontext
                    der Organisation zu der die Gruppe gehört.
                </p>
                <p>
                    Grundsätzlich unterscheidet das System einsatzrelevanten und nicht einsatzrelevanten Gruppen. Einsatzrelevante Gruppen werden Funktionen genannt.
                </p>
                <p>
                    Die Funktionen sind sortiert - entsprechend der Sortierung werden auf dem Wachendisplay bei der Feedback-Funktion die eintreffenden Kameraden angezeigt. In der Zusammenfassung werden die Kameraden anhang ihrer höchstwertigen Funktion gemäß der Sortierung eingeordnet und gezählt.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-xs-12 text-center">
        <a href="{{ 'group-edit'|page({ group_id: 0 }) }}" class="btn btn-default"><i class="icon icon-plus"></i> Gruppe hinzufügen</a>
    </div>
</div>
<div style="overflow-x:auto;">
    <h2>Funktionen</h2>
    <table class="table" id="sortableTable">
        <thead>
        <tr>
            <th scope="col" class="small-head">Bezeichnung</th>
            <th scope="col" class="small-head">Einsatzkräfte</th>
            <th scope="col" class="text-center small-head">Alarm Readonly</th>
            <th scope="col" class="text-center small-head">Einsatz-Details</th>
            <th scope="col" class="text-center small-head">Führungs-Funktionen</th>
        </tr>
        </thead>
        <tbody>
        {% set thisgroups = station.groups|filter(v=>v.isFunktion)|sort((a, b) => b.prio <=> a.prio) %}
        {% if thisgroups|length > 0 %}
            {% for group in thisgroups %}
                <tr data-id="{{ group.id }}">
                    <td class="sortHandle"><a href="{{ 'group-edit'|page({ group_id: group.id }) }}"><span class="mission_role_pill" style="color: {{ group.marker_color }}; border-color: {{ group.marker_color }};" title="{{group.name}}">{{ group.short_name }}</span> {{ group.name }}</a></td>
                    <td>
                        <button class="btn btn-firemon-tiny" title="Einsatzkräfte einblenden" data-show-users="users-{{ group.id }}"><i class="icon-user"></i></button> {{ group.users.count }}
                        {% if group.users.count <= 0 %}
                        <span class="alert-danger">Gruppe hat keine Einsatzkräfte!</span>
                        {% endif %}
                        <div style="font-size: 0.9em; display:none;" class="users-{{ group.id }}">
                            {% for user in group.users|sort((a,b) => a.surname < b.surname ? -1 : 1) %}
                            <span class="group_pill">{{ user.surname }}, {{ user.name }}</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">{{ group.is_role_alert_readonly ? 'X' : '' }}</td>
                    <td class="text-center">{{ group.is_mission_operator ? 'X' : '' }}</td>
                    <td class="text-center">{{ group.is_mission_admin ? 'X' : '' }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Keine Gruppen vorhanden</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>Gruppen</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="small-head">Bezeichnung</th>
            <th scope="col" class="small-head">Einsatzkräfte</th>
            <th scope="col" class="text-center small-head">Alarm Readonly</th>
            <th scope="col" class="text-center small-head">Einsatz-Details</th>
            <th scope="col" class="text-center small-head">Führungs-Funktionen</th>
        </tr>
        </thead>
        <tbody>
        {% set thisgroups = station.groups|filter(v=>v.isGruppe)|sort((a, b) => a.name <=> b.name) %}
        {% if thisgroups|length > 0 %}
        {% for group in thisgroups %}
        <tr>
            <td><a href="{{ 'group-edit'|page({ group_id: group.id }) }}">{{ group.name }} ({{ group.users|length}})</a></td>
            <td>
                <button class="btn btn-firemon-tiny" title="Einsatzkräfte einblenden" data-show-users="users-{{ group.id }}"><i class="icon-user"></i></button> {{ group.users.count }}
                {% if group.users.count <= 0 %}
                <span class="alert-danger">Gruppe hat keine Einsatzkräfte!</span>
                {% endif %}
                <div style="font-size: 0.9em; display:none;" class="users-{{ group.id }}">
                    {% for user in group.users|sort((a,b) => a.surname < b.surname ? -1 : 1) %}
                    <span class="group_pill">{{ user.surname }}, {{ user.name }}</span>
                    {% endfor %}
                </div>
            </td>
            <td class="text-center">{{ group.is_role_alert_readonly ? 'X' : '' }}</td>
            <td class="text-center">{{ group.is_mission_operator ? 'X' : '' }}</td>
            <td class="text-center">{{ group.is_mission_admin ? 'X' : '' }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Keine Gruppen vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>Admin-Gruppen</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="small-head">Bezeichnung</th>
            <th scope="col" class="small-head">Einsatzkräfte</th>
            <th scope="col" class="text-center small-head">Feuerwehr</th>
            <th scope="col" class="text-center small-head">Alarm</th>
            <th scope="col" class="text-center small-head">Dienstplan</th>
            <th scope="col" class="text-center small-head">Termine</th>
        </tr>
        </thead>
        <tbody>
        {% set thisgroups = station.groups|filter(v=>v.isAdmin)|sort((a, b) => a.name <=> b.name) %}
        {% if thisgroups|length > 0 %}
        {% for group in thisgroups %}
        <tr>
            <td><a href="{{ 'group-edit'|page({ group_id: group.id }) }}">{{ group.name }} ({{ group.users|length}})</a></td>
            <td>
                <button class="btn btn-firemon-tiny" title="Einsatzkräfte einblenden" data-show-users="users-{{ group.id }}"><i class="icon-user"></i></button> {{ group.users.count }}
                {% if group.users.count <= 0 %}
                <span class="alert-danger">Gruppe hat keine Einsatzkräfte!</span>
                {% endif %}
                <div style="font-size: 0.9em; display:none;" class="users-{{ group.id }}">
                    {% for user in group.users|sort((a,b) => a.surname < b.surname ? -1 : 1) %}
                    <span class="group_pill">{{ user.surname }}, {{ user.name }}</span>
                    {% endfor %}
                </div>
            </td>
            <td class="text-center">{{ group.is_role_station ? 'X' : '' }}</td>
            <td class="text-center">{{ group.is_role_alert ? 'X' : '' }}</td>
            <td class="text-center">{{ group.is_role_presence ? 'X' : '' }}</td>
            <td class="text-center">{{ group.is_role_events ? 'X' : '' }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Keine Gruppen vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>