title = "Gruppe hinzufügen / ändern"
url = "/group-edit/:group_id"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
<?php

use RainLab\User\Models\User;
use RainLab\User\Models\UserGroup;
use pm\Firemon112\Models\Helper;


function onStart() {
    $group_id = intval($this->param('group_id'));
    if ($group_id > 0) {
       $this['group'] = $this->station->groups()->find($group_id);
    }
    $this->addCss('assets/css/bootstrap-colorpicker.min.css');
    $this->addJs('assets/javascript/bootstrap-colorpicker.min.js');
}
function onSaveGroup() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null) {
            throw new Exception("Gruppe kann nicht zugeordnet werden.");
        }
        $group = $station->groups()->find(intval($this->param('group_id')));
        if ($group === null) {
            $group = new UserGroup();
            $group->prio = 0;
            $group->code = md5(microtime(true));
            $group->station_id = $station->id;
        }
        $group->name = strval(post('name'));

        $group->short_name = strval(post('short_name'));
        $group->marker_color = strval(post('marker_color'));

        $group->is_mission_role = boolval(post('is_mission_role'));
        $group->is_mission_admin = boolval(post('is_mission_admin'));
        $group->is_mission_operator = boolval(post('is_mission_operator'));

        $group->is_role_station = boolval(post('is_role_station'));
        $group->is_role_presence = boolval(post('is_role_presence'));
        $group->is_role_alert = boolval(post('is_role_alert'));
        $group->is_role_alert_readonly = boolval(post('is_role_alert_readonly'));
        $group->is_role_events = boolval(post('is_role_events'));

        $isFunction = $group->is_mission_role || $group->is_mission_admin || $group->is_mission_operator;
        $isGroup = $group->is_role_station || $group->is_role_presence || $group->is_role_alert || $group->is_role_events;

        if ($isGroup && $isFunction) {
            throw new Exception('Es wurden Admin Rollen und Einsatztaktische Funktionen gemischt - aus Gründen der Übersichtlichkeit unzulässig');
        }

        if (strlen($group->name) <= 0) {
            throw new Exception('Die Bezeichnung ist leer!');
        }

        if ($group->is_mission_role) {
            if (strlen($group->short_name) <= 0) {
                throw new Exception('Das Kürzel ist leer!');
            }
            if (strlen($group->marker_color) <= 0) {
                throw new Exception('Die Farbkennzeichnung ist leer!');
            }
        }

        $group->save();

        $user_ids = post('user_ids');
        if (is_array($user_ids) && count($user_ids)>0) {
            $group->users()->sync(array_values($user_ids));
        } else {
            if (!$group->is_admin) {
                $group->users()->detach();
            }
        }

        Flash::success("Gruppe " . $group->name . " gespeichert");
        return Redirect::to('gruppen');
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

function onDeleteGroup() {
    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();
    if ($user === null || $station === null) {
        return Redirect::to('gruppen');
    }
    $group_id = intval($this->param('group_id'));
    if ($group_id > 0 && Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_STATION)) {
        $group = $station->groups()->find($group_id);
        if ($group !== null) {
            $group->alertgroups()->detach();
            $group->events()->detach();
            $group->delete();
            Flash::success("Gruppe gelöscht");
        }
    }
    return Redirect::to('gruppen');
}
?>
==
{% put scripts %}
<script>
    $(function() {
        $('#colorPicker').colorpicker({
            format: 'hex'
        });

        $('.groupable-item input[type="checkbox"]').each(function() {
            var $this = $(this);
            if ($this.is(':checked')) {
                $this.parents('.groupable-item').addClass('groupable-item-active');
            }
        });

        // Listen for checkbox change events.
        $('.groupable-item input[type="checkbox"]').change(function() {
            var $this = $(this);
            if ($this.is(':checked')) {
                $this.parents('.groupable-item').addClass('groupable-item-active');
            } else {
                $this.parents('.groupable-item').removeClass('groupable-item-active');
            }
        });
    });
</script>
{% endput %}
{% if group %}
    <h2>Gruppe ändern</h2>
    {{ form_model(group, {'request': 'onSaveGroup'}) }}
{% else %}
    <h2>Gruppe hinzufügen</h2>
    {{ form_open({'request': 'onSaveGroup'}) }}
{% endif %}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('name', 'Bezeichnung', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('name', post('name') ,{'class':'form-control'}) }}
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <b>Administrative Rollen</b>
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_checkbox('is_role_station', '1', post('is_role_station'), { id: 'is_role_station' }) }} &nbsp; {{ form_label('is_role_station', 'Feuerwehr-Admin') }}<br />
        {{ form_checkbox('is_role_alert', '1', post('is_role_alert'), { id: 'is_role_alert' }) }} &nbsp; {{ form_label('is_role_alert', 'Alarm-Admin') }}<br />
        {{ form_checkbox('is_role_events', '1', post('is_role_events'), { id: 'is_role_events' }) }} &nbsp; {{ form_label('is_role_events', 'Termine-Admin') }}<br />
        {{ form_checkbox('is_role_presence', '1', post('is_role_presence'), { id: 'is_role_presence' }) }} &nbsp; {{ form_label('is_role_presence', 'Dienstplan Admin') }}<br />
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <b>Einsatzrelevante Funktionen</b>
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_checkbox('is_mission_role', '1', post('is_mission_role'), { id: 'is_mission_role' }) }} &nbsp; {{ form_label('is_mission_role', 'Einsatzrelevante Funktion (z.B. Gruppenführer)') }}<br />
        {{ form_checkbox('is_mission_operator', '1', post('is_mission_operator'), { id: 'is_mission_operator' }) }} &nbsp; {{ form_label('is_mission_operator', 'Einsatz-Details einsehen') }}<br />
        {{ form_checkbox('is_mission_admin', '1', post('is_mission_admin'), { id: 'is_mission_admin' }) }} &nbsp; {{ form_label('is_mission_admin', 'Einsatz-Führungsfunktionen wahrnehmen') }}<br />
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('short_name', 'Kürzel (z.B. GF)') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('short_name', post('short_name') ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('marker_color', 'Farbkennzeichnung') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        <div id="colorPicker" class="input-group colorpicker-component">
            {{ form_text('marker_color', post('marker_color') ,{'class':'form-control'}) }}
            <span class="input-group-addon"><i></i></span>
        </div>
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        <b>Sonstige Berechtigungen</b>
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_checkbox('is_role_alert_readonly', '1', post('is_role_alert_readonly'), { id: 'is_role_alert_readonly' }) }} &nbsp; {{ form_label('is_role_alert_readonly', 'Alarm-Readonly') }}<br />
    </div>
</div>

<hr>

<div class="row m-b-sm">
    <div class="col-sm-12">
        <b>Gruppen Mitglieder</b>
    </div>
    {% if group.is_admin %}
        <div class="col-sm-12">
            <p>Die Benutzerzuweisung für Admin-Gruppen ist aus Sicherheitsgründen nur über die <a href="{{ 'kameraden'|page }}">Einsatzkräfte Verwaltung</a> "Gruppen und Funktionen" möglich.</p>
        </div>
    {% else %}
        <div class="col-sm-12 groupable-holder">
            {% for user in station.allusers|sort((a,b) => a.surname > b.surname ? 1 : -1) %}
            <div class="groupable-item">
                {{ form_checkbox('user_ids[]', user.id, group and user.id in group.users().pluck('user_id'), { id: 'user_id_' ~ user.id }) }}
                {{ form_label('user_id_' ~ user.id, user.surname ~ ', ' ~ user.name, { class: 'small-head' }) }}<br />
                {% partial "user_function_station_listitem" feuser=user station=station %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<hr>

<div class="row">
    <div class="col-sm-12 text-center">
        {{ form_submit('Speichern') }}
    </div>
</div>

{{ form_close() }}

<div class="row m-t-lg">
    <div class="text-left col-xs-6">
        <p><a href="{{ 'groups'|page }}" class="btn btn-default">zurück</a></p>
    </div>
    <div class="text-right col-xs-6">
        {% if group.id > 0 %}
            <button data-request="onDeleteGroup" data-request-confirm="Gruppe {{ group.name }} wirklich löschen?" class="btn btn-default">Gruppe löschen</button>
        {% endif %}
    </div>
</div>