title = "Firemon 112 Startseite"
url = "/"
layout = "default"
is_hidden = 0
==
use pm\Firemon112\Models\Device;
use pm\Firemon112\Models\Station;
use pm\Firemon112\Models\Alert;
use pm\Firemon112\Models\Hydrant;
use RainLab\User\Models\User;

function onStart() {
    $this['stationcount'] = Station::count();
    $this['alertcount'] = Alert::count();
    $this['hydrantcount'] = Hydrant::count();
    $this['usercount'] = User::count();
}
==
<div class="jumbotron p-t-0 p-b-0">
    <div class="container text-center">
        <img class="img-responsive" src="{{ 'assets/images/firemon-112-promo.png'|theme }}" />
    </div>
</div>
<div class="container">
    <div class="promo-fact col-xs-6 col-sm-3 text-center">
        <div class="promo-circle f112-icon f112-bell"></div>
        <p class="promo-count">{{ alertcount }}</p>
        <p class="promo-label">Einsätze</p>
    </div>

    <div class="promo-fact col-xs-6 col-sm-3 text-center">
        <div class="promo-circle f112-icon f112-account-group"></div>
        <p class="promo-count">{{ usercount }}</p>
        <p class="promo-label">Kamerad*innen</p>
    </div>

    <div class="promo-fact col-xs-6 col-sm-3 text-center">
        <div class="promo-circle f112-icon f112-firestation"></div>
        <p class="promo-count">{{ stationcount }}</p>
        <p class="promo-label">Wehren</p>
    </div>

    <div class="promo-fact col-xs-6 col-sm-3 text-center">
        <div class="promo-circle f112-icon f112-hydrant"></div>
        <p class="promo-count">{{ hydrantcount }}</p>
        <p class="promo-label">Hydranten</p>
    </div>

</div>
<div class="container">
    <h1>Firemon 112</h1>
    <p>
        Ehrenamtlich entwickelte und betriebene Open-Source Einsatzvorbereitung und -verwaltung, <b>von Kameraden für Kameraden</b>!<br />
        Funktioniert mit:
    </p>
    <ul>
        <li><b>Raspberry Pi 3 & 4</b> (z.B. als Gerätehaus Monitor)</li>
        <li><b>Windows 10 App</b> (z.B. als Gerätehaus Monitor)</li>
        <li><b>Android und iPhone</b> (als Web-App z.B. für Führungskräfte)</li>
        <li><b>Jedem internetfähigen Gerät</b> (z.B. Chrome, Firefox oder Edge)</li>
        <li><a href='https://play.google.com/store/apps/details?id=de.firemon112.app&gl=DE' target="_blank"><img alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png' height="50"/></a></li>
        <li><a href="https://apps.apple.com/de/app/firemon-112-app/id6447294694" target="_blank"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/de-DE?size=150x50&amp;releaseDate=1321920000" alt="Download on the App Store" height="40" style="border-radius: 6px;"></a></li>
    </ul>
    <p><img class="img-responsive" src="{{ 'assets/images/firemon_devices.jpg'|theme }}" /></p>
</div>
<div class="jumbotron p-t-0 p-b-0">
    <div class="container">
        <div class="row flex-vertical-center">
            <div class="col-xs-12 col-sm-6 col-md-4 p-x-md p-y-md flex-vertical-center">
                <a href="https://smartcityamtsuederbrarup.de/portfolio/firemon-112/" target="_blank">
                    <img class="img-responsive" src="{{ 'assets/images/scas-logo.png'|theme }}" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 p-x-md p-y-md flex-vertical-center">
                <a href="https://land-der-ideen.de/wettbewerbe/digitale-orte/preistraegerinnen/alle-gewinner" target="_blank">
                    <img class="img-responsive" src="{{ 'assets/images/dldi-logo.png'|theme }}" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 p-x-md p-y-md flex-vertical-center">
                <a href="https://www.schleswig-holstein.de/DE/fachinhalte/P/preiseWettbewerbe/Digitalisierungspreis" target="_blank">
                    <img class="img-responsive" src="{{ 'assets/images/digipreis-logo.png'|theme }}" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% content "firemon-short-intro.htm" %}
</div>
<div class="container">
    {% content "mitmachen.htm" %}
</div>
<div class="container">
    {% content "presse.htm" %}
</div>