title = "Einladungen &aml; Freigaben"
url = "/invites"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Invite;

function checkInviteUser($user, $inviteUser, $station) {
        if ($user == null) {
            throw new Exception("Login Kontext ungültig!");
        }
        if ($station == null) {
            throw new Exception("Admin User ist keiner Wehr zugeordnet!");
        }
        if ($inviteUser == null) {
            throw new Exception("Benutzer mit E-Mail ".post('email')." konnte nicht gefunden werden!");
        }
        if ($user->id == $inviteUser->id) {
            throw new Exception("Man kann sich nicht selbst einladen!");
        }
        if ($inviteUser->station_id == $station->id) {
            throw new Exception("Der Benutzer ist bereits dieser Wehr zugeordnet!");
        }
        if ($station->linked_users()->where('id',$inviteUser->id)->count() > 0) {
            throw new Exception("Der Benutzer ist bereits mit dieser Wehr verknüpft!");
        }
}

function onSearchInviteUser() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        $inviteUser = User::where('email', post('email'))->first();
        $this->checkInviteUser($user, $inviteUser, $station);
        $this['inviteUser'] = $inviteUser;
    } catch (Exception $e) {
        $this['errorMessage'] = $e->getMessage();
    }
}

function onInviteUser() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_STATION)) {
            throw new Exception("Keine Berechtigung");
        }
        $inviteUser = User::where('email', post('email'))->first();
        $this->checkInviteUser($user, $inviteUser, $station);
        $data = [
            'user_id_sender' => $user->id,
            'user_id_recipient' => $inviteUser->id,
            'type' => Invite::$TYPE_USER_TO_STATION,
            'status' => Invite::$STATE_NEW,
            'payload' => [
                'station_id' => $station->id,
                'station_name' => $station->name
            ]
        ];
        if (Invite::exists($data)) {
            throw new Exception("Diese Einladung existiert bereits und kann erst wiederholt werden, wenn der Empfänger zu- oder abgelehnt hat.");
        }
        $invite = Invite::create($data);
        if ($invite->id <= 0) {
            throw new Exception("Die Einladung konnte nicht erzeugt werden!");
        }
        $this['successMessage'] = $inviteUser->name.' '.$inviteUser->surname.' eingeladen!';
    } catch (Exception $e) {
        $this['errorMessage'] = $e->getMessage();
    }
    $this['invites'] = $user->invites_sender;
}

public function onDeleteInvite() {
    try {
        $user = Helper::GetFeUser();
        if ($user == null) {
            throw new Exception("Login Kontext ungültig!");
        }
        $invite = Invite::find(intval(post('invite_id')));
        if ($invite == null) {
            throw new Exception("Einladung nicht gefunden!");
        }
        if ($invite->user_id_sender != $user->id) {
            throw new Exception("Einladung wurde von jemand anderen erstellt!");
        }
        $invite->delete();
        $this['invites'] = $user->invites_sender;
    } catch (Exception $e) {
        $this['invitesErrorMessage'] = $e->getMessage();
    }
}
==
<h2>Einsatzkraft Einladen</h2>
<p>
    Über diese Funktion kannst Du Kamerad*innen, die einer anderen Wehr zugeordnet sind, in diese Wehr einladen. Diese Kamerad*innen können dann Schleifen zugeordnet werden. Ein sonstiger Zugriff auf Funktionen oder Daten besteht nicht.<br />
    Diese Funktion ist für Kamerad*innen gedacht, die in einer zweiten Wehr / Organisation tätig sind (Zweitmitgliedschaft, LZG, Amtswehrführung, KBM o.ä.).<br />
    Nachdem die Einladung durchgeführt wurde erhält der Eingeladene eine Hinweis E-Mail - er muss sich darauf hin im System einloggen und kann dann unter "Account" die Einladung annehmen oder ablehnen.
</p>
{{ form_open({'data-request': 'onSearchInviteUser', 'data-request-update': '\'invite_found_user\': \'#searchInviteUserResult\''}) }}
<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('email', 'E-Mail (muss bereits im Firemon 112 existieren)') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('email', post('email') ,{'class':'form-control'}) }}
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12 text-center">
        {{ form_submit('Einsatzkraft suchen') }}
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12 text-center" id="searchInviteUserResult">&nbsp;</div>
</div>
{{ form_close() }}
<div style="overflow-x:auto;" id="user_invites_sent">
    {% partial "user_invites_sent" invites=user.invites_sender %}
</div>