title = "Einsatzkräfte"
url = "/kameraden"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Station;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\CustomSettings;
use RainLab\User\Models\User;
use RainLab\User\Models\UserGroup;

function onStart() {
    $this['users'] = $this->station->users()->with(['groups','avatar'])->get();
    $this['linked_users'] = $this->station->linked_users()->with(['groups','avatar'])->get();
}

function onUnlinkUserFromStation() {
    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();
    if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_STATION)) {
        throw new Exception("Keine Berechtigung");
    }
    if ($user != null && $station != null) {
        $linked_user = $station->linked_users()->find(intval(post('linked_user_id')));
        if ($linked_user !== null) {
            foreach ($station->alertgroups as $alertgroup) {
                $linked_user->alertgroups()->detach($alertgroup);
            }
            foreach ($station->groups as $group) {
                $linked_user->groups()->detach($group);
            }
            foreach($station->news as $news) {
                $news->reminders()->user($linked_user)->unhandled()->delete();
            }
            foreach($station->events as $event) {
                $event->reminders()->user($linked_user)->unhandled()->delete();
            }
            $station->linked_users()->detach($linked_user);
        }
    }
    $this['linked_users'] = $station->linked_users();
}

==
<h2>Einsatzkräfte</h2>
{% if station %}
<div class="row m-b-sm">
    <div class="col-xs-6">
        <p>
            <a href="{{ 'kamerad-edit'|page({ frontenduser_id: 0 }) }}" class="btn btn-default"><i class="icon icon-plus"></i> Neu hinzufügen</a>
            <a href="{{ 'invites'|page }}" class="btn btn-default"><i class="icon icon-comment"></i> Einladen</a>
        </p>
    </div>
    <div class="col-xs-6 text-right">
        <p><a href="{{ 'kameraden-import'|page }}" class="btn btn-default"><i class="icon icon-upload-alt"></i> FOX 112 Import</a></p>
    </div>
</div>
{% endif %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Name, Vorname</th>
            <th scope="col">Funktionen und Gruppen</th>
            <th scope="col">Auslösewege</th>
        </tr>
        </thead>
        <tbody>
        {% if users.count() > 0 %}
        {% for feuser in users|sort( (a,b) => a.surname <=> b.surname) %}
        <tr>
            <th scope="row" class="w-50">
                {% partial "user_avatar" avatar=feuser.avatar is_activated=feuser.is_activated %}
            </th>
            <td>
                <a href="{{ 'kamerad-edit'|page({ frontenduser_id: feuser.id }) }}">{{ feuser.surname }}, {{ feuser.name }}</a><br />
                <a href="{{ 'kamerad-roles'|page({ frontenduser_id: feuser.id }) }}" class="color-gray"><i class="icon icon-shield"></i> Gruppen und Funktionen</a>
            </td>
            <td style="font-size: 0.9em;">
                {% partial "user_roles_listitem" feuser=feuser station=station %}
            </td>
            <td>
                {% if feuser.trigger_alert_email %} <i class="f112-icon f112-mail" title="E-Mail"/> {% endif %}
                {% if feuser.trigger_alert_sms %} <i class="f112-icon f112-message-text" title="SMS"/> {% endif %}
                {% if feuser.trigger_alert_call %} <i class="f112-icon f112-phone" title="Voice-Call"/> {% endif %}
                {% if feuser.allow_app_usage %} <i class="f112-icon f112-devices" title="App-Nutzung erlaubt"/> {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Keine Kameraden vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<h2>Einsatzkräfte aus anderen Wehren</h2>
<div style="overflow-x:auto;" id="station_linked_users">
    {% partial "station_linked_users" linked_users=linked_users %}
</div>
<div class="text-center m-t-lg">
    <p>Hinweis: Status Aktiv bedeutet, dass der Kamerad den Aktivierungslink geklickt und sich mindestens einmal erfolgreich angemeldet hat. Für die Alarmierung per SMS oder Anruf ist dieser Status irrelevant - <b>auch inaktive Accounts werden alarmiert.</b></p>
</div>