title = "Funktionen und Gruppen"
url = "/kamerad-roles/:frontenduser_id"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
<?php
use RainLab\User\Models\User;
use RainLab\User\Models\UserGroup;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\CustomSettings;

function onStart() {
    $feuser_id = intval($this->param('frontenduser_id'));
    $feuser = $this->station->users->find($feuser_id);
    if ($feuser === null) {
        $feuser = $this->station->linked_users->find($feuser_id);
    }
    $this['frontenduser'] = $feuser;
}

function onSavePermissions() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        $feUserId = intval($this->param('frontenduser_id'));
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_STATION)) {
            throw new Exception("Keine Berechtigung");
        }
        $frontenduser = $station->users->find($feUserId);
        if ($frontenduser === null) {
            $frontenduser = $station->linked_users->find($feUserId);
        }

        $groups = post('usergroups');
        if (!is_array($groups)) {
            $groups = array();
        }

        try {
            if ($frontenduser === null) {
                throw new Exception("Benutzer nicht gefunden");
            }
            $otherStationGroups = $frontenduser->groups()->where('station_id','!=',$station->id)->pluck('id')->toArray();

            $frontenduser->groups()->sync(array_merge($otherStationGroups, $groups));

            if ($frontenduser->save()) {
                CustomSettings::UpdateUserRemindersForStation($frontenduser, $station); // update reminders to consider new group config
                Flash::success("Gruppen und Funktionen für " . $frontenduser->name . " ".$frontenduser->surname." gespeichert");
                return Redirect::to('kameraden');
            } else {
                throw new Exception("Speichern fehlgeschlagen");
            }
        } catch (\Exception $ex) {
            Flash::error("Gruppen und Funktionen für " . $frontenduser->name . " ".$frontenduser->surname."konnten gespeichert nicht gespeichert werden: ".$ex->getMessage());
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

?>
==
{% if frontenduser %}
    <h2>Gruppen und Funktionen</h2>
    <div class="row m-y-md">
        <div class="col-xs-2" style="width: 50px;">
            {% partial "user_avatar" avatar=frontenduser.avatar is_activated=frontenduser.is_activated %}
        </div>
        <div class="col-xs-10" style="padding-left: 50px;">
            Benutzer: <b>{{ frontenduser.name }} {{ frontenduser.surname }}</b><br />
            Die erteilten Gruppen und Funktionen gelten für <b>{{ station.name }}</b>
        </div>
    </div>


    {% if station %}

    {{ form_open({'request': 'onSavePermissions'}) }}

    <div class="row m-b-sm">
        {% partial "kamerad_edit_roles" frontenduser=frontenduser user=user groups=station.groups %}
    </div>


    <div class="row">
        <div class="col-sm-12 text-center">
            {{ form_submit('Speichern') }}
        </div>
    </div>

    {{ form_close() }}


    <div class="row m-t-md">
        <div class="text-left col-xs-12">
            <p><a href="{{ 'kameraden'|page }}" class="btn btn-default">zurück</a></p>
        </div>
    </div>

    {% endif %}

{% endif %}