title = "Lehrgänge"
url = "/lehrgaenge/:source?/:year?"
layout = "default"
description = "Firemon 112 | Lehrgänge"
is_hidden = 0
==
use pm\Firemon112\Models\TrainingSource;
use pm\Firemon112\Models\Helper;
function onStart() {
    $this['source'] = $this->param('source');
    $this['year'] = intval($this->param('year', date('Y')));
    $this['months'] = Helper::GetMonthNames();
    $this['weekdays'] = Helper::GetWeekdayNames();
    $this['sources'] = TrainingSource::all();
}
==
{% put scripts %}
<script>
    jQuery(function(){
        jQuery("a[data-toggle]").each(function() {
            $( this ).click(function(){
                jQuery("#" + $( this ).attr('data-toggle')).toggle();
            });
        })
    });
</script>
{% endput %}
<div class="container">
    {% if source %}
        {% for source in sources|filter(v => v.label_short == source) %}
            <h1>{{ source.label }}</h1>
            <h1><a href="{{ 'lehrgaenge'|page({ source: source.label_short, year: year-1 }) }}" class="btn btn-firemon-grey">&lt;</a> {{ year }} <a href="{{ 'lehrgaenge'|page({ source: source.label_short, year: year+1 }) }}"  class="btn btn-firemon-grey">&gt;</a> </h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <tbody>
                    {% set events = source.trainings|filter(v => v.from_date|date('Y') == year and v.is_related)|sort( (a,b) => a.from_date|date('U') <=> b.from_date|date('U') ) %}
                    {% if events %}
                        {% for event in events|filter(v => v.is_related) %}
                            {% if months[event.from_date|date('n')] != lastMonth %}
                                {% set lastMonth = months[event.from_date|date('n')] %}
                                <tr><th colspan="3"><h2>{{ lastMonth }}</h2></th></tr>
                            {% endif %}

                            {% if event.from_date|date('j.n.Y') != lastDate %}
                                {% set lastDate = event.from_date|date('j.n.Y') %}
                                <tr {% if not event.is_related %}class="low-saturation"{% endif %}>
                                    <th colspan="3"><span style="font-size: 2em; margin-right: 20px;">{{ event.from_date|date('j') }}</span>{{ weekdays[event.from_date|date('w')] }}, {{ lastDate }}</th>
                                </tr>
                            {% endif %}

                            <tr {% if not event.is_related %}class="low-saturation"{% endif %}>
                                <th scope="row" style="background-color: #efefef;">
                                    {{ event.label }}<br />
                                    Nummer: {{ event.identifier }}
                                </th>
                                <td>
                                    Freie Plätze: {{ event.slots_available }}<br />
                                    {% if event.appointments.count() > 0 %}
                                    <a href="javascript:void(0);" data-toggle="appt-{{ event.id }}">Anzahl Termine: {{ event.appointments.count() }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    Endet am {{ event.to_date|date('d.m.Y') }}<br />
                                    {% if event.note %}Hinweis: {{ event.note }}{% endif %}
                                </td>
                            </tr>
                            {% if event.appointments.count() > 0 %}
                            <tr id="appt-{{ event.id }}" style="display: none;">
                                <td colspan="3">
                                    <ul style="list-style-type: decimal;">
                                        {% for appt in event.appointments %}
                                        <li>{{ appt.from_datetime|date('d.m.Y') }}: {{ appt.from_datetime|date('H:i') }} - {{ appt.to_datetime|date('H:i') }} Uhr {% if appt.note %} {{ appt.note|raw }}{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">Keine Lehrgänge vorhanden</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div class="text-center">
            <p><a href="{{ 'lehrgaenge'|page({ source: null, year: null }) }}" class="btn btn-default">zum Index</a></p>
        </div>
    {% else %}
        <h1>Lehrgänge</h1>
        <ul>
            {% for source in sources %}
            <li><a href="{{ 'lehrgaenge'|page({ source: source.label_short }) }}">{{ source.label }} ({{ source.trainings|filter(v => v.from_date|date('Y') == year and v.is_related)|length }} Lehrgänge)</a></li>
            {% endfor %}
        </ul>
        {% content "lehrgang-intro.htm" %}
    {% endif %}
</div>