title = "Logout"
url = "/logout"
layout = "default"
description = "Log user out"
is_hidden = 0
==
<?php
function onStart()
{
    if (Auth::check()) {
        // Log out the user
        Auth::logout();

        // Redirect to the homepage or login page
        return Redirect::to('/');
    }
}
?>
==
<div class="jumbotron">
    <div class="container">
        <h1>Logout</h1>
        <p>Du wirst abgemeldet...</p>
    </div>
</div>