title = "Passwort vergessen"
url = "/lost-password/:code?"
layout = "default"

[resetPassword]
paramCode = "code"
==
<div class="container">
    <div class="page-header">
        <h2>Passwort vergessen</h2>
    </div>

    {% component 'resetPassword' %}

</div>