title = "E-Mail Analyse"
url = "/mails/:year?"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"
==
<?php
use RainLab\User\Models\User;
use pm\Firemon112\Models\Mail;
use pm\Firemon112\Models\Helper;

function onStart() {

    $page = intval(input('page'));
    $this['page'] = $page;
    $year = intval($this->param('year', date('Y')));
    $this['year'] = $year;

    $mails_paginated = Mail::where('token',$this->station->token)->whereRaw('year(created_at) = '.$year)->orderBy('created_at', 'desc')->paginate(20);

    $this['mails_paginated'] = $mails_paginated;

    $mails = Mail::where('token',$this->station->token)->whereRaw('year(created_at) = '.$year)->get();
    $stats = [
        '0-3s' => 0,
        '3-10s' => 0,
        '10-60s' => 0,
        '60-180s' => 0,
        '180-600s' => 0,
        '>600s' => 0,
        'total' => 0
    ];
    foreach ($mails as $mail) {
        $stats['total'] ++;
        if ($mail->getMailDelaySecondsAttribute() > 600) {
            $stats['>600s'] ++;
        } else if ($mail->getMailDelaySecondsAttribute() > 180) {
            $stats['180-600s'] ++;
        } else if ($mail->getMailDelaySecondsAttribute() > 60) {
            $stats['60-180s'] ++;
        } else if ($mail->getMailDelaySecondsAttribute() > 10) {
            $stats['10-60s'] ++;
        } else if ($mail->getMailDelaySecondsAttribute() > 3) {
            $stats['3-10s'] ++;
        } else {
            $stats['0-3s'] ++;
        }
    }
    $this['mails_stats'] = $stats;

}
?>
==
{% put scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    let statsDB = JSON.parse('{{ mails_stats|json_encode|escape('js') }}');
    console.log(statsDB);
let totalEmails = 33;
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Delay Cluster', 'Anzahl E-Mails', { role: 'style' }, {role: 'annotation'}],
            ['0-3s', statsDB['0-3s'], '#90EE90', ((statsDB['0-3s'] / statsDB['total']) * 100).toFixed(2) + '%'],
            ['3-10s', statsDB['3-10s'], '#90EE90', ((statsDB['3-10s'] / statsDB['total']) * 100).toFixed(2) + '%'],
            ['10-60s', statsDB['10-60s'], '#FFA500', ((statsDB['10-60s'] / statsDB['total']) * 100).toFixed(2) + '%'],
            ['60-180s', statsDB['60-180s'], '#FF0000', ((statsDB['60-180s'] / statsDB['total']) * 100).toFixed(2) + '%'],
            ['180-600s', statsDB['180-600s'], '#FF0000', ((statsDB['180-600s'] / statsDB['total']) * 100).toFixed(2) + '%'],
            ['>600s', statsDB['>600s'], '#FF0000', ((statsDB['>600s'] / statsDB['total']) * 100).toFixed(2) + '%']
        ]);

        var options = {
            title: 'E-Mail Verzögerungsanalyse',
            chartArea: {width: '50%'},
            hAxis: {
                title: 'Number of Emails',
                minValue: 0
            },
            vAxis: {
                title: 'Delay Cluster'
            },
            legend: { position: 'none' },
            annotations: {
                alwaysOutside: true,
                textStyle: {
                    fontSize: 12,
                    color: '#000',
                    auraColor: 'none'
                }
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('email_delay_chart'));
        chart.draw(data, options);
    }
</script>
{% endput %}
<h2>Alarme</h2>

<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <p  class="year-picker"><a href="{{ 'mails'|page({ year: year-1 }) }}" class="btn btn-firemon-grey">&lt;</a> {{ year }} <a href="{{ 'mails'|page({ year: year+1 }) }}"  class="btn btn-firemon-grey">&gt;</a> </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        {{ mails_paginated.render|raw }}
    </div>
</div>

<div id="email_delay_chart" style="width: 900px; height: 500px;"></div>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Erhalten</th>
        <th scope="col">Mail-Header</th>
        <th scope="col">Mail-Content</th>
    </tr>
    </thead>
    <tbody>
    {% if mails_paginated %}
        {% for mail in mails_paginated %}
            <tr>
                <td {% if mail.mail_delay_seconds > 5 %}style="color:red;"{% endif%}>
                    {{ mail.created_at }}<br />
                    Verzögert: {{ mail.mail_delay_seconds }}s
                </td>
                <td style="font-size: 10px;">
                    {{ mail.mail | nl2br }}
                </td>
                <td style="font-size: 10px;">
                    {{ mail.mail_text | nl2br }}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Keine Mails vorhanden</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div>