title = "Firemon 112"
description = "Firemon 112 - die Einsatzmonitor PWA ;-)"
url = "/monitor"
layout = "monitor"
is_hidden = 0

[monitorComponent]
==
{% put scripts %}
<script>
    let version = '{{ version }}';
    let gmapLoaded = false;
    function setGmapLoaded() {
        gmapLoaded = true;
    }
    let injectToken = '{{ injectToken }}';
    let setupExternalToken = '{{ setupExternalToken }}';
    let injectAlert = parseInt('{{ injectAlert }}',10);
    let injectClientType = '{{ injectClientType }}';
    let aws_polly_identity_pool_id = '{{ aws_polly_identity_pool_id }}';
    let accu_weather_api_key = '{{ accu_weather_api_key }}';
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=setGmapLoaded"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
<script src="{{ 'assets/javascript/monitor.js'|theme }}?{{ random() }}"></script>
{% endput %}
<div class="row dark-row">
    <div id="alert-triggered" class="col-xs-8 col-sm-4">Loading... </div>
    <div id="alert-stichwort" class="col-xs-4 col-sm-4 text-center">Loading...</div>
    <div id="monitor-clock" class="col-xs-12 col-sm-4 hidden-xs text-right hidden-print">Loading... </div>
</div>
<div id="stichwort" class="row text-center"></div>
<div id="information" class="row text-center"></div>
<div id="details-holder" class="row">
    <div id="details" class="col-lg-4">
        <div class="row">
            <div id="einsatzort" class="col-xs-12 col-sm-6 col-print-8"></div>
            <div id="einsatzdetails" class="col-xs-12 col-sm-6 col-print-4">
                <div id="bma_plan_holder"></div>
            </div>
        </div>
        <div class="row">
            <div id="mak" class="col-xs-12 col-sm-6"></div>
            <div class="col-xs-12 col-sm-6">
                <div id="feedback" class="hidden-print"></div>
            </div>
        </div>
    </div>
    <div id="route-holder" class="col-lg-4 col-sm-6 hidden-print">
        <div id="route-distance-info" class="map-ol map-ol-bl"></div>
        <div id="route-duration-info" class="map-ol map-ol-br"></div>
        <div id="route"></div>
    </div>
    <div id="map-holder" class="col-lg-4 col-sm-6 hidden-print">
        <div id="map-weather-info" class="map-ol map-ol-bl"></div>
        <div id="map-wind-info" class="map-ol map-ol-br"></div>
        <div id="map"></div>
    </div>
</div>
<div class="row">
    <div id="routePrint" class="col-print-6 text-right visible-print">
        <img id="routePrintImg" crossOrigin="Anonymous" />
    </div>
    <div id="mapPrint" class="col-print-6 text-left visible-print">
        <img id="mapPrintImg" crossOrigin="Anonymous" />
    </div>
</div>
<div class="row" id="objekt-doku"></div>
<div class="row">
    <div id="gefahrenmatrix" class="col-lg-12 text-center visible-print"><img src="{{ 'assets/images/gefahrenmatrix-comp.png'|theme }}" alt="Gefahrenmatrix" /></div>
</div>
<div class="row dark-row">
    <div id="credits" class="col-xs-12 col-sm-6 text-left hidden-print">Firemon 112</div>
    <div id="monitor-ident" class="col-xs-12 col-sm-6 text-right hidden-print">Loading... </div>
</div>
<div id="multi-alert-holder">
    <div id="multi-alert-box">
    </div>
    <div id="multi-alert-fab" class="f112-icon f112-bell">
        <div class="multi-alert-pill">0</div>
    </div>
</div>