title = "News"
url = "/news/:year?"
layout = "default"
submenuPartial = 'submenu/events'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_events"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\News;
use Carbon\Carbon;
function onStart() {
    $this['year'] = intval($this->param('year', date('Y')));
    $this['news'] = $this->station->news()->byYear($this['year'])->get();
}

==
<h2>News</h2>
<p>
    News werden im Wachendisplay und in der App angezeigt.
</p>
<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <p class="year-picker"><a href="{{ 'news'|page({ year: year-1 }) }}" class="btn btn-firemon-grey">&lt;</a> {{ year }} <a href="{{ 'news'|page({ year: year+1 }) }}"  class="btn btn-firemon-grey">&gt;</a> </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <a href="{{ 'news-edit'|page({ news_id: 0 }) }}" class="btn btn-default m-t-md">News hinzufügen</a>
    </div>
</div>
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Typ</th>
            <th scope="col">Inhalt</th>
            <th scope="col">Von</th>
            <th scope="col">Bis</th>
            <th scope="col">Kategorie</th>
        </tr>
        </thead>
        <tbody>
        {% if news %}
        {% for news_item in news %}
            <tr>
                <td>
                    {% if news_item.isVisible %}
                        <i class="icon-circle color-green"></i>
                    {% else %}
                        <i class="icon-circle color-red"></i>
                    {% endif %}
                </td>
                <td>{%if news_item.isImage %}<i class="icon icon-picture"></i>{% else %}<i class="icon icon-font"></i>{% endif %}</td>
                <th scope="row">
                    {% if news_item.isPrioHigh %}<span style="color: red; font-weight: bold;">!</span>{% endif %}
                    <a href="{{ 'news-edit'|page({ news_id: news_item.id }) }}">{{ news_item.content|length > 50 ? news_item.content|slice(0, 50) ~ '...' : news_item.content  }}</a>
                </th>
                <td>{{ news_item.visibleFromFormatted }}</td>
                <td>{{ news_item.visibleToFormatted }}</td>
                <td>{{ news_item.categoryReadable }}</td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">Keine News vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>