title = "Zugriff nicht erlaubt"
url = "/not-allowed"
layout = "default"
==
<div class="container">
    <div class="row">
        <h1>Zugriff nicht erlaubt!</h1>
        {% if user %}
            <p>Es fehlen die notwendigen Berechtigungen um diese Seite anzusehen.</p>
        {% else %}
            <p>Diese Seite ist nur für angemeldete Benutzer verfügbar.</p>
            <a href="/account" class="btn-default">Zum Login</a>
        {% endif %}
    </div>
</div>

