title = "Notification Einstellungen"
url = "/notifications"
layout = "default"
submenuPartial = 'submenu/account'

[firemonSession]
security = "user"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;

function onStart() {
    $this['USER_NOTIFICATION_ALLOW_ALERT_PUSH'] = Helper::$USER_NOTIFICATION_ALLOW_ALERT_PUSH;
    $this['USER_NOTIFICATION_ALLOW_EVENTS_EMAIL'] = Helper::$USER_NOTIFICATION_ALLOW_EVENTS_EMAIL;
    $this['USER_NOTIFICATION_ALLOW_EVENTS_PUSH'] = Helper::$USER_NOTIFICATION_ALLOW_EVENTS_PUSH;
    $this['USER_NOTIFICATION_ALLOW_NEWS_PUSH'] = Helper::$USER_NOTIFICATION_ALLOW_NEWS_PUSH;
    $this['USER_NOTIFICATION_ALLOW_TRAINING_PUSH'] = Helper::$USER_NOTIFICATION_ALLOW_TRAINING_PUSH;
    $this['USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS'] = Helper::$USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS;
    $this['USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS'] = Helper::$USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS;
    $this['USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS'] = Helper::$USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS;
    $this['USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS_LABELS'] = Helper::$USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS_LABELS;

    if ($this['user_notification_settings']===null) {
        $this['user_notification_settings'] = Helper::GetUserNotificationSettings($this->user);
    }
}

function onSaveSettings() {
    try {
        $user = Helper::GetFeUser();

        if ($user === null) {
            throw new Exception("Keine Berechtigung");
        }

        $settings = Helper::GetUserNotificationSettings($user);
        $settings[Helper::$USER_NOTIFICATION_ALLOW_ALERT_PUSH] = boolval(post(Helper::$USER_NOTIFICATION_ALLOW_ALERT_PUSH));
        $settings[Helper::$USER_NOTIFICATION_ALLOW_EVENTS_EMAIL] = boolval(post(Helper::$USER_NOTIFICATION_ALLOW_EVENTS_EMAIL));
        $settings[Helper::$USER_NOTIFICATION_ALLOW_EVENTS_PUSH] = boolval(post(Helper::$USER_NOTIFICATION_ALLOW_EVENTS_PUSH));
        $settings[Helper::$USER_NOTIFICATION_ALLOW_NEWS_PUSH] = boolval(post(Helper::$USER_NOTIFICATION_ALLOW_NEWS_PUSH));
        $settings[Helper::$USER_NOTIFICATION_ALLOW_TRAINING_PUSH] = boolval(post(Helper::$USER_NOTIFICATION_ALLOW_TRAINING_PUSH));

        $submittedPushIntervals = post(Helper::$USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS);
        $submittedEmailIntervals = post(Helper::$USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS);

        if (is_array($submittedPushIntervals)) {
            $submittedPushIntervals = array_map('intval', $submittedPushIntervals);
        } else {
            $submittedPushIntervals = [];
        }

        if (is_array($submittedEmailIntervals)) {
            $submittedEmailIntervals = array_map('intval', $submittedEmailIntervals);
        } else {
            $submittedEmailIntervals = [];
        }

        $settings[Helper::$USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS] = array_intersect($submittedPushIntervals, Helper::$USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS);
        $settings[Helper::$USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS] = array_intersect($submittedEmailIntervals, Helper::$USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS);


        Helper::SaveUserNotificationSettings($user, $settings);
        Flash::success("Einstellungen gespeichert");
        return Redirect::refresh();
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}
==
<h1>Notification Einstellungen</h1>

{% if user %}
    {{ form_open({'request': 'onSaveSettings'}) }}

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label(USER_NOTIFICATION_ALLOW_ALERT_PUSH, 'App-Push bei Alarm') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_checkbox(USER_NOTIFICATION_ALLOW_ALERT_PUSH, '1', user_notification_settings[USER_NOTIFICATION_ALLOW_ALERT_PUSH], { id: USER_NOTIFICATION_ALLOW_ALERT_PUSH }) }} &nbsp; {{ form_label(USER_NOTIFICATION_ALLOW_ALERT_PUSH, 'erlauben') }}
        </div>
    </div>

    <hr>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label(USER_NOTIFICATION_ALLOW_TRAINING_PUSH, 'App-Push bei neuen Lehrgängen') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_checkbox(USER_NOTIFICATION_ALLOW_TRAINING_PUSH, '1', user_notification_settings[USER_NOTIFICATION_ALLOW_TRAINING_PUSH], { id: USER_NOTIFICATION_ALLOW_TRAINING_PUSH }) }} &nbsp; {{ form_label(USER_NOTIFICATION_ALLOW_TRAINING_PUSH, 'erlauben') }}
        </div>
    </div>

    <hr>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label(USER_NOTIFICATION_ALLOW_NEWS_PUSH, 'App-Push bei Neuigkeiten') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_checkbox(USER_NOTIFICATION_ALLOW_NEWS_PUSH, '1', USER_NOTIFICATION_ALLOW_NEWS_PUSH, { id: USER_NOTIFICATION_ALLOW_NEWS_PUSH }) }} &nbsp; {{ form_label(USER_NOTIFICATION_ALLOW_NEWS_PUSH, 'erlauben') }}
        </div>
    </div>

    <hr>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label(USER_NOTIFICATION_ALLOW_EVENTS_PUSH, 'App-Push Erinnerung bei Terminen und Events') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_checkbox(USER_NOTIFICATION_ALLOW_EVENTS_PUSH, null, user_notification_settings[USER_NOTIFICATION_ALLOW_EVENTS_PUSH]) }} &nbsp; {{ form_label(USER_NOTIFICATION_ALLOW_EVENTS_PUSH, 'erlauben') }}
            <hr class="m-y-xs">
            {% for key, interval in USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS %}
                {{ form_checkbox(USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS~'[]', interval, interval in user_notification_settings[USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS], { id: USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS~interval } ) }} &nbsp; {{ form_label(USER_NOTIFICATION_EVENTS_REMINDER_PUSH_INTERVALS~interval, USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS_LABELS[key] ~ ' vorher') }}<br />
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label(USER_NOTIFICATION_ALLOW_EVENTS_EMAIL, 'E-Mail Erinnerung bei Terminen und Events') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_checkbox(USER_NOTIFICATION_ALLOW_EVENTS_EMAIL, null, user_notification_settings[USER_NOTIFICATION_ALLOW_EVENTS_EMAIL]) }} &nbsp; {{ form_label(USER_NOTIFICATION_ALLOW_EVENTS_EMAIL, 'erlauben') }}
            <hr class="m-y-xs">
            {% for key, interval in USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS %}
            {{ form_checkbox(USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS~'[]', interval, interval in user_notification_settings[USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS], { id: USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS~interval }) }} &nbsp; {{ form_label(USER_NOTIFICATION_EVENTS_REMINDER_EMAIL_INTERVALS~interval, USER_NOTIFICATION_EVENTS_REMINDER_POSSIBLE_INTERVALS_LABELS[key] ~ ' vorher') }}<br />
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {{ form_submit('Speichern') }}
        </div>
    </div>

    {{ form_close() }}

{% endif %}