title = "Mitmachen"
url = "/onboarding"
layout = "default"
is_hidden = 0
==
<?php
use pm\Firemon112\Models\Leitstelle;
use pm\Firemon112\Models\InterestedStation;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Settings;

function onStart() {
    $this['leitstellen'] = Leitstelle::getLeitstellenOptions();
    $this['station_types'] = InterestedStation::getStationTypeOptions();
    $this['recaptcha_enabled'] = Settings::get('recaptcha-enabled');
}

function onSaveForm() {
    try {
        if (floatval(post('long')) < 5.0
            || floatval(post('long')) > 17.0
            || floatval(post('lat')) < 46.0
            || floatval(post('lat')) > 55.0) {
            throw new Exception("Es wurde kein Gerätehausstandort festgelegt.");
        }
        $is = InterestedStation::create([
            'station_name' => post('station_name'),
            'contact_person' => post('contact_person'),
            'email' => post('email'),
            'long' => floatval(post('long')),
            'lat' => floatval(post('lat')),
            'leitstelle_id' => intval(post('leitstelle_id')),
            'station_type' => post('station_type'),
            'status' => InterestedStation::$STATUS_NEW,
            'comment' => post('comment'),
        ]);
        if ($is !== null) {
            Flash::success("Formular erfolgreich versendet!");
            return Redirect::to('onboarding-thanks');
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}
?>
==
{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    var map;
    var marker;
    var lonlat;

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    function initMap() {
        lonlat = new google.maps.LatLng(51.24941851939148,10.38078401388287);
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 5,
            center: lonlat,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            styles: styles["default"],
            tilt: 0,
            fullscreenControl: true
        });

        marker = new google.maps.Marker({
            position: lonlat,
            map: map
        });

        updatePositionLonLat(lonlat);

        map.addListener('click', function(event) {
            updatePositionLonLat(event.latLng);
            marker.setPosition(event.latLng);
        });

    }

    function updatePositionLonLat(lonlat) {
        console.log(lonlat);
        $('input[name="long"]').val(lonlat.lng());
        $('input[name="lat"]').val(lonlat.lat());
        $('#lb_long').text(lonlat.lng().toFixed(6));
        $('#lb_lat').text(lonlat.lat().toFixed(6));
    }

</script>
{% endput %}

<div class="container">
    <h2>Testzugang anfordern</h2>
<p>
    Der Testzugang ist kostenlos und unverbindlich. Nach kurzer Prüfung wird der Testzugang in der Regel innerhalb von 24 Stunden bereit gestellt.<br />
    Nach ca. 4 Wochen erfolgt eine Nachfrage, dann sollte die Entscheidung "für oder gehen" Firemon 112 auch bald fallen ;-)
</p>
    {{ form_open({'request': 'onSaveForm', id: 'onboardingForm'}) }}
    {% if recaptcha_enabled %}
    {{ secureReCaptchaScript('onboardingForm', false) }}
    {% endif %}
    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('contact_person', 'Ansprechpartner *') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_text('contact_person', post('contact_person') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('email', 'Kontakt E-Mail *') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_text('email', post('email') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('station_name', 'Feuerwehr Bezeichnung*') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_text('station_name', post('station_name') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('leitstellen', 'Leitstelle *') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_select('leitstelle_id', leitstellen, post('leitstelle_id'), {'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('station_type', 'Organisationsebene *') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_select('station_type', station_types, post('station_type'), {'class':'form-control'}) }}
        </div>
    </div>

    <h4>Gerätehaus Position*</h4>
    <div id="map" class="responsive_map"></div>
    <div class="text-center">
        <p>Bitte Gerätehaus Position präzise wählen, da sie den Startpunkt der Routenplanung darstellt.</p>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('coords', 'Koordinaten') }}: <span id="lb_long">0.0</span> / <span id="lb_lat">0.0</span>
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_hidden('long') }} {{ form_hidden('lat') }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('comment', 'Fragen / Anmerkungen') }}
        </div>
        <div class="col-sm-12 col-lg-6">
            {{ form_textarea('comment', post('comment'), {'rows':'5', 'class':'form-control'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {% if recaptcha_enabled %}
            {{ secureReCaptchaButton('Absenden', 'btn btn-default') }}
            {% else %}
            {{ form_submit('Absenden') }}
            {% endif %}
        </div>
    </div>

    {{ form_close() }}
</div>