title = "Mitmachen"
url = "/onboarding-thanks"
layout = "default"
is_hidden = 0
==
<div class="container">
    <h2>Vielen Dank für Dein Interesse an Firemon 112</h2>
    <p>
        Die von Dir angegebenen Daten sind eingegangen - nach kurzer Prüfung wird Dir der Testaccount meist innerhalb von 24 Stunden zur Verfügung gestellt.
    </p>
    <p>
        Eine Kopie der angegebenen Daten wurde Dir per Mail zugesendet.
    </p>
</div>