title = "Dienstpläne"
url = "/presences/:year?"
layout = "default"
submenuPartial = 'submenu/dienstplan'

[firemonSession]
security = "user"
groupFlags[] = "is_role_presence"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Presence;
use Carbon\Carbon;

function onStart() {
    $this['year'] = intval($this->param('year', date('Y')));
    $user = Helper::GetFeUser();
    $this['presences'] = $this->station->presences()->byYear($this['year'])->get();
}

==
<div class="row m-b-sm">
    <div class="col-sm-12">
        <h1>Dienstpläne</h1>
        <p>Diese Funktion befindet sich aktuell in der Testphase und steht nicht im vollen Umfang zur Verfügung!</p>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <p class="year-picker"><a href="{{ 'presences'|page({ year: year-1 }) }}" class="btn btn-firemon-grey">&lt;</a> {{ year }} <a href="{{ 'presences'|page({ year: year+1 }) }}"  class="btn btn-firemon-grey">&gt;</a> </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <a href="{{ 'presence-edit'|page({ presence_id: 0 }) }}" class="btn btn-default m-t-md">Dienstplan hinzufügen</a>
    </div>
</div>
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Von</th>
            <th scope="col">Bis</th>
            <th scope="col">Kategorie</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% if presences %}
        {% for presence_item in presences %}
        <tr>
            <td>
                {% if presence_item.isVisible %}
                <i class="icon-circle color-green"></i>
                {% else %}
                <i class="icon-circle color-red"></i>
                {% endif %}
            </td>
            <td>{{ presence_item.visibleFromFormatted }}</td>
            <td>{{ presence_item.visibleToFormatted }}</td>
            <td>{{ presence_item.categoryReadable }}</td>
            <td><a href="{{ 'presence-edit'|page({ presence_id: presence_item.id }) }}">ändern</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">Keine Dienstpläne vorhanden</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>