title = "Dienstplan Kategorien"
url = "/presence-categories"
layout = "default"
submenuPartial = 'submenu/dienstplan'

[firemonSession]
security = "user"
groupFlags[] = "is_role_presence"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\CustomSettings;
use pm\Firemon112\Models\Presence;

function onStart() {
    $this['categories'] = Presence::getCategoryOptions();
}

function onSaveCategories() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_PRESENCE)) {
            throw new Exception("Keine Berechtigung");
        }

        $input_cats = post('categories');
        $cats = [];
        if (is_array($input_cats)) {
            foreach ($input_cats as $cat) {
                if (strlen($cat) <= 0) {
                    continue;
                }
                $key = md5($cat); // we can use weak hash here - no security concerns
                $cats[$key] = $cat;
            }
        }
        if (count($cats)>0) {
            $fill = [
                'settings_key' => CustomSettings::$KEY_PRESENCE_CATEGORIES,
                'settings_payload' => $cats
            ];
            $setting = $station->settings->where(CustomSettings::$SETTINGS_KEY, CustomSettings::$KEY_PRESENCE_CATEGORIES)->first();

            if ($setting == null) {
                $setting = CustomSettings::create($fill);
                $station->settings()->add($setting);
                $station->save();
            } else {
                $setting->fill($fill);
                $setting->save();
            }
            Flash::success("Kategorien gespeichert");
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
    return Redirect::refresh();
}

==
{% put scripts %}
<script>
    $(document).on('click', '.remove', function() {
        $(this).closest('.form-group').remove();
    });

    $("#addRow").click(function () {
        var html = '';
        html += '<div class="form-group">';
        html += '<div class="input-group">';
        html += '<input type="text" name="categories[]" class="form-control" placeholder="Kategoriebezeichnung">';
        html += '<div class="input-group-btn">';
        html += '<button class="btn btn-firemon remove" type="button"><i class="icon-minus"></i> Entfernen</button>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
    });
</script>
{% endput %}
<div class="row m-b-sm">
    <div class="col-sm-12">
        <h1>Dienstplan Kategorien</h1>
        <p>Dienstpläne können einer Kategorie zugeordnet werden - dies erlaubt die gleichzeitige Anzeige verschiedener Dienstpläne im Wachendisplay.</p>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-md-6 col-md-offset-3">

        {{ form_open({'request': 'onSaveCategories'}) }}

        {% if categories %}
            {% for cat in categories %}
            <div class="form-group" id="inputFormRow">
                <div class="input-group">
                    <input type="text" name="categories[]" class="form-control" placeholder="Kategoriebezeichnung" value="{{ cat }}">
                    <div class="input-group-btn">
                        <button class="btn btn-firemon remove" type="button"><i class="icon-minus"></i> Entfernen</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div id="newRow"></div>
        <button id="addRow" type="button" class="btn btn-firemon-grey"><i class="icon-plus"></i> Kategorie hinzufügen</button>

        <hr>
        <div class="col-sm-12 text-center">
            {{ form_submit('Speichern') }}
        </div>

        {{ form_close() }}
    </div>
</div>