title = "Firemon 112 News"
description = "News content für public"
url = "/public-news/:news_id?"
layout = "default"
is_hidden = 0

==
<?php

use pm\Firemon112\Models\News;

function onStart() {
    $this['news'] = null;
    $this['news_item'] = null;
    $news_id = intval($this->param('news_id'));
    $allNews = News::general()->active();
    $this['news'] = $allNews->get();
    if ($news_id > 0) {
        $this['news_item'] = $allNews->find($news_id);
    } else {
        $this['news_item'] = $allNews->first();
    }
}
?>
==
<div class="container">
    <h1>Firemon 112 News</h1>
    <div class="row m-b-sm">
        <div class="col-xs-12 col-lg-4">
            {% partial 'news/news_list' newsItems=news %}
        </div>
        <div class="col-xs-12 col-lg-8">
            {% if news_item %}
            {% partial 'news/news_detail' newsItem=news_item %}
            {% endif %}
        </div>
    </div>
</div>