title = "Push-Tokens"
url = "/pushtokens"
layout = "default"
submenuPartial = 'submenu/account'

[firemonSession]
security = "user"
redirect = "not-allowed"
==
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\AlertDispatchJob;
use pm\Firemon112\Models\Pushtoken;
use Carbon\Carbon;

public function onTestToken() {
    $user = Helper::GetFeUser();
    if ($user == null) {
        throw new Exception("Login Kontext ungültig!");
    }
    $token = $user->pushtokens->find(intval(post('token_id')));
    if ($token == null) {
        throw new Exception("Token nicht gefunden!");
    }
    $d = AlertDispatchJob::create([
        'alert_id' => 0,
        'dispatch_type' => AlertDispatchJob::$type_PUSH,
        'payload' => [
            'origin' => $user->station->token, // TODO: Maybe dynymic in future?
            'reason' => "TEST-ALARM",
            'message' => "Dies ist eine Test-Alarmierung...",
            'recipients' => [$token->token],
            'data' => ["screen" => "Alerts"],
            'token_type' => $token->token_type,
            'topic' => Pushtoken::$TOKEN_TOPIC_ALERT
        ],
        'dry_run' => false
    ]);
    \Queue::push('\pm\Firemon112\Jobs\DispatchAlert', ['alert_dispatch_job_id' => $d->id],'low');
    Flash::success("Test-Push erzeugt");
    return Redirect::refresh();
}

public function onDeleteToken() {
    $user = Helper::GetFeUser();
    if ($user == null) {
        throw new Exception("Login Kontext ungültig!");
    }
    $token = $user->pushtokens->find(intval(post('token_id')));

    if ($token == null) {
        throw new Exception("Token nicht gefunden!");
    }
    $token->delete();
    return Redirect::refresh();
}
==
{% put scripts %}
<script>
    $(window).on('ajaxErrorMessage', function(event, message){
        $('#account-error').show();
        $('#account-error').text(message);

        // This will stop the default alert() message
        event.preventDefault();

    });
</script>
{% endput %}
<div class="alert alert-error" id="account-error" style="display:none;"></div>
{% if user %}
<div class="page-header">
    <h2>Push-Tokens</h2>
    <p>
        Hier werden alle Deine Push-Tokens aufgelistet, die für die App-Push Funktion eingesetzt werden. Bei Verlust Deines Handys kannst Du das zugehörige Token hier entfernen um Push Benachrichtigungen an dieses Gerät zu deaktivieren. Außerdem kannst Du hier Test-Pushnachrichten versenden um den korrekten Erhalt auf Deinem Handy zu testen.
    </p>
</div>

<div style="overflow-x:auto;" id="user_push_tokens">
    {% partial "user_push_tokens" tokens=user.pushtokens %}
</div>

{% endif %}