title = "Account Registrieren"
url = "/register"
layout = "default"

==
use pm\Firemon112\Models\Helper;
use RainLab\User\Models\User;
use pm\Firemon112\Models\Station;

function onStart() {
    //$this['identifier'] = base64_decode($this->param('identifier'));
}

function onRegister() {
    try {
        $name = post('name');
        $surname = post('surname');
        $email = strtolower(post('email'));
        $mobile = post('alert_sms');
        $station_pin = intval(post('registration_pin'));

        if (strlen($name)<=0) {
            throw new \Exception("Vorname fehlt");
        }
        if (strlen($surname)<=0) {
            throw new \Exception("Nachname fehlt");
        }
        if (strlen($email)<=0) {
            throw new \Exception("E-Mail fehlt");
        }
        if ($station_pin<=0) {
            throw new \Exception("Wehr-PIN fehlt");
        }
        $user = User::where('email', $email)->first();
        if ($user != null) {
            throw new \Exception("Benutzer existiert bereits - Passwort vergessen?");
        }
        $station = Station::where('registration_pin',$station_pin)->first();
        if ($station == null) {
            throw new \Exception("Wehr nicht gefunden");
        }
        $frontenduser = Helper::CreateFrontendUser($name, $surname, $email, $station->id, true);
        if ($frontenduser == null) {
            throw new \Exception("Benutzer konnte nicht erstellt werden.");
        }
        $frontenduser->allow_app_usage = 1;
        if (strlen($mobile) > 0) {
            $frontenduser->alert_sms = $mobile;
            $frontenduser->trigger_alert_sms = 1;
        }
        $frontenduser->save();
        Helper::SendUserRegisteredMailToAdmins($frontenduser);
        Flash::success("Registrierung erfolgreich!");
        return Redirect::to('register-success');
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

==
<div class="container">
    <h2>Account Registrieren</h2>
    <p>
        Du benötigt für eine erfolgreiche Registrierung die "Wehr-PIN" Deiner Heimatwehr - ohne diese PIN ist eine Registrierung leider nicht möglich. Die Angabe Deiner Handynummer ist u.A. für den Versand von SMS erforderlich, aber trotzdem freiwillig.
    </p>
    {{ form_open({'data-request': 'onRegister', 'data-request-flash':''}) }}

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('name', 'Vorname', {'class':'is-required'}) }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('name', post('name') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('surname', 'Nachname', {'class':'is-required'}) }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('surname', post('surname') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('email', 'E-Mail Adresse', {'class':'is-required'}) }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('email', post('email') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('alert_sms', 'Handy-Nummer') }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('alert_sms', post('alert_sms') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('registration_pin', 'Wehr-PIN', {'class':'is-required'}) }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('registration_pin', post('registration_pin') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {{ form_submit('Registrieren') }}
        </div>
    </div>

    {{ form_close() }}

</div>