title = "Registrierung erfolgreich"
url = "/register-success"
layout = "default"
is_hidden = 0
==
<div class="container">
    <h2>Registrierung erfolgreich!</h2>
    <p>
        Es wurde eine Aktivierungsmail versendet - bitte klicke den hier enthaltenen Aktivierungslink - Du bist dann direkt eingeloggt und kannst Firemon 112 nutzen. Denke dran Dein Passwort alsbald zu ändern.
    </p>
</div>