title = "Rettungspunkte"
url = "/rescuepoints"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
<?php
function onStart() {
    $this['pointsDB'] = $this->station->rescuepoints ?? [];
    $this['station_lat'] = $this->station->lat ?? 0.0;
    $this['station_long'] = $this->station->long ?? 0.0;
    $rps_paginated = $this->station->rescuepoints()->withCount(['files','contacts'])->orderBy('name', 'asc')->orderBy('created_at', 'desc')->paginate(50);
    $this['rps_paginated'] = $rps_paginated;
}
?>
==
{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    let map;
    let pointsDB;
    let markerDB;

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    function initMap() {
        pointsDB = JSON.parse('{{ pointsDB|json_encode|escape('js') }}');
        console.log(pointsDB);
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: new google.maps.LatLng({{ station_lat }},{{ station_long }}),
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            tilt: 0,
            fullscreenControl: true,
            styles: styles["default"],
        });
        calcMarker();
        drawMarker(map.zoom);

        map.addListener("zoom_changed", () => {
            const zoom = map.getZoom();

            if (zoom) {
                drawMarker(map.zoom);
            }
        });
    }

    function calcMarker() {
        markerDB = [];
        if (pointsDB.length > 0) {
            pointsDB.forEach(function(point) {
                console.log(point);
                let marker = new google.maps.Marker({
                    position: new google.maps.LatLng(point.lat,point.long),
                    map: map,
                    icon: point.img_small,
                    zoom_threshold: 18,
                    img_big: point.img_big,
                    img_small: point.img_small
                });
                var contentString = '<div id="gmap_info">'+
                    '<h2>' + point.type_readable + ' ' + point.name + '</h2>'+
                    '<div id="content">'+
                    (point.is_emergencyshelter ? '<p><b>Notunterkunft</b></p>' : '')+
                    (point.is_contacttpoint ? '<p><b>Anlaufstelle</b></p>' : '')+
                    (point.note.length > 0 ? '<p>' + point.note + '</p>' : '')+
                    '</div>'+
                    '</div>';
                let infowindow = new google.maps.InfoWindow({
                    content: contentString //"<b>" + point.type_readable + "</b><br />" + point.name
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
                markerDB.push(marker);
            });
        }
    }

    function drawMarker(zoom) {
        markerDB.forEach(function(item, index, array) {
            if (zoom >= array[index].zoom_threshold) {
                array[index].setIcon(array[index].img_big);
            } else {
                array[index].setIcon(array[index].img_small);
            }
        });
    }

    function centerMap(lon, lat) {
        map.setCenter(new google.maps.LatLng(lat, lon));
    }
</script>
{% endput %}
<h2>Rettungspunkte</h2>

{% if station %}
<div id="map" class="responsive_map"></div>
<div class="text-center">
    <p><a href="{{ 'rescuepoint-edit'|page({ rescuepoint_id: 0 }) }}" class="btn btn-default">Rettungspunkt hinzufügen</a></p>
</div>
{% endif %}
<div style="overflow-x:auto;">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Typ</th>
        <th scope="col">Dateien</th>
        <th scope="col">Kontakte</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if rps_paginated %}
        {% for rp in rps_paginated %}
            <tr>
                <td><img src="{{ rp.img_big }}" width="24" height="24" /> <a href="{{ 'rescuepoint-edit'|page({ rescuepoint_id: rp.id }) }}">{{ rp.name }}</a></td>
                <td>
                    {{ rp.type_readable }}
                    {% if rp.is_emergencyshelter %}
                    <span class="group_pill">Notunterkunft</span>
                    {% endif %}
                    {% if rp.is_contactpoint %}
                    <span class="group_pill">Anlaufstelle</span>
                    {% endif %}
                </td>
                <td>{{ rp.files_count }}</td>
                <td>{{ rp.contacts_count }}</td>
                <td><button onclick="centerMap({{rp.long}}, {{rp.lat}});" class="btn btn-firemon-tiny" title="Lokalisieren"><i class="f112-icon f112-crosshairs-gps" style="line-height: inherit"></i></button></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">Keine Rettungspunkte vorhanden</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div>

<div class="row m-b-sm">
    <div class="col-xs-12 text-center pagination-m-0">
        {{ rps_paginated.render|raw }}
    </div>
</div>