title = "Schleifen Zuordnung"
url = "/schleifen-zuordnung"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"

==
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;
function onUpdateAlertGroups() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
            throw new Exception("Keine Berechtigung");
        }
        $feuser = $station->users->find(post('feuserid'));

        if ($feuser === null) {
            // try to find as linked user
            $feuser = $station->linked_users->find(post('feuserid'));
        }
        $togglealertgroup = intval(post('togglealertgroup'));

        if ($feuser !== null) {
            $availGroups = [];
            $memberGroups = [];
            if ($station->alertgroups) {
                $availGroups = $station->alertgroups->lists('id');
            }
            if (!in_array($togglealertgroup, $availGroups)) {
                throw new Exception('Alertgroup not part of station!');
            }

            if ($feuser->alertgroups) {
                $memberGroups = $feuser->alertgroups->lists('id');
            }
            if (in_array($togglealertgroup, $memberGroups)) {
                // Detach
                $feuser->alertgroups()->detach($togglealertgroup);
            } else {
                // Attach
                $feuser->alertgroups()->attach($togglealertgroup);
            }
            // update relations
            $feuser->load('alertgroups');
            $this['usr'] = $feuser;
            $this['stationgroups'] = $station->alertgroups;
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}
==
<h2>Schleifenzuordnung</h2>
{% if station.alertgroups|filter(v => v.enabled == false)|length > 0 %}
<p style="color: red;">
    Achtung, es werden nicht alle Schleifen angezeigt da <b>{{ station.alertgroups|filter(v => v.enabled == false)|length }} Schleifen inaktiv</b> sind!
</p>
{% endif %}
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name, Vorname</th>
            <th scope="col">Schleifen</th>
        </tr>
        </thead>
        <tbody>
        {% if station.users.count() > 0 %}
        {% for feuser in station.users|sort( (a,b) => a.surname <=> b.surname ) %}
        <tr>
            <td>{{ feuser.surname }}, {{ feuser.name }}<br />
                {% set membergroups = feuser.groups|map(item => item.id) %}
                {% for group in station.groups|filter(v=>v.isFunktion)|sort((a, b) => b.prio <=> a.prio) %}
                    {% if group.id in membergroups %}
                    <span class="mission_role_pill" style="color: {{ group.marker_color }}; border-color: {{ group.marker_color }};" title="{{group.name}}">{{ group.short_name }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <div id="alertgroups-{{ feuser.id }}">
                    {% partial "user_alertgroups" usr=feuser stationgroups=station.alertgroups %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Keine Kameraden vorhanden</td>
        </tr>
        {% endif %}
        {% if station.linked_users.count() > 0 %}
        <tr>
            <th scope="col" colspan="2">Einsatzkräfte anderer Wehren</th>
        </tr>
        <tr>
            <th scope="col">Name, Vorname</th>
            <th scope="col">Schleifen</th>
        </tr>
        {% for feuser in station.linked_users|sort( (a,b) => a.surname <=> b.surname ) %}
        <tr>
            <td>
                {{ feuser.surname }}, {{ feuser.name }}<br />
                {% set membergroups = feuser.groups|map(item => item.id) %}
                {% for group in station.groups|filter(v=>v.isFunktion)|sort((a, b) => b.prio <=> a.prio) %}
                    {% if group.id in membergroups %}
                    <span class="mission_role_pill" style="color: {{ group.marker_color }}; border-color: {{ group.marker_color }};" title="{{group.name}}">{{ group.short_name }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <div id="alertgroups-{{ feuser.id }}">
                    {% partial "user_alertgroups" usr=feuser stationgroups=station.alertgroups %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>