title = "Schleifen"
url = "/schleifen/:order?/:sort?"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"

==
<?php
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;

function onStart() {

    $this->addJs('assets/javascript/sortableTableRow.js');

    $allowedOrderBy=[
        "prio",
        "label",
    ];
    $allowedSort=[
        "asc",
        "desc"
    ];

    $orderBy = in_array($this->param('order'), $allowedOrderBy) ? $this->param('order') : $allowedOrderBy[0]; // prio is default
    $sort = in_array($this->param('sort'), $allowedSort) ? $this->param('sort') : $allowedSort[1]; // desc sort is default

    $this['sort'] = $sort;
    $this['order'] = $orderBy;

    $alertgroups_query = $this->station->alertgroups()->orderBy($orderBy, $sort);
    $this['alertgroups'] = $alertgroups_query->get();

}

function onUpdateSortOrder()
{
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
            throw new Exception("Keine Berechtigung");
        }
        $sortOrders = post('sortOrder');

        foreach ($sortOrders as $arrPos => $group_id) {
            $group = $station->alertgroups()->where('id', intval($group_id))->first();
            $group->prio = 99-$arrPos; // prio is always desc - but we get new positions asc
            $group->save();
        }
        return Redirect::refresh();
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}
?>
==
{% put scripts %}
<script>
    $(function(){
        $("*[data-show-users]").on('click',(evt) => {
            $("."+evt.currentTarget.dataset.showUsers).toggle();
        });
    });
</script>
{% endput %}
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>Schleifen</h1>
    </div>
    <div class="col-sm-3 col-xs-12 text-right">
        {% if station %}
        <p><a href="{{ 'schleife-edit'|page({ alertgroup_id: 0 }) }}" class="btn btn-default m-t-md">Schleife hinzufügen</a></p>
        {% endif %}
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon icon-question-sign"></i> Hinweise zur Sortierung
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="m-b-sm">
                    <p>
                        Die Alarmierung der Kameraden erfolgt in der definierten Reihenfolge der Schleifen von oben nach unten (die Reihenfolge kann per Drag and Drop über das Icon links neben der Schleifenbezeichnung geändert werden).
                        Kommt ein Kamerad in einer weiteren Schleife vor, so wird er dort übersprungen, um Doppelalarmierungen zu verhindern. Somit erhält der Kamerad immer diejenige Alarmierung und denjenigen Alarm-Text aus der alarmierten Schleife mit der höchsten Sortierung.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="overflow-x:auto;">
<table class="table" id="sortableTable">
    <thead>
    <tr>
        <th scope="col">Name <a href="{{ 'schleifen'|page({ 'order': 'label', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}{{ filter|length > 0 ? '?filter=' ~ filter : '' }}" style="{{ order == 'label' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Einsatzkräfte</th>
        <th scope="col">Auslösewege</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% if alertgroups %}
    {% for group in alertgroups %}
    {% set group_count = group.groups.count %}
    <tr data-id="{{ group.id }}">
        <td class="sortHandle"><a href="{{ 'schleife-edit'|page({ alertgroup_id: group.id }) }}">{{ group.label }}</a></td>
        <td>
            <button class="btn btn-firemon-tiny" title="Einsatzkräfte einblenden" data-show-users="users-{{ group.id }}"><i class="icon-user"></i></button> {{ group.related_users.count }}{% if group_count > 0 %}, <b>{{ group_count }}</b> Gruppen{% endif %}
            {% if group.is_dynamic_group %}
                <b>Dynamisch!</b>
            {% else %}
                {% if group.enabled and group.related_users.count <= 0 %}
                    <span class="alert-danger">Schleife hat keine Einsatzkräfte!</span>
                {% endif %}
            {% endif %}
            <div style="font-size: 0.9em; display:none;" class="users-{{ group.id }}">
                {% for grp in group.groups|sort((a,b) => a.name < b.name ? -1 : 1) %}
                <span class="group_pill"><i class="icon icon-group"></i> {{ grp.name }}</span>
                {% endfor %}
                {% for user in group.related_users|sort((a,b) => a.surname < b.surname ? -1 : 1) %}
                <span class="group_pill"><i class="icon icon-user"></i> {{ user.surname }}, {{ user.name }}</span>
                {% endfor %}
            </div>
        </td>
        <td>
            {% if group.trigger_alert_email %} <i class="f112-icon f112-mail" title="E-Mail"/> {% endif %}
            {% if group.trigger_alert_sms %} <i class="f112-icon f112-message-text" title="SMS"/> {% endif %}
            {% if group.trigger_alert_call %} <i class="f112-icon f112-phone" title="Voice-Call"/> {% endif %}
            {% if group.trigger_alert_app %} <i class="f112-icon f112-devices" title="Web / App"/> {% endif %}
        </td>
        <td>{% if group.enabled %}<span style="color: green;">aktiv</span>{% else %}<span style="color: red;">inaktiv</span>{% endif %}</td>
    </div>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">Keine Schleifen vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
<hr>
<div class="text-center m-t-lg">
    <p>Hinweis: Einsatzmonitore werden unabhängig von den Schleifen <b>immer</b> aktiviert.</p>
    <p>Um zu prüfen, ob die Schleifen im Einsatzfall korrekt erkannt werden, einfach auf die Seite <a href="{{ 'alarme'|page }}">Alarme</a> wechseln - hier wird die Schleifenerkennung zu Testzwecken angewendet und entsprechend gekennzeichnet.</p>
</div>
{% for event in foo %}
{{ event }}
{% endfor %}