title = "SMS-Login"
url = "/sms-login/:identifier?"
layout = "default"

==
use pm\Firemon112\Models\OneTimePassword;
use pm\Firemon112\Models\Helper;
use RainLab\User\Models\User;
use pm\Firemon112\Models\Settings;
use Carbon\Carbon;
use Auth;
use Event;

function onStart() {
    $this['identifier'] = base64_decode($this->param('identifier'));
    $this['recaptcha_enabled'] = Settings::get('recaptcha-enabled');
}

function onInitOtp() {
    try {
        $user = Helper::findUserByAlertSms(post('mobile_phone'));
        if ($user == null) {
            throw new \Exception("User nicht gefunden");
        }

        // set mobile phone to that number which is assigned to user
        $mobile_phone = $user->alert_sms;

        $existing = OneTimePassword::where('identifier', $mobile_phone)->where('reason',OneTimePassword::$REASON_AUTH)->pending();
        if ($existing->count() <= 0) {
            $otp_readable = OneTimePassword::getSmsPassword();
            $otp = OneTimePassword::create([
                'identifier' => $mobile_phone,
                'reason' => OneTimePassword::$REASON_AUTH,
                'otp' => OneTimePassword::getPasswordHash($otp_readable),
                'user_id' => $user->id,
                'expired_at' => Carbon::now('Europe/Berlin')->addMinutes(15)
            ]);
            \Queue::push('\pm\Firemon112\Jobs\HandleSmsOtp', ['otp_id' => $otp->id, 'otp_readable' => $otp_readable]);
        } else {
            Flash::error("Es ist ein noch nicht verwendetes, aber weiterhin gültiges Einmalpasswort vorhanden. Für ein neues Einmalpasswort muss das bestehende zunächst ablaufen.");
            return Redirect::to('sms-login/'.base64_encode($mobile_phone));
        }
        return Redirect::to('sms-login/'.base64_encode($mobile_phone));
    } catch (Exception $e) {
        Flash::error($e->getMessage());
        return Redirect::to('sms-login');
    }
}

function onLoginOtp() {
    try {
        $otp = post('otp');
        $identifier = base64_decode($this->param('identifier'));

        if (strlen($otp) <= 0) {
            throw new \Exception("Passwort fehlt");
        }

        $otp_item = OneTimePassword::where('identifier', $identifier)->where('reason',OneTimePassword::$REASON_AUTH)->pending()->first();
        if ($otp_item !== null && $otp_item->isPasswordMatching($otp) && !$otp_item->getIsExpiredAttribute() && !$otp_item->getIsUsedAttribute()) {
            $otp_item->used_at = Carbon::now('Europe/Berlin');
            $otp_item->save();
            $user = User::find($otp_item->user_id);
            if ($user !== null) {
                // activate if needed
                if (!$user->is_activated) {
                    $user->is_activated = 1;
                    $user->save();
                }
                Auth::loginUsingId($user->id);
                return Redirect::to('account-index');
            } else {
                throw new \Exception("Der Login ist fehlgeschlagen.");
            }
        } else {
            throw new \Exception("Der Login ist fehlgeschlagen.");
        }
    } catch (Exception $e) {
        Flash::error($e->getMessage());
        return Redirect::to('sms-login/'.$this->param('identifier'));
    }
}
==
<div class="container">
{% if identifier %}
    <h2>SMS-Login</h2>
    <p>
        Bitte schaue auf Dein Handy und gebe das erhaltene Einmalpasswort ein
    </p>
    {{ form_open({'request': 'onLoginOtp'}) }}

    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('otp', 'Einmal Passwort') }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('otp', post('otp') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {{ form_submit('Login') }}
        </div>
    </div>

    {{ form_close() }}
{% else %}
    <h2>SMS-Login</h2>
    <p>
        Nach Eingabe Deiner Handy-Nummer bekommst Du ein Einmalpasswort per SMS, mit dem Du Dich <b>innerhalb von 15 Minuten</b> einmalig anmelden kannst (um z.B. Dein Login-Passwort zu ändern). Nach 15 Minuten bzw. einmaligen Gebrauch ist das Passwort nicht mehr gültig.<br />
        Wichtig: Der SMS-Login funktioniert natürlich nur, wenn Deine Handynummer auch hinterlegt ist!
    </p>
    {{ form_open({'request': 'onInitOtp', id: 'initOtpForm'}) }}
    {% if recaptcha_enabled %}
    {{ secureReCaptchaScript('initOtpForm', false) }}
    {% endif %}
    <div class="row m-b-sm">
        <div class="col-sm-12 col-lg-6">
            {{ form_label('mobile_phone', 'Handy-Nummer') }}
        </div>

        <div class="col-sm-12 col-lg-6">
            {{ form_text('mobile_phone', post('mobile_phone') ,{'class':'form-control'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            {% if recaptcha_enabled %}
                {{ secureReCaptchaButton('Einmal Passwort anfordern', 'btn btn-default') }}
            {% else %}
                {{ form_submit('Einmal Passwort anfordern') }}
            {% endif %}
        </div>
    </div>

    {{ form_close() }}
{% endif %}


</div>