title = "Gruß- und Sonderobjekte"
url = "/uebungsobjekte/:order?/:sort?"
layout = "default"
submenuPartial = 'submenu/wehr'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_station"
redirect = "not-allowed"
==
<?php
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;

function onStart() {
    $allowedOrderBy=[
        "einsatzobjekt",
        "strasse",
        "ort"
    ];
    $allowedSort=[
        "asc",
        "desc"
    ];

    $page = intval(input('page'));
    $this['page'] = $page;
    $orderBy = in_array($this->param('order'), $allowedOrderBy) ? $this->param('order') : $allowedOrderBy[0];
    $sort = in_array($this->param('sort'), $allowedSort) ? $this->param('sort') : $allowedSort[0];
    $filter = strval(input('filter'));
    $this['sort'] = $sort;
    $this['order'] = $orderBy;
    $this['filter'] = $filter;

    $einsatzobjekte_query = $this->station->einsatzobjekte()->withCount(['files','contacts']);
    if (strlen($filter)>0) {
        $einsatzobjekte_query->where(function ($query) use ($filter) {
            $query->where('einsatzobjekt', 'LIKE', '%' . $filter . '%')
                ->orWhere('strasse', 'LIKE', '%' . $filter . '%')
                ->orWhere('ort', 'LIKE', '%' . $filter . '%');
        });
    }
    $einsatzobjekte_paginated = $einsatzobjekte_query->orderBy($orderBy, $sort)->paginate(50)->appends(request()->query());;
    $einsatzobjekte_index = $this->station->einsatzobjekte()->select('id', 'lat', 'long', 'einsatzobjekt', 'strasse', 'ort')->orderBy('created_at', 'desc')->get();

    $this['einsatzobjekte_paginated'] = $einsatzobjekte_paginated;
    $this['einsatzobjekte_index'] = $einsatzobjekte_index;

}
?>
==
{% put scripts %}
<script>
    const loader = new google.maps.plugins.loader.Loader({
        apiKey: "{{ google_maps_api_key }}",
        version: "weekly"
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");
        initMap();
    });

    let map, userStation, objekteDB;

    const styles = {
        default: [
            {
                featureType: "poi",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "administrative",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "transit",
                stylers: [{ visibility: "off" }],
            },
            {
                featureType: "road",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "landscape",
                stylers: [{ visibility: "on" }],
            },
            {
                featureType: "water",
                stylers: [{ visibility: "on" }],
            },
        ],
    };

    function initMap() {
        userStation = JSON.parse('{{ station|json_encode|escape('js') }}');
        objekteDB = JSON.parse('{{ einsatzobjekte_index|json_encode|escape('js') }}');

        if (userStation) {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: new google.maps.LatLng(userStation.lat, userStation.long),
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                styles: styles["default"],
                tilt: 0,
                fullscreenControl: true
            });
            drawObjekte();
        }
    }

    function drawObjekte() {
        if (objekteDB.length > 0) {
            objekteDB.forEach(function(item) {
                let marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat,item.long),
                    map: map,
                    icon: {
                    path: "M12,2C15.31,2 18,4.66 18,7.95C18,12.41 12,19 12,19C12,19 6,12.41 6,7.95C6,4.66 8.69,2 12,2M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M20,19C20,21.21 16.42,23 12,23C7.58,23 4,21.21 4,19C4,17.71 5.22,16.56 7.11,15.83L7.75,16.74C6.67,17.19 6,17.81 6,18.5C6,19.88 8.69,21 12,21C15.31,21 18,19.88 18,18.5C18,17.81 17.33,17.19 16.25,16.74L16.89,15.83C18.78,16.56 20,17.71 20,19Z",
                        fillColor: "red",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 1.25,
                        anchor: new google.maps.Point(17, 17)
                    }
                });
                let infowindow = new google.maps.InfoWindow({
                    content: "<b>"+item.einsatzobjekt+"</b><br />"+item.strasse+"<br />"+item.ort+"<br /><a href=\"uebungsobjekt-edit/"+item.id+"\">Öffnen</a>"
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
            });
        }
    }

    function centerMap(lon, lat) {
        map.setCenter(new google.maps.LatLng(lat, lon));
    }
</script>
{% endput %}
<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <h2>Groß- und Sonderobjekte</h2>
    </div>
    <div class="col-xs-12 col-sm-6 text-right m-t-md">
        <p><a href="{{ 'uebungsobjekt-edit'|page({ einsatzobjekt_id: 0 }) }}" class="btn btn-default">Groß- und Sonderobjekt hinzufügen</a></p>
    </div>
</div>
{% if station %}
<div id="map" class="responsive_map"></div>

<div class="row m-b-sm">
    <div class="col-xs-12 col-sm-6">
        <form method="get" action="">
            <input type="text" name="filter" value="{{ input('filter') }}">
            <input type="submit" value="Filtern">
        </form>
    </div>
    <div class="col-xs-12 col-sm-6 text-right pagination-m-0">
        {{ einsatzobjekte_paginated.render|raw }}
    </div>
</div>

{% endif %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name <a href="{{ 'uebungsobjekte'|page({ 'order': 'einsatzobjekt', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}{{ filter|length > 0 ? '?filter=' ~ filter : '' }}" style="{{ order == 'einsatzobjekt' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Strasse <a href="{{ 'uebungsobjekte'|page({ 'order': 'strasse', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}{{ filter|length > 0 ? '?filter=' ~ filter : '' }}" style="{{ order == 'strasse' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Ort <a href="{{ 'uebungsobjekte'|page({ 'order': 'ort', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}{{ filter|length > 0 ? '?filter=' ~ filter : '' }}" style="{{ order == 'ort' ? 'color: green;' : 'color: gray;' }}"><i class="{{ sort == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down' }}"></i></a></th>
        <th scope="col">Dateien</th>
        <th scope="col">Kontakte</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if einsatzobjekte_paginated %}
        {% for objekt in einsatzobjekte_paginated %}
            <tr>
                <th scope="row"><a href="{{ 'uebungsobjekt-edit'|page({ einsatzobjekt_id: objekt.id }) }}">{{ objekt.einsatzobjekt }}</a></th>
                <td>{{ objekt.strasse }}</td>
                <td>{{ objekt.ort }}</td>
                <td>{{ objekt.files_count }}</td>
                <td>{{ objekt.contacts_count }}</td>
                <td><button onclick="centerMap({{objekt.long}}, {{objekt.lat}});" class="btn btn-firemon-tiny" title="Lokalisieren"><i class="f112-icon f112-crosshairs-gps" style="line-height: inherit"></i></button></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">Keine Übungsobjekte vorhanden</td>
        </tr>
    {% endif %}
    </tbody>
</table>