title = "News"
description = "News content für user"
url = "/user-news/:news_id?"
layout = "default"
submenuPartial = 'submenu/account'
is_hidden = 0

[firemonSession]
security = "user"
redirect = "not-allowed"
==
<?php
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;

function onStart() {
    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();
    $this['news'] = null;
    $this['news_item'] = null;
    $news_id = intval($this->param('news_id'));
    if ($news_id > 0) {
        $this['news_item'] = $station->news()->find($news_id);
    }
    if ($this['news_item'] == null) {
        $this['news'] = $station->news()->active()->get();
    }
}
?>
==
{% if news_item %}
<div class="row m-b-sm">
    <div class="col-xs-12">
        {% partial 'news/news_detail' newsItem=news_item %}
    </div>
</div>
{% else %}
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>News</h1>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-xs-12">
        {% partial 'news/news_list' newsItems=news %}
    </div>
</div>
{% endif %}