title = "Firemon 112 e.V. - Verein"
url = "/verein"
layout = "default"
is_hidden = 0
==
<div class="container">
    <h1>Firemon 112 e.V.</h1>
    <p>
        Firemon 112 ist und bleibt gemeinnützig – für alle Zeit. Das bedeutet jedoch nicht, dass das Projekt keine Kosten verursacht.<br />
        Im Dezember 2022 haben 12 engagierte Kameradinnen und Kameraden den <b>Verein Firemon 112</b> gegründet. So soll der <b>langfristige Fortbestand</b> des Projektes, verteilt auf viele Schultern, gesichert werden. Seit dem 18.09.2024 liegt der Freistellungsbescheid vom Finanzamt Flensburg vor - damit ist Firemon 112 e.V. als <b>gemeinnütziger Verein</b> fertig gegründet.<br />
        Die Satzung sieht vor, jeder interessierten BOS-Organisation - insbesondere natürlich <b>Feuerwehren</b> - die Nutzung für Firemon 112 <b>kostenfrei</b> zu ermöglichen.
        Die laufenden Kosten sollen hierbei entweder durch eine aktive Mitgliedschaft oder alternativ auf Basis einer Spende i.H.v. 50 € pro Jahr gedeckt werden.<br />
        Je mehr Wehren Firemon 112 verwenden, desto eher trägt sich das Projekt langfristig.
    </p>
    <p>
        <b>Downloads</b><br />
        <a href="{{ "/assets/downloads/Vereinssatzung-F112-latest.pdf"|theme }}" target="_blank">Satzung Firemon 112</a><br />
        <a href="{{ "/assets/downloads/Freistellungsbescheid-F112.pdf"|theme }}" target="_blank">Freistellungsbescheid</a><br />
    </p>
    <h2>Mitglieder</h2>
    <p>
        Kontaktdaten und Fotos folgen in Kürze.
    </p>

    <h3>Erreichbarkeiten</h3>
    <p>
        <b>Vorstand</b><br />
        vorstand@firemon112.org
    </p>
    <p>
        <b>Kassenwart</b><br />
        kassenwart@firemon112.org
    </p>
    <p>
        <b>Support</b><br />
        support@firemon112.org
    </p>
    <p>
        <b>Datenschutz</b><br />
        datenschutz@firemon112.org
    </p>

    <h3>Vorstand</h3>
    <p>
        <b>Vorsitzender</b><br />
        Patrick Moldenhauer<br />
        Feuerwehr Süderbrarup
    </p>
    <p>
        <b>Stellvertretender Vorsitzender</b><br />
        Martin Knackstedt<br />
        Feuerwehr Steinfeld
    </p>
    <p>
        <b>Schriftwart</b><br />
        Jannes Nagelschmidt<br />
        Feuerwehr Norderbrarup
    </p>
    <p>
        <b>Kassenwart</b><br />
        Ralf Rieger<br />
        Privates Mitglied
    </p>

    <h3>Software Entwicklung</h3>
    <p>
        Patrick Moldenhauer<br />
        Feuerwehr Süderbrarup
    </p>
    <p>
        Jannes Nagelschmidt<br />
        Feuerwehr Süderbrarup
    </p>
    <p>
        Dein Name?<br />
        Melde dich bei uns!
    </p>

    <h3>Dokumentation</h3>
    <p>
        Christoph Wacker<br />
        Feuerwehr Norderbrarup
    </p>
    <p>
        Jannes Nagelschmidt<br />
        Feuerwehr Süderbrarup
    </p>

    <h3>Support</h3>
    <p>
        Stefan Petersen<br />
        Feuerwehr Süderbrarup
    </p>
    <p>
        Christoph Wacker<br />
        Feuerwehr Norderbrarup
    </p>
    <p>
        Patrick Moldenhauer<br />
        Feuerwehr Süderbrarup
    </p>
    <p>
        Jannes Nagelschmidt<br />
        Feuerwehr Norderbrarup
    </p>

    <h3>Spenden und Fördermittel</h3>
    <p>
        Marcel Matt<br />
        Privates Mitglied
    </p>

    <h2>Spenden</h2>
    <p>
        Der Vereinszweck von Firemon 112 e.V. ist es, BOS-Organisationen, insbesondere Feuerwehren, einen niederschwelligen Zugang zu digitalen Lösungen zu ermöglichen. Für den Fall, dass Organisationen nicht über die eigene Infrastruktur verfügen, um diese digitalen Lösungen zu betreiben, bietet Firemon 112 e.V. die Möglichkeit, seine Infrastruktur zu nutzen. Dieses Angebot soll für einen fixen Betrag von 50 € pro Jahr gewährleistet werden – unabhängig von der Art und dem Umfang der Nutzung.
    </p>
    <p>
        Aktuell kann sich der Verein jedoch noch nicht vollständig selbst tragen und ist <b>auf Spendengelder angewiesen</b>. Diese werden bislang überwiegend von Feuerwehrkameraden und Vereinsmitgliedern zusätzlich zu ihrem ehrenamtlichen Engagement bereitgestellt.
    </p>
    <p>
        Um unsere Mission weiter auszubauen und langfristig den stabilen Betrieb sowie Weiterentwicklungen unserer digitalen Lösungen sicherzustellen, sind wir auf zusätzliche Unterstützung angewiesen. Besonders Unternehmen und Firmen können einen wertvollen Beitrag leisten, indem sie unsere Arbeit finanziell fördern und damit für Werte wie Sicherheit, Gemeinwohl und Innovation eintreten.
    </p>
    <p>
        Mit Ihrer Spende leisten Sie einen entscheidenden Beitrag zur Stärkung der Einsatzkräfte und tragen dazu bei, dass innovative Lösungen flächendeckend verfügbar werden.
    </p>
    <h3>Spenden per Banküberweisung</h3>
    <p>
        Inhaber: Firemon 112 e.V.<br />
        IBAN: DE56 2175 0000 0166 5454 00<br />
        BIC: NOLADE21NOS
    </p>
    <p>
        Ab einem Spendenbetrag von 50 € erteilen wir eine steuerlich absetzbare Zuwendungsbestätigung nach § 50 Abs. 1 EStDV ("Spendenbescheinigung").
    </p>
</div>