title = "Wachendisplay hinzufügen / ändern"
url = "/wachendisplay-edit/:wachendisplay_id"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"
==
<?php
use RainLab\User\Models\User;
use pm\Firemon112\Models\Helper;
use pm\Firemon112\Models\Wachendisplay;
use pm\Firemon112\Models\Event;

function onStart() {
    $this['display'] = $this->station->wachendisplays->find($this->param('wachendisplay_id'));
    if ($this['display'] != null) {
        $this['resultingTodaysOnTimes'] = $this['display']->getTodaysSlotsTimeSeries();
    }
    $this['eventcategories'] = Event::getCategoryOptions();
    $this['weekdays'] = Wachendisplay::getWeekdayOptions();
    $this['layout_variants'] = Wachendisplay::getLayoutVariants();
    $this['modules'] = Wachendisplay::getModules();
    $this->addCss('assets/css/wachendisplay_config.css');
    $this->addJs('assets/javascript/wachendisplay_config.js');
}
function onSaveWachendisplay() {
    try {
        $user = Helper::GetFeUser();
        $station = Helper::GetFeStation();
        if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
            throw new Exception("Keine Berechtigung");
        }

        $display = $station->wachendisplays->find($this->param('wachendisplay_id'));
        if ($display === null) {
            $display = new Wachendisplay();
        }
        $display->name = post('name');
        $display->station_id = $station->id;

        $enable_eventcategories = post('enable_eventcategories');
        if (!is_array($enable_eventcategories)) {
            $enable_eventcategories = array();
        }

        $display->enable_eventcategories = $enable_eventcategories;
        $display->enable_schedule = json_decode(post('enable_schedule_json'), true);
        $display->module_layout = json_decode(post('module_layout_json'), true);

        $display->save();
        Flash::success("Wachendisplay " . $display->name . " gespeichert");
        return Redirect::to('wachendisplay');
    } catch (Exception $e) {
        Flash::error($e->getMessage());
    }
}

function onDeleteWachendisplay() {
    $user = Helper::GetFeUser();
    $station = Helper::GetFeStation();
    if ($user === null || $station === null || !Helper::userHasPermission($user, $station->id, Helper::$PERMISSION_IS_ROLE_ALERT)) {
        throw new Exception("Keine Berechtigung");
    }
    $display = $station->wachendisplays->find($this->param('wachendisplay_id'));
    foreach ($display->devices as $device) {
        $device->wachendisplay()->remove($display);
        $device->save();
    }
    $display->delete();
    Flash::success("Wachendisplay " . $display->name . " gelöscht");
    return Redirect::to('wachendisplay');
}
?>
==
{% if display %}
    <h2>Wachendisplay ändern</h2>
{% else %}
    <h2>Wachendisplay hinzufügen</h2>
{% endif %}
{% if station %}
{% if display %}
    {{ form_model(display, {'request': 'onSaveWachendisplay'}) }}
{% else %}
    {{ form_open({'request': 'onSaveWachendisplay'}) }}
{% endif %}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('name', 'Bezeichnung', {'class':'is-required'}) }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {{ form_text('name', null ,{'class':'form-control'}) }}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-6">
        {{ form_label('enable_eventcategories', 'Bei folgenden Events einschalten') }}
    </div>
    <div class="col-sm-12 col-lg-6">
        {% for key, value in eventcategories %}
            <input id="checkbox-groups-{{key}}" name="enable_eventcategories[]" value="{{key}}" type="checkbox" {% if key in display.enable_eventcategories %}checked=checked" aria-checked="true"{% endif %} />
            <label for="checkbox-groups-{{key}}">{{value}}</label><br />
        {% endfor %}
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12">
        {{ form_label('enable_schedule_json', 'Einschalten nach Zeitplan') }}
        {{ form_hidden('enable_schedule_json') }}
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-12">
        <div class="intervals-legend">
            <span>Wochentag</span>
            <span>0</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span><b>6</b></span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span><b>12</b></span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
            <span><b>18</b></span>
            <span>19</span>
            <span>20</span>
            <span>21</span>
            <span>22</span>
            <span>23</span>
        </div>
        {% for key, value in weekdays %}
        <div class="intervals-holder" data-dow="{{ key }}">
            <span>{{ value }}</span>
            {% for i in 0..95 %}
                <span data-id = "{{ i }}" data-selected = "{{ display.getScheduleStatusByFlags(key,i) ? 'true' : 'false' }}"></span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% if resultingTodaysOnTimes %}
<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-3">
        <label>Einschaltzeiten heute</label>
    </div>
    <div class="col-sm-12 col-lg-9">
        <ul>
            {% if resultingTodaysOnTimes|length() > 0 %}
                {% for series in resultingTodaysOnTimes %}
                    <li>{{ series.from }} - {{ series.to }}</li>
                {% endfor %}
            {% else %}
                <li>Dauerhaft aus</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

<div class="row m-b-sm">
    <div class="col-sm-12 col-lg-3">
        <label>Testansicht</label>
    </div>
    <div class="col-sm-12 col-lg-9">
        {% if display and display.devices and display.devices|filter(v => v.isStateActive and v.isTypeMonitor)|length > 0 %}
            {% set activeMonitor = display.devices|filter(v => v.isStateActive and v.isTypeMonitor)|first %}
            {% set url = 'monitor'|page ~ '?injectToken=' ~ activeMonitor.token %}
            <p><a href="{{ url }}" target="_blank" class="btn btn-default" title="In Monitor ansehen"><i class="icon-eye-open"></i> Ansicht testen</a> (Änderungen zuvor speichern!)</p>
        {% else %}
            <p>Um die Ansicht zu testen muss die Konfiguration mindestens einem Monitor zugewiesen werden!</p>
        {% endif %}
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-sm-12">
        {{ form_label('module_layout_json', 'Layout und Module') }}
        {{ form_hidden('module_layout_json') }}
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-sm-3">
        Layout:
    </div>
    <div class="col-sm-9">
        {% for layout in layout_variants %}
        <div class="dashboard selected" data-preview-variant="{{ layout.id }}" data-cols="{{ layout.cols|join('|') }}">
            {% for col in layout.cols %}
            <div data-col="{{ col }}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-3">
        Modulplatzierung:
    </div>
    <div class="col-sm-6" id="layout_canvas">
        canvas loading...
    </div>
    <div class="col-sm-3 module-holder">
        <h4>Module</h4>
        {% for module in modules %}
        <div class="function-holder draggable" draggable="true" id="{{ module.key }}" data-sort="0">
            {{ module.name }}
            {% if module.cfg and module.cfg|length > 0 %}
                <a class="btn module-config" title="Einstellungen" style="padding: 0; margin: 0; font-size: inherit;"><i class="icon-gear"></i></a></a>
                <div class="cfg-holder">
                    {% for item,data in module.cfg %}
                        {% if item == 'dropdown' %}
                        <div>
                            <label for="{{ module.key }}_{{ data.name }}">{{ data.label }}</label>
                            <select id="{{ module.key }}_{{ data.name }}">
                                <option value="">keine Festlegung</option>
                                {% for k,v in data.values %}
                                    <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        {% if item == 'checkbox' %}
                        <div>
                            <input type="checkbox" id="{{ module.key }}_{{ data.name }}">
                            <label for="{{ module.key }}_{{ data.name }}">{{ data.label }}</label>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


<div class="row m-b-sm">
    <div class="col-sm-12 text-center">
        {{ form_submit('Speichern') }}
    </div>
</div>

{{ form_close() }}

<hr>


<div class="row m-b-sm">
    <div class="text-left col-xs-6">
        <p><a href="{{ 'wachendisplay'|page }}" class="btn btn-default">zurück</a></p>
    </div>
    <div class="text-right col-xs-6">
        {% if display.id > 0 %}
            <button data-request="onDeleteWachendisplay" data-request-confirm="Wachendisplay Konfiguration {{ display.name }} wirklich löschen?" class="btn btn-default">Wachendisplay Konfiguration löschen</button>
        {% endif %}
    </div>
</div>
{% endif %}