title = "Wachendisplay"
url = "/wachendisplay"
layout = "default"
submenuPartial = 'submenu/alarm'
is_hidden = 0

[firemonSession]
security = "user"
groupFlags[] = "is_role_alert"
redirect = "not-allowed"
==
<div class="row m-b-sm">
    <div class="col-sm-9 col-xs-12">
        <h1>Wachendisplay</h1>
    </div>
    <div class="col-sm-3 col-xs-12 text-right">
        {% if station %}
        <p><a href="{{ 'wachendisplay-edit'|page({ wachendisplay_id: 0 }) }}" class="btn btn-default m-t-md">Wachendisplay hinzufügen</a></p>
        {% endif %}
    </div>
</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Konfiguration</th>
        <th scope="col">Module</th>
        <th scope="col">Verbundene Monitore</th>
    </tr>
    </thead>
    <tbody>
    {% if station.wachendisplays %}
    {% for display in station.wachendisplays|sort((a,b) => b.name <=> a.name) %}
    <tr>
        <th scope="row"><a href="{{ 'wachendisplay-edit'|page({ wachendisplay_id: display.id }) }}">{{ display.name }}</a></th>
        <td>{{ display.usedModuleCount }}</th>
        <td>{{ display.devices|length }}</th>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">Keine Konfigurationen vorhanden</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
<hr>
<div class="text-center m-t-lg">
    <p>Hinweis: Hier können Wachdisplay Konfigurationen erstellt werden. Zur Aktivierung des Wachdisplays muss in der Gerätekonfiguration des gewünschten Monitors, auf dem das Wachdisplay erscheinen soll, die gewünschte Wachdisplay Konfiguration aktiviert werden</p>
</div>