<ul class="col-xs-12 nav sidebar">
    {% if user %}
        <li class="{% if this.page.id == 'account-index' %}active{% endif %}"><a href="{{ 'account-index'|page }}">Übersicht</a></li>
        <li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}">Meine Daten</a></li>
        <li class="{% if this.page.id == 'user-news' %}active{% endif %}"><a href="{{ 'user-news'|page({news_id: 0}) }}">News</a></li>
        <li class="{% if this.page.id == 'events' %}active{% endif %}"><a href="{{ 'events'|page }}">Termine &amp; Events</a></li>
        <li class="{% if this.page.id in ['absences','absence-edit'] %}active{% endif %}"><a href="{{ 'absences'|page }}">Abwesenheiten</a></li>
        <li class="{% if this.page.id == 'notifications' %}active{% endif %}"><a href="{{ 'notifications'|page }}">Notification Einstellungen</a></li>
        <li class="{% if this.page.id == 'pushtokens' %}active{% endif %}"><a href="{{ 'pushtokens'|page }}">Push-Tokens</a></li>
        <li class="{% if this.page.id == 'dsgvo-info' %}active{% endif %}"><a href="{{ 'dsgvo-info'|page }}">Datenschutz Information</a></li>
        <li><a href="{{ 'logout'|page }}">Abmelden</a></li>
    {% endif %}
</ul>