<ul class="col-xs-12 nav sidebar">
    {% if user and alarmierung_admin %}
        <li class="{% if this.page.id == 'alarme' %}active{% endif %}"><a href="{{ 'alarme'|page }}">Übersicht</a></li>
        <li class="{% if this.page.id in ['devices','device-edit'] %}active{% endif %}"><a href="{{ 'devices'|page }}">Monitore</a></li>
        <li class="{% if this.page.id in ['schleifen','schleife-edit'] %}active{% endif %}"><a href="{{ 'schleifen'|page }}">Schleifen</a></li>
        <li class="{% if this.page.id == 'schleifen-zuordnung' %}active{% endif %}"><a href="{{ 'schleifen-zuordnung'|page }}">Schleifen Zuordnung</a></li>
        <li class="{% if this.page.id in ['wachendisplay','wachendisplay-edit'] %}active{% endif %}"><a href="{{ 'wachendisplay'|page }}">Wachendisplay</a></li>
        <li class="{% if this.page.id == 'mails' %}active{% endif %}"><a href="{{ 'mails'|page }}">E-Mail Analyse</a></li>
        <li class="{% if this.page.id == 'alarm-test' %}active{% endif %}"><a href="{{ 'alarm-test'|page }}">Alarmierung auslösen</a></li>
        <li class="{% if this.page.id in ['gpio-alert-trigger-form', 'gpio-alert-trigger-list'] %}active{% endif %}"><a href="{{ 'gpio-alert-trigger-list'|page }}">GPIO Alarm Trigger (Beta)</a></li>
        {% if station.isAmtswehr %}
        <li class="{% if this.page.id == 'refuest-alarmierung' %}active{% endif %}"><a href="{{ 'refuest-alarmierung'|page({alert_id: 0}) }}">ReFüSt Modul (BETA)</a></li>
        {% endif %}
    {% endif %}
</ul>