{% if user %}
<div class="sidebar-avatar">
    <div class="hidden-xs">
    {% if user.avatar %}
    <img src="{{ user.avatar.path|resize(100, 100, { mode: 'crop' }) }}" alt=""/>
    {% else %}
    <img src="{{ 'assets/icons/avatar.png'|theme|resize(100, 100, { mode: 'crop' }) }}" alt="">
    {% endif %}
    </div>
    <div class="profile-name">
        {{ user.name }} {{ user.surname }}
    </div>
    <div class="profile-station">
        {% if user.linked_stations|length > 0 %}
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="stationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="selectedStationLabel">{{ station.name }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="stationDropdown">
                <li><a href="#" data-request="onChangeStation" data-request-confirm="Wirklich zu {{ user.station.name }} wechseln?" data-request-data="station_id: {{ user.station.id }}">{{ user.station.name }}</a></li>
                {% if user.linked_stations|length > 0 %}
                {% for linkedStation in user.linked_stations %}
                <li><a href="#" data-request="onChangeStation" data-request-confirm="Wirklich zu {{ linkedStation.name }} wechseln?" data-request-data="station_id: {{ linkedStation.id }}">{{ linkedStation.name }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% else %}
        {{ station.name }}
        {% endif %}
    </div>
</div>
{% endif %}