<ul class="col-xs-12 nav sidebar">
    {% if user and dienstplan_admin %}
        <li class="{% if this.page.id in ['presences','presence-edit'] %}active{% endif %}"><a href="{{ 'presences'|page }}">Dienstpläne</a></li>
        <li class="{% if this.page.id == 'presence-categories' %}active{% endif %}"><a href="{{ 'presence-categories'|page }}">Diensplan Kategorien</a></li>
    {% endif %}
</ul>