<ul class="col-xs-12 nav sidebar">
    {% if user %}
        {% if termine_admin %}
            <li class="{% if this.page.id  in ['event-edit','event-list'] %}active{% endif %}"><a href="{{ 'event-list'|page }}">Termine &amp; Events</a></li>
            <li class="{% if this.page.id  in ['news','news-edit'] %}active{% endif %}"><a href="{{ 'news'|page }}">News</a></li>
        {% endif %}
    {% endif %}
</ul>