<ul class="col-xs-12 nav sidebar">
    {% if user and feuerwehr_admin %}
            <li class="{% if this.page.id in ['feuerwehr'] %}active{% endif %}"><a href="{{ 'feuerwehr'|page }}">Übersicht</a></li>
            <li class="{% if this.page.id in ['feuerwehr-edit'] %}active{% endif %}"><a href="{{ 'feuerwehr-edit'|page }}">Feuerwehr-Daten</a></li>
            <li class="{% if this.page.id in ['groups','groups-edit'] %}active{% endif %}"><a href="{{ 'groups'|page }}">Gruppen &amp; Funktionen</a></li>
            <li class="{% if this.page.id in ['kameraden','kamerad-edit','kameraden-import','invites','kamerad-roles'] %}active{% endif %}"><a href="{{ 'kameraden'|page }}">Einsatzkräfte</a></li>
            <li class="{% if this.page.id in ['hydrants','hydrant-edit','hydrant-import','hydrant-import-osm'] %}active{% endif %}"><a href="{{ 'hydrants'|page }}">Wasserentnahmestellen</a></li>
            <li class="{% if this.page.id in ['rescuepoints','rescuepoint-edit'] %}active{% endif %}"><a href="{{ 'rescuepoints'|page }}">Rettungspunkte</a></li>
            <li class="{% if this.page.id in ['uebungsobjekte','uebungsobjekt-edit'] %}active{% endif %}"><a href="{{ 'uebungsobjekte'|page }}">Groß- und Sonderobjekte</a></li>
            <li class="{% if this.page.id in ['bereitstellungsraeume','bereitstellungsraum-edit'] %}active{% endif %}"><a href="{{ 'bereitstellungsraeume'|page }}">Bereitstellungsräume</a></li>
    {% endif %}
</ul>